@media only screen and (max-width: 480px) {
    * {
      margin: 0;
      padding: 0;
    }
  
    .conteudo-mobile {
      display: block;
      width: 100vw;
    }
  
    .conteudo-desktop {
      display: none;
    }
  
    
    a.mapculinaria {
      text-align: center;
      width: 54px;
      height: 19px;
      color: black;
      font-weight: 700;
      margin-left: 7%;
    }
  
    .mapcu {
      margin-top: 5%;
    }
  
    img.imgcu {
      width: 84px;
      height: 84px;
      margin-left: 4%;
      transform: translate(0, 13px);
    }
  
    h1.titulocu {
      font-family: Heavitas;
      color: #cb1154;
      max-width: 150px;
      font-size: 35px;
      font-weight: 400;
      transform: translate(110px, -70px);
    }
  
    p.pcu {
      text-align: left;
      font-family: Fira Sans;
      width: 65%;
      font-size: 12px;
      transform: translate(110px, -70px);
    }
  
  
    .fcutodas {
      min-width: 35%;
      height: 35px;
      padding: 2px 2px 2px 2px;
      border-radius: 5px;
      background-color: #f2f2f2;
      box-sizing: border-box;
      font-family: "Fira Sans", sans-serif;
      color: #333333;
      text-align: center;
      line-height: normal;
      border: none;
      gap: 100px;
  
    }
  
    .filtrocu {
      display: flex;
      gap: 10px;
      overflow: scroll;
      height: 100%;
      margin-left: 7%;
      margin-top: -50px;
      min-width: 140px;
      padding: 2px 2px 2px 2px;
      border-radius: 5px;
      box-sizing: border-box;
      font-family: "Fira Sans", sans-serif;
      color: #333333;
      text-align: center;
      line-height: normal;
      border: none;
      width: 86%;
      overflow-x: auto; 
    }
  
    .clicado {
      background-color: #cb1154;
      box-sizing: border-box;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-weight: 700;
      color: #ffffff;
      min-width: 140px;
      padding: 2px 2px 2px 2px;
      gap: 10px;
      border-radius: 5px;
      border: none;
    }
  }

  @media only screen and (min-width: 480px) {
    * {
      margin: 0;
      padding: 0;
    }
  
    .conteudo-desktop {
      display: block;
      width: 100vw;
    }
  
    .conteudo-mobile {
      display: none;
    }
  
    * {
      font-family: Heavitas;
      padding: 0;
      margin: 0;
    }
  
    @font-face {
      font-family: Heavitas;
      src: url("../fonts/Heavitas.ttf");
    }
  
    @font-face {
      font-family: Fira Sans Bold;
      src: url("../fonts/fira-sans.bold.ttf");
    }
  
    @font-face {
      font-family: Fira Sans;
      src: url("../fonts/fira-sans.regular.ttf");
    }
 
    .mapa_do_site-link {
      margin-left: 35vh;
      font-family: Fira Sans;
      color: black;
    }
    .mapa_do_site-atual {
      font-family: Fira Sans Bold;
      color: #9e5fef;
    }
    .cabecalho_categoria{
      margin-top: 2vh;
      display: flex;
      justify-content: space-between;
      padding-left: 33vh;
      padding-right: 33vh;
    }
    .categoria_textos{
      display: flex;
    }
    .imagem_pagina_categoria {
      height: 120px;
    }
    .titulo-descricao-categoria{
      display: inline;
      margin-left: 2vh;
    }
    .titulo_pagina_categoria{
      margin-top: 1vh;
      font-size: 45px;
      font-weight: 400 ;
    }
    .Cateculinaria{
      color: #cb1154;
    }
    .Catelimpeza {
        color: #027de1;
      }
    .Catebemestar {
        color: #00cd83;
    }
    .descricao_pagina_categoria {
      width: 35vh;
      font-size: 15px;
      font-family: Fira Sans;
    }
    .filtros_categoria {
      display: flex;
      gap: 2vh;
      margin-top: 5vh;
    }
    .filtro_cate {
      height: 6vh;
      padding: 0.2vh 3vh 0.2vh 3vh;
      border-radius: 20px;
      background-color: #f2f2f2;
      font-family: "Fira Sans", sans-serif;
      font-size: 25px;
      font-weight: 900;
      color: #333333;
      text-align: center;
      border: none;
    }
  }