@media only screen and (min-width: 480px) {
  .postagens {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4vh;
    width: 133vh;
  }

  /* Postagem individual - Início */
  .postagem {
    width: 41.5vh;
    align-self: flex-start;
    cursor: pointer;
    justify-content: space-between;
    z-index: 1;
  }
  .usuario-foto-nome{
    display: inline-flex;
    gap: 1vh;
    align-items: center;
    max-width: fit-content;
  }
  .usuario-foto-nome:hover{
    background-color: #9d5fef11;
    padding: 1vh 2vh 1vh 1vh;
    border-radius: 10px;
  }
  #img-usuario-post, #img-login_hover-post, #img-login-post{
    width: 4vh;
    border-radius: 50%;
  }
  #img-login-post{
    display: inline-block;
  }
  #img-login_hover-post{
    position: absolute;
    display: none;
  }

  .postagem:hover .hover_ingredientes_basePost-culinaria {
    display: flex;
    flex-direction: column;
  }

  .postagem:hover .hover_ingredientes_basePost-limpeza {
    display: flex;
    flex-direction: column;
  }

  .postagem:hover .hover_ingredientes_basePost-bemEstar {
    display: flex;
    flex-direction: column;
  }

  .postagem:hover .titulo_post,
  .postagem:hover .postagem_info_primeiro_plano {
    display: none;
  }

  .postagem,
  .pergunta {
    transition: transform 0.3s ease;
  }

  .postagem:hover,
  .pergunta:hover {
    transform: translateY(-5px);
  }

  .postagem_info_primeiro_plano {
    z-index: 1;
  }

  .postagem_parte_de_cima {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 1vh;
    position: relative;
  }

  .titulo_post {
    margin-right: 10vh;
    font-size: 2.3vh;
    width: 30vh;
    font-family: Fira Sans;
    color: white;
    position: absolute;
    padding-bottom: 1vh;
    z-index: 2;
  }

  #icon-categoria-branco {
    width: 4.5vh;
    height: 4.5vh;
    margin-right: 2vh;
    position: absolute;
    padding-bottom: 1vh;
    z-index: 2;
  }

  .imagem-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }

  .imagem-container::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 8vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); 
  }

  .imagem_postagem {
    z-index: 0;
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    position: relative;
  }
  .patinhas-favoritar{
    justify-content: space-between;
    display: flex;
    height: 4vh;
  }

  .patinha-indicador{
    width: 3.5vh;
    display: flex;
  }
  .patinha-indicador:hover + .span-patinha{
    display: block;
  }
  .span-patinha{
    display: none;
    position: absolute;
    transform: translate(3vh, 3vh);
    font-family: Fira Sans Bold;
    font-size: 1.8vh;
    color: white;
    background-color: #cb218c;
    padding: 0.8vh;
    border-radius: 10px;
  }

  .hover_ingredientes_basePost-culinaria,
  .hover_ingredientes_basePost-limpeza,
  .hover_ingredientes_basePost-bemEstar {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: none;
    z-index: 5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
    padding: 2vh;
  }

  .hover_ingredientes_basePost-culinaria {
    background-color: #cb1155a0;
  }

  .hover_ingredientes_basePost-limpeza {
    background-color: #027de1a0;
  }

  .hover_ingredientes_basePost-bemEstar {
    background-color: #00cd83a0;
  }

  .ingredientes_basePost {
    color: white;
    font-weight: 600f;
    font-size: 2vh;
    font-family: Fira Sans;
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;
  }

  .legenda {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 100%;
  }

  .legenda_relogio,
  .legenda_estrela,
  .legenda_partes {
    display: flex;
    align-items: center;
    gap: 1.5vh;
  }

  .legenda img {
    height: 3.5vh;
  }

  .legenda h3 {
    font-family: Fira Sans;
    font-size: 20px;
    color: #333333ef;
  }

  .relogio h3 {
    margin-left: 10px;
  }

  .estrela h3 {
    margin-left: 10px;
  }

  .partes h3 {
    margin-left: 10px;
  }

  .hover-post {
    display: none;
    background-color: #cb215483;
    width: 305px;
    height: 338px;
    position: absolute;
    margin-top: -380px;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hover-post h3 {
    color: white;
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    margin-top: 125px;
    margin-right: 0;
  }

  .postagem:hover+.hover-post {
    display: block;
    transition: 1s;
  }

  .postagem:hover+.info-cima-post {
    display: none;
  }

  .postagem:hover+.info-cima-post {
    display: none;
  }

  /* Postagem individual - Fim */


  /* Pergunta individual - Inicio */
  .pergunta {
    width: 41.5vh;
    align-self: flex-start;
    cursor: pointer;
    transition: font-size 0.3s ease-in-out;
  }

  .pergunta:hover .parte-cima-pergunta {
    background-color: #d9d9d9;
  }

  .pergunta:hover .texto-pergunta {
    font-size: 2.1vh;
  }

  .parte-cima-pergunta {
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2.5vh;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .nome-usuario-pergunta-culinaria,
  .nome-usuario-pergunta-limpeza,
  .nome-usuario-pergunta-bemestar {
    font-size: 1.7vh;
    font-family: Fira Sans Bold;
    margin-bottom: 0.5vh;
    font-weight: 500;
  }

  .nome-usuario-pergunta-culinaria {
    color: #CB1154;
  }

  .nome-usuario-pergunta-limpeza {
    color: #027de1;
  }

  .nome-usuario-pergunta-bemestar {
    color: #00cd83;
  }

  .texto-pergunta {
    font-family: Fira Sans;
    color: #333333;
    font-size: 2vh;
    font-weight: 600;
    transition: font-size 0.3s ease-in-out;
  }

  .parte-baixo-pergunta {
    display: flex;
    padding: 1vh;
    height: 3vh;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 5vh;
  }

  .figureCulinaria {
    background-color: #CB1154;
  }

  .figureLimpeza {
    background-color: #027de1;
  }

  .figureBemEstar {
    background-color: #00cd83;
  }

  .pergunta-categoria,
  .patinhas {
    display: flex;
    gap: 1vh;
  }

  .pergunta-categoria img,
  .patinhas img {
    width: 3vh;
    height: 3vh;
  }

  .pergunta-categoria p,
  .patinhas p {
    font-family: Fira Sans;
    color: white;
    font-size: 20px;
    margin-top: 0.2vh;
    font-weight: 600;
  }

  /* Pergunta individual - Fim */


  /* Paginador - Inicio */
  .notificador {
    display: grid;
  }

  /* Paginador - Fim */

}

@media only screen and (max-width: 480px) {
  * {
    font-family: Heavitas;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }

  @font-face {
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }

  @font-face {
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }

  .conteudo.mobile {
    display: block;
    width: 100vw;
  }

  .conteudo.desktop {
    display: none;
  }

  /*basepost*/
  #pinterest-style {
    margin-top: 5vw;
    height: 320vw;

  }

  .pinterest-style-class {
    margin-left: -7vw;
  }

  #primeira-fileira-posts {
    position: relative;
    display: inline-grid;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  #segunda-fileira-posts {
    position: absolute;
    display: inline-grid;
    flex-direction: column;
  }

  #primeira-fileira-posts-em-alta {
    position: absolute;
    display: inline-grid;
    flex-direction: column;
  }

  #segunda-fileira-posts-em-alta {
    position: relative;
    display: inline-grid;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  #base-post {
    width: 46.93vw;
    display: block;
  }

  /*parte PARA TODOS de baixo do post*/
  #icon-post {
    width: 4.8vw;
    height: 4.8vw;
    display: inline-block;
    margin-left: 1vw;
  }

  #icon-salvar-vazado {
    width: 6.6vw;
    height: 6.66vw;
    margin-top: 3.73vw;
    margin-left: 2.5vw;
  }

  #descri-icon {
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 13px;
    color: #333333;
    line-height: normal;
    display: inline-block;
  }

  #post {
    position: relative;
  }

  #plongpress {
    width: 32vw;
    height: 24vw;
    margin-top: 3.2vw;
    margin-left: 3.5vw;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #long-cima {
    display: flex;
  }

  #icon-limpeza-longpress {
    width: 9.86vw;
    height: 9.86vw;
  }

  #icon-culinaria-longpress {
    width: 7.86vw;
    height: 7.86vw;
    margin-top: 1vw;
  }

  #texto-longpress {
    width: 90vw;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
  }

  #post-pergunta {
    position: relative;
  }

  #post-bolin-de-chuva {
    position: relative;
  }

  #post-cachos {
    position: relative;
  }

  /*FIM parte de baixo do post*/


  /*1 POST DISPENSA - FILEIRA 1*/
  #dispensa {
    width: 46.93vw;
    height: 45.86vw;
  }

  #descri-post {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 34vw;
    width: 40vw;
  }

  #sombra {
    top: 23.46vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
    box-sizing: border-box;
    position: absolute;
  }

  #post-baixo {
    height: 7vw;
    padding: 1vw 2vw 2vw 0vw;
    justify-content: space-around;
  }

  #post-dispensa-fileira1 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-dispensa-fileira1 {
    background-color: #027de187;
    width: 46.93vw;
    height: 45.86vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #long-baixo {
    display: flex;
    margin-top: 33vw;
    margin-left: -42vw;
  }

  /*FINAL 1 POST DISPENSA - FILEIRA 1*/

  /*2 PERGUNTA LAVAR ROUPA - FILEIRA 1*/
  #text-pergunta {
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: black;
    left: 3vw;
    top: 3vw;
    width: 40vw;
    position: absolute;
  }

  #fundoperg {
    top: 23.46vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-color: #8c8c8c;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  #post-perg {
    display: grid;
    grid-template-columns: auto auto;
  }

  #post-baixo-h {
    height: 7vw;
    padding: 2vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  /*FINAL 2 PERGUNTA LAVAR ROUPA - FILEIRA 1*/

  /*3 POST BOLINHO DE CHUVA - FILEIRA 1*/
  #bolin {
    width: 46.93vw;
    height: 82.93vw;
  }

  #sombra-a {
    top: 60.53vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
    box-sizing: border-box;
    position: absolute;
  }

  #post-baixo-a {
    height: 7vw;
    padding: 1vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  #descri-post-a {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 70.30vw;
    width: 40vw;
  }

  #post-bolin-fileira1 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-bolin-fileira1 {
    margin-top: 92vw;
    background-color: #cb1155a1;
    width: 46.93vw;
    height: 82.93vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bolin-long-baixo {
    display: flex;
    margin-top: 69vw;
    margin-left: -41vw;
  }

  /*FIM 3 POST BOLINHO DE CHUVA - FILEIRA 1*/

  /*4 POST CACHOS - FILEIRA 1*/
  #cachos {
    width: 46.93vw;
    height: 63.2vw;
  }

  #descri-post-cachos-fileira1 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 50.30vw;
    width: 40vw;
  }

  #sombra-b {
    top: 40.26vw;
    width: 46.93vw;
    height: 22.66vw;
    opacity: 0.4;
    padding: 0.53vw 0.53vw 0.53vw 0.53vw;
    border-radius: 1.33vw;
    background-image: linear-gradient(-180deg, rgba(242, 242, 242, 0) 0%, #000000 95%);
    box-sizing: border-box;
    position: absolute;
  }

  #post-cachos-fileira1 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-cachos-fileira1 {
    width: 46.93vw;
    height: 63.2vw;
    background-color: #00cd82a4;
    margin-top: 186.5vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #cachos-long-baixo {
    display: flex;
    margin-top: 50vw;
    margin-left: -42vw;
  }

  /*FIM 4 POST CACHOS - FILEIRA 1*/

  /*DESCRIÇÃO POSTS - FILEIRA 2 (A FORMATAÇÃO DO RESTO É A MESMA)*/
  #post-baixo-c {
    height: 7vw;
    padding: 1vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  #post-baixo-e {
    height: 7vw;
    padding: 1vw 2vw 2.66vw 0vw;
    justify-content: space-around;
  }

  #post-baixo-f {
    height: 7vw;
    padding: 0vw 1vw 2vw 0vw;
    justify-content: space-around;
  }

  /*FIM DESCRIÇÃO POSTS - FILEIRA 2*/

  /* 1 POST CACHOS - FILEIRA 2 */
  #descri-post-cachos-fileira2 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 50.30vw;
    width: 40vw;
  }

  #post-cachos-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-cachos-fileira2 {
    width: 46.93vw;
    height: 63.2vw;
    background-color: #00cd82a4;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #cachos2-long-baixo {
    display: flex;
    margin-top: 50vw;
    margin-left: -42vw;
  }

  /* 1 POST CACHOS - FILEIRA 2 */

  /* 2 POST BOLO DE CENOURA - FILEIRA 2 */
  #descri-post-bolo-de-cenoura {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 34vw;
    width: 40vw;
  }

  #post-bolo-de-cenoura-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-bolo-de-cenoura-fileira2 {
    width: 46.93vw;
    height: 45.86vw;
    background-color: #cb1155a1;
    margin-top: 73.5vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bolo-de-cenoura-long-baixo {
    display: flex;
    margin-top: 34vw;
    margin-left: -42vw;
  }

  /* FINAL 2 POST BOLO DE CENOURA - FILEIRA 2 */

  /* 3 POST BOLINHO DE CHUVA - FILEIRA 2 */
  #descri-post-bolin-fileira2 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 70.30vw;
    width: 40vw;
  }

  #post-bolin-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-bolin-fileira2 {
    margin-top: 166vw;
    background-color: #cb1155a1;
    width: 46.93vw;
    height: 82.93vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #bolin2-long-baixo {
    display: flex;
    margin-top: 69vw;
    margin-left: -41vw;
  }

  /* FINAL 3 POST BOLINHO DE CHUVA - FILEIRA 2 */

  /* 3 POST DISPENSA - FILEIRA 2 */
  #descri-post-dispensa-fileira2 {
    position: absolute;
    font-family: Fira Sans Bold;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    left: 2.13vw;
    top: 34vw;
    width: 40vw;
  }

  #post-dispensa-fileira2 {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #longpress-post-dispensa-fileira2 {
    margin-top: 260.5vw;
    background-color: #027de187;
    width: 46.93vw;
    height: 45.86vw;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #long-baixo-dispensa-fileira2 {
    display: flex;
    margin-top: 33vw;
    margin-left: -42vw;
  }

  /* 3 POST DISPENSA - FILEIRA 2 */

  /*fim basepost*/
}