@media only screen and (max-width: 480px) {

  @font-face {
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }

  @font-face {
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }

  @font-face {
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }

  * {
    font-family: 'Heavitas';
    padding: 0;
    margin: 0;
  }

  .conteudo-dispositivo.mobile {
    display: block;
    width: 100vw;
  }

  #criar-post-cancela-mb {
    width: 66.4%;
    height: 6.4%;
    margin-left: 6.4%;
    margin-top: 5.06%;
    background-color: #ffffff;
  }

  #cancela-criar-post-mb {
    display: inline-block;
    color: #4d16bb;
    font-size: 130%;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #4d16bb;
    text-align: right;
    line-height: normal;
  }

  #titulo-criar-post-mb {
    display: inline-block;
    width: 45.86%;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Heavitas", sans-serif;
    color: #4d16bb;
    margin-left: 20vw;
    font-size: 120%;
    white-space: nowrap;
  }

  .linha-baixo-mb {
    width: 100%;
    height: 4vw;
    padding: 2px 2px 2px 2px;
    background-image: linear-gradient(89.9984726943774deg, #ffa462 0%, #9d21cb 48.6110592628467%, #4d16bb 99.2062434669349%);
    position: relative;
    overflow: hidden;
    transform: rotate(180deg);
    box-sizing: border-box;
  }

  #progresso-mb {
    box-shadow: 0 0 5vw 8vw rgba(225, 225, 225, 0.904);
    width: 100vw;
    height: 4vw;
    padding: 2px 2px 2px 2px;
    background-color: #d7d7d7;
    position: absolute;
    box-sizing: border-box;
  }

  #criar-post-etapas-mb {
    width: 100vw;
  }

  /* Estilos para a lista de tarefas */
  .lista-tarefas-mb {
    width: 100vw;
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 4vw;
    background-color: #ffffff;
    margin-top: 7%;
  }

  /* Estilos para as tarefas */
  .tarefa-mb {
    display: none;
    min-width: 100%;
  }

  .tarefa-mb.ativo {
    display: block;
    min-width: 100%;
  }

  #conteudoTarefa1-mb {
    left: 0;
  }

  #conteudoTarefa2-mb {
    left: 0;
 
  }

  #conteudoTarefa3-mb {
    left: 0;
  
  }

  #detalhes-mb {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #4d16bb;
    text-align: left;
    line-height: normal;
    font-size: 180%;
  overflow: hidden;
    margin-left: 7vw;
  }

  #elementos-mb {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #921FC9;
    text-align: left;
    line-height: normal;
    font-size: 180%;
    margin-left: 7%;
  }

  #midias-mb {
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-family: "Heavitas", sans-serif;
    color: #CB218C;
    text-align: left;
    line-height: normal;
    font-size: 180%;
    margin-left: 7%;
  }

  .conteudo-mb {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  #botoes-criar-post-mb {
    width: 100vw;
    height: 16vw;
    padding-top: 5vw;
    border-top: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.35);
  }

  #btnAvancar-mb {
    font-size: 100%;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    width: 42vw;
    height: 10.10vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    background-image: linear-gradient(89.99098801485042deg, #4d16bb 0%, #9d21cb 99.20266782940685%);
    color: #ffffff;
    text-align: center;
    border: none;
    margin-left: 52vw;
    position: relative;
  }

  #btnVoltar-mb {
    width: 42vw;
    height: 10.10vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid #4d16bb;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 100%;
    color: #4d16bb;
    text-align: center;
    line-height: normal;
    margin-left: 5vw;
    position: absolute;
  }

  #detalhes-primeira-parte-mb {
    border-top: 1px solid #909090;
    margin-top: 5vw;
    padding-top: 4.26vw;
    width: 100vw;
  }

  #titulo-da-postagem-mb {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    font-size: 140%;
    margin-left: 7vw;
  }

  #texto-titulo-da-postagem-mb {
    width: 82vw;
    height: 9.33vw;
    padding: 2px 2px 2px 2px;
    margin-left: 7vw;
    margin-top: 1.55vw;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-size: 100%;
    padding-left: 1vw;
    padding-bottom: 2vw;
    color: #333333;
    text-align: left;

    &::-webkit-input-placeholder {
      color: #adadad;
    }

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }
    }
  }

  #detalhes-segunda-parte-mb {
    margin-top: 5vw;
    border-top: 1px solid #909090;
    width: 100vw;
  }

  #icon-seta-select-mb {
    margin-left: -8vw;
    transform: rotate(180deg);
  }


  .dialogoselect-mb {
    margin-left: 7vw;
    margin-top: 5vw;
    padding-left: 1.06vw;
    width: 85vw;
    height: 10.66vw;
    outline: none;
    border-radius: 5px;
    border: 1px solid #979797;

    &::-webkit-input-placeholder {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    font-size: 140%;
    }

    &:focus {
      background-position-x: 96%;
      background-position-y: 50%;
      background-repeat: no-repeat;
      border: 2px #CB218C solid;
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      &::-webkit-input-placeholder {
        color: #CB218C;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-weight: 700;
      text-align: left;
      font-size: 140%;
      }
    }
  }

  
  .dialogoselect-mb.categoria-culinaria {
    background-color: #cb2154;
    
    &::-webkit-input-placeholder {
      color: #ffff;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 140%;
    }
  }

  .dialogoselect-mb.categoria-limpeza {
    background-color: #027de1;
    
    &::-webkit-input-placeholder {
      color: #ffff;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-weight: 700;
      text-align: left;
      font-size: 140%;
    }
  }

  .dialogoselect-mb.categoria-bemestar {
    background-color: #00cd83;
    
    &::-webkit-input-placeholder {
      color: #ffff;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-weight: 700;
      text-align: left;
      font-size: 140%;
    }
  }

  .dropDown-mb {
    box-sizing: border-box;
    width: 87vw;
    height: 36vw;
    margin-left: 7vw;
    padding-top: 3.2vw;
    padding-left: 12vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    font-size: 100%;
    border: 2px #cb218c solid;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
  }

  #icon-dropdown-mb {
    width: 8vw;
    height: 8vw;
    position: absolute;
    margin-left: -8vw;
  }


  .item-select-detalhes-mb{
    background-color: #f2f2f2;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-size: 100%;
    color: #333333;
    cursor: pointer;
    position: relative;
    padding-top: 2vw;
    margin-left: 2vw;
  }

  #item-select-detalhes-mb-1 {
    margin-bottom: 5.86%;
  }

  #item-select-detalhes-mb-2 {
    margin-bottom: 5.86%;
  }

  #tempo-resultado-detalhes-mb {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size: 140%;
    margin-left: 6.4%;
    margin-top: 8vw;
  }

  #tempo-detalhes-mb {
    display: flex;
    align-items: center;
    margin-top: 5.6vw;
    margin-left: 6.4%;
    color: #979797;
  }

  #imagem-tempo-detalhes-mb {
    width: 9.06vw;
    height: 9.06vw;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    fill: #909090;
  }

  #imagem-tempo-detalhes-porcoes-mb {
    width: 9.06vw;
    height: 9.06vw;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    fill: #909090;
  }

  #tempo-detalhes-porcoes-mb {
    display: none;
    align-items: center;
    margin-top: 5.6vw;
    margin-left: 6.4%;
    color: #979797;
  }

  #horas-tempo-detalhes-mb {
    width: 9.06vw;
    height: 9.33vw;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-size: 120%;
    color: #333333;
    box-sizing: border-box;
    padding-left: 1.3vw;
    margin-left: 2.93vw;
    margin-right: 2vw;

    &::-webkit-input-placeholder {
      color: #adadad;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-size: 120%;
    }

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;
      color: #333333;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }
    }
  }

  #minutos-tempo-detalhes-mb {
    width: 9.06vw;
    height: 9.33vw;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-size: 120%;
    color: #333333;
    box-sizing: border-box;
    padding-left: 1.3vw;
    margin-left: 2.93vw;
    margin-right: 2vw;

    &::-webkit-input-placeholder {
      color: #adadad;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-size: 120%;
    }

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;
      color: #333333;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }
    }
  }

  #porcoes-tempo-detalhes-mb{
    width: 9.06vw;
    height: 9.33vw;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-size: 120%;
    box-sizing: border-box;
    padding-left: 1.3vw;
    margin-left: 2.93vw;
    margin-right: 2vw;

    &::-webkit-input-placeholder {
      color: #adadad;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-size: 120%;
    }

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;
      color: #000;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }
    }
  }

  #descricao-detalhes-total-mb {
    margin-top: 10vw;
    margin-left: 8vw;
  }

  #titulo-descricao-detalhes-mb {
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #333333;
    margin-bottom: 3vw;
  }

  #descricao-detalhes-mb {
    width: 85vw;
    height: 7.2vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 0;
    border: 1px solid #909090;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    text-align: left;

    &:focus {
      border: none;
      outline: 2px #CB218C solid;
      color: #000;

      &::-webkit-input-placeholder {
        color: #cb218c;
      }

      ;

      input#dialogoselect-mb::-moz-placeholder {
        color: #cb218c;
      }

      ;
    }
  }

  #titulo-subcategoria-detalhes-mb {
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #333333;
    margin-top: 7vw;
    margin-bottom: 3vw;
  }

  #subcategoria-detalhes-total-mb {
    margin-top: 4.53vw;
    margin-left: 8vw;
  }

  .input-container-mb {
    margin-bottom: 10%;
  }

  #input-text-subcategoria-mb {
    display: inline-block;
    width: 87.2vw;
    height: 8.26vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid #909090;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;

    &:focus {
      border: none;
      outline: 2px solid #cb218c;

    }
  }

  #icon-mb {
    display: inline-block;
    width: 5.06vw;
    height: 5.06vw;
    margin-left: -8vw;
    margin-bottom: -1.6vw;
  }

  .message-list-mb {
    width: 82vw;
    height: 9vw;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-top: -7vw;
    border-radius: 5px;
    background-color: #e0e0e0;
    display: flex;
  }

  #div-etiqueta-subcategoria-mb {
    width: relative;
    height: 4.8vw;
    border-radius: 6px;
    background-color: #cb218c;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #ffff;
    text-align: center;
    line-height: normal;
    margin: 0px 1% 0px 1%;
    padding: 0px 1% 1% 1%;
  }

  #esqueleto-elementos-mb {
    border-top: 1px solid #909090;
    margin-top: 5.06%;
    padding-top: 4.26%;
  }

  #linha-rosa-ingredientes-mb {
    width: 1.06vw;
    height: 49.06vw;
    padding: 2px 2px 2px 2px;
    background-color: #cb218c;
    box-sizing: border-box;
    position: relative;
    margin-top: -25vw;
  }

  #sem-a-linha-rosa-mb {
    margin-left: 9vw;
    padding-top: 6vw;
  }

  #titulo-ingredientes-elementos-mb {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #cb218c;
    text-align: left;
    margin-left: 14vw;
    margin-bottom: -17vw;
    font-size: 130%;
    border: 0;
  }

  #botao-de-add-ingrediente-mb {
    margin-left: 79vw;
    margin-bottom: -12vw;
  }

  #botao-de-tirar-ingrediente-mb {
    margin-left: 88vw;
    margin-bottom: -6.5vw;
  }

  #numero-do-ingrediente-mb {
    width: 7vw;
    margin-top: 7.4vw;
    margin-left: -3vw;
    padding-left: 1.4vw;
    border: 0;
    background-color: white;
    outline: none;
    font-family: "Fira Sans", sans-serif;
    font-size: 130%;
    font-weight: 700;
    color: #cb218c;

    &::-webkit-input-placeholder {
      color: #909090;
    }
  }

  #nome-do-ingrediente-mb {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 80%;
    color: #333333;
    text-align: left;
    margin-top: 3vw;
    margin-left: 7vw;
  }

  #input-nome-do-ingrediente-mb {
    width: 78%;
    height: 9%;
    padding: 2px 2px 2px 2px;
    margin-left: 5vw;
    margin-top: 1.4vw;
    margin-bottom: 2vw;
    font-size: 110%;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    padding-left: 1%;
    padding-bottom: 2%;
    color: #333333;
    text-align: left;

    &::-webkit-input-placeholder {
      color: #adadad;
      font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
      font-size: 110%;
    }

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;
    }
  }

  #coiso-pra-deixar-certo-mb {
    display: flex;
    position: absolute;
  }

  #input-quantidade-do-ingrediente-mb {
    width: 20vw;
    padding-left: 6.6vw;
    margin-left: 5vw;
    margin-top: 3vw;
    font-size: 110%;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    padding-bottom: 2vw;
    color: #333333;
    text-align: left;

    &::-webkit-input-placeholder {
      color: #adadad;
    }

    ;

    input#dialogoselect::-moz-placeholder {
      color: #adadad;
    }

    ;

    &:focus {
      outline: 0;
      border-bottom: 2px #CB218C solid;
    }
  }

  #medidas-elementos-mb {
    margin-left: 4vw;
    margin-top: 2vw;
    padding-left: 2vw;
    width: 50vw;
    height: 9vw;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-sizing: border-box;
    outline: none;
    color: #333333;
    font-size: 90%;
    font-family: "Arial", sans-serif;
    appearance: none;

    &::-webkit-input-placeholder {
      color: #adadad;
    }

    ;

    input#dialogoselect::-moz-placeholder {
      color: #adadad;
    }

    ;

    &:focus {
      outline: none;
      border: #CB218C 2px solid;
    }
  }

  .dropDown-medidas-mb {
    width: 46vw;
    height: 40vw;
    margin-left: 4vw;
    padding-left: 3vw;
    padding-top: 3vw;
    background-color: #f2f2f2;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    &:focus{
      outline: none;
    }
  }

  ::-webkit-scrollbar {
    background-color: #f2f2f2;
    width: 1vw;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    width: 1vw;
  }

  .item-medidas-mb {
    width: 42vw;
    height: 4vw;
    margin-bottom: 7vw;
    box-sizing: border-box;
    transition: .5s;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
  }

  #esqueleto-midias-mb {
    border-top: 1px solid #909090;
    margin-top: 5.06%;
    padding-top: 4.26%;
  }

  #adicione-midias-mb {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    width: 68.53vw;
    height: 12.8vw;
    font-size: 122%;
    margin-left: 11.46vw;
  }

  #retangulo-adicionar-midia-mb {
    width: 77.06vw;
    height: 34.4vw;
    margin-left: 11.46vw;
    margin-top: 2vw;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 2px dashed #cb218c;
    background-color: rgba(203, 33, 140, 0.03);
    box-sizing: border-box;
  }

  #mais-adicionar-midia-mb {
    width: 6.13vw;
    height: 6.13vw;
    margin-left: 35.5vw;
    margin-top: 13.6vw;
  }

  .thumbnail-mb {
    max-width: 77.06vw;
    height: 26.66vw;
    margin-bottom: 2vw;
    margin-left: 11.46vw;
    margin-top: 3vw;
    position: relative;
  }

  .close-button-mb {
    width: 6vw;
    height: 6vw;
    margin-left: -6vw;
    padding-top: 4vw;
    text-align: center;
    position: absolute;
    color: #979797;180
    border-radius: 50%;
    font-size: 110%;
    font-family: 'Heavitas', sans-serif;
  }

  #ingredientes-elementos-NaN-mb {
    margin-top: -11vw;
  }

  #tudo-dos-clones-mb{
    margin-top: 10vw;
  }

  #numero-do-modo-de-preparo-mb {
    width: 8vw;
    margin-top: 8vw;
    margin-left: 3vw;
    border: 0;
    background-color: white;
    outline: none;
    font-family: "Fira Sans", sans-serif;
    font-size: 180%;
    font-weight: 700;
    color: #333;
    position: absolute;
  }

  #simbolo-do-numero-mb{
    display: inline-block;
    font-family: "Fira Sans", sans-serif;
    font-size: 100%;
    color: #adadad;
    box-sizing: border-box;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    margin-left: 12vw;
    margin-top: 9vw;
    margin-right: 0.5vw;
  }

  #modo-de-preparo-mb {
    box-sizing: border-box;
   
  }

  #modo-de-preparo-titulo-mb {
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    color: #9e5fef;
    text-align: left;
    margin-left: 3.9vw;
    font-size: 130%;
  }

  #modo-de-preparo-NaN-mb{
    box-sizing: border-box;
    margin-left: 6.4vw;
    border-left: 1vw #9e5fef solid;
  }

  #passo-a-passo-modo-mb{
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 500;
    color: #adadad;
    text-align: left;
    margin-left: 4.4vw;
    padding-top: 0.7vw;
    font-size: 100%;
  }

  #botoes-de-tirar-colocar-mb{
    margin-left: 80vw;
    margin-top: -12vw;
  }

  #linhas-roxa-conteudo-mb{
    border-left: 1vw #9e5fef solid;
    margin-left: 6.4vw;
  }
  
  #input-modo-de-preparo-mb{
    width: 68vw;
    height: 9%;
    padding: 2px 2px 2px 2px;
    margin-top: 8.2vw;
    font-size: 100%;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    padding-left: 1%;
    padding-bottom: 2vw;
    color: #333333;
    text-align: left;

    &::-webkit-input-placeholder {
      color: #adadad;
    }

    ;

    input#dialogoselect::-moz-placeholder {
      color: #adadad;
    }

    ;

    &:focus {
      outline: 0;
      border-bottom: 2px #9e5fef solid;
    }
  }

  #apagar-modo-de-preparo-mb{
    background: none;
    color: #979797;
    border: none;
    display: inline-block;
  }

  -webkit-input-placeholder{
    color: #000;
  }
}