    <main>
        <section class="conteudo-desktop">
            <br>
            <br>
            <section>
                <a class="mapa_do_site-link" href="/">
                    Home</a> <a class="mapa_do_site-atual"> > Bem Estar </a>
            </section>
            <section class="cabecalho_categoria">
                <article class="categoria_textos">
                    <img class="imagem_pagina_categoria" src="Imagens-svg/2-body/categobemestar.svg" alt="icon bem estar">
                    <article class="titulo-descricao-categoria">
                        <h1 class="titulo_pagina_categoria Catebemestar">BEM ESTAR</h1>
                        <p class="descricao_pagina_categoria">Explore métodos para manter um equilíbrio saudável, cultivar a felicidade e alcançar o seu potencial máximo.</p>
                    </article>
                </article>

                <nav class="filtros_categoria_BemEstar">
                    <a href="?filtro=recente" class="filtro_cate Filtro-recente">+RECENTES</a>
                    <a href="?filtro=em-alta" class="filtro_cate Filtro-emAlta">EM ALTA</a>
                    <a href="?filtro=rapidos" class="filtro_cate Filtro-rapidas">+RÁPIDAS</a>
                </nav>
            </section>
            <hr class="linha_separadora_categorias linha_bemestar">
            
        <section class="postagens_categoria">
                <%- include("../perguntas-dicas/base-postagens") %>
        </section>

        </section>

        <section class="conteudo-mobile">

            <section class="mapbe">
                <a class="mapbemestar" href="./index.html">Voltar</a>
            </section>
            <section class="categobe">
                <img class="imgbe" src="/imagens-svg/2-body/categobemestar.svg" alt="icon bem estar">
                <h1 class="titulobe">BEM-ESTAR</h1>
                <p class="pbe">Explore um mundo de sabores e técnicas culinárias com dicas e tutoriais detalhados.</p>
            </section>
            <nav class="filtrocu">
                <button class="fcutodas">TODAS</button>
                <button class="fcutodas">+ RECENTES</button>
                <button class="fcutodas">EM ALTA</button>
                <button class="fcutodas">+ RÁPIDAS</button>
                <button class="fcutodas">- INGREDIENTES</button>
                <button class="fcutodas">+ INGREDIENTES</button>
                <button class="fcutodas">INDIVIDUAL</button>
                <button class="fcutodas">+ PORÇÕES</button>
                <button class="fcutodas">DOCE</button>
                <button class="fcutodas">AGRIDOCE</button>
                <button class="fcutodas">SALGADO</button>
                <button class="fcutodas">CAFÉ DA MANHÃ</button>
                <button class="fcutodas">ALMOÇO</button>
                <button class="fcutodas">JANTAR</button>
                <button class="fcutodas">LANCHE</button>
            </nav>

            <section id="pinterest-style">

            </section>
        </section>
    </main>