  <main>
    <section class="conteudo-desktop">
      <br>
      <section>
        <a class="mapa_do_site-link" href="/">
          Home</a><a class="mapa_do_site-atual"> > Limpeza </a>
      </section>
      <section class="cabecalho_categoria">
        <article class="categoria_textos">
          <img class="imagem_pagina_categoria" src="imagens-svg/2-body/categolimpeza.svg" alt="icon limpeza">
          <article class="titulo-descricao-categoria">
            <h1 class="titulo_pagina_categoria Catelimpeza">LIMPEZA</h1>
            <p class="descricao_pagina_categoria">Explore um mundo de dicas de limpeza e aprenda técnicas de organização e muito mais.</p>
          </article>
        </article>

        <nav class="filtros_categoria_Limpeza">
          <a href="?filtro=recente" class="filtro_cate Filtro-recente">+RECENTES</a>
          <a href="?filtro=em-alta" class="filtro_cate Filtro-emAlta">EM ALTA</a>
          <a href="?filtro=rapidos" class="filtro_cate Filtro-rapidas">+RÁPIDAS</a>
        </nav>
      </section>
      <hr class="linha_separadora_categorias linha_limpeza">
      <section class="postagens_categoria">
          <%- include("../perguntas-dicas/base-postagens") %>
      </section>
      
    </section>
  </main>