    <main>
        <section class="conteudo-desktop">
            <br>
            <br>
            <section class="mapCU">
                <a class="mapculinaria" href="https://grupo4-tca.github.io/Como-que-faz/Home-Com-Login">
                    Home ></a> <a class="mapculinaria2"
                    href="https://grupo4-tca.github.io/Como-que-faz/Categoria-Culinária"> Bem Estar </a>
            </section>
            <section class="categocu">
                <img class="imgcu" src="./Imagens/2-body/categobemestar.svg" alt="icon bem estar">
                <h1 class="titulocu">BEM ESTAR</h1>
                <p class="pcu">Explore métodos para manter um equilíbrio saudável, cultivar a felicidade e alcançar o
                    seu potencial máximo.</p>
            </section>
            <section class="filtroantes">
                <nav class="filtrocu">
                    <button class="fcutodas">TODAS</button>
                    <button class="fcutodas">+ RECENTES</button>
                    <button class="fcutodas">EM ALTA</button>
                </nav>
            </section>
            <br>
            <br>
            <br>
            <section class="postagens">
                <section class="postagens1">
                    <article class="post1" onmouseover="mostrarDivOculta()" onmouseout="esconderDivOculta()" id="posts">
                        <img src="imagens/beberagua.png" alt="foto-post1" class="info-cima-post">
                        <h1 id="texto-atras" class="info-cima-post">Dicas para beber mais agua</h1>
                        <img id="icon-culinaria-branco" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco" class="info-cima-post">
                        <aside class="legenda">
                            <figure class="legenda relogio">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>1H00</h3>
                            </figure>
                            <figure class="legenda estrela">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post1" id="hover-post1" style="background: #00cd8383;">
                            <h3> essa dica não tem ingredientes</h3>
                        </aside>
                    </article>
                    <article class="post2" onmouseover="mostrarDivOculta2()" onmouseout="esconderDivOculta2()">
                        <img src="imagens/sono.png" alt="foto-post2" class="info-cima-post">
                        <h1 id="texto-atras2" class="info-cima-post">Durma melhor hoje</h1>
                        <img id="icon-culinaria-branco2" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco2" class="info-cima-post2">
                        <aside class="legenda2">
                            <figure class="legenda2 relogio">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H30</h3>
                            </figure>
                            <figure class="legenda2 estrela">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post2" id="hover-post2" style="background: #00cd8383;">
                            <h3> livros - chá - silencio</h3>
                        </aside>
                    </article>
                    <article class="post3" onmouseover="mostrarDivOculta3()" onmouseout="esconderDivOculta3()">
                        <img src="imagens/descolorir.png" alt="foto-post3" class="info-cima-post">
                        <h1 id="texto-atras3" class="info-cima-post">Descolorir o cabelo</h1>
                        <img id="icon-limpeza-branco3" src="Imagens/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco3"
                            class="info-cima-post3">
                        <aside class="legenda3">
                            <figure class="legenda3 relogio3">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H20</h3>
                            </figure>
                            <figure class="legenda3 estrela3">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post3" id="hover-post3" style="background: #00cd8383;">
                            <h3>pó descolorante - hidratação - oleo capilar - agua oxigenada - condicionador</h3>
                        </aside>
                    </article>
                    <article class="post4" onmouseover="mostrarDivOculta4()" onmouseout="esconderDivOculta4()">
                        <img src="imagens/post-imagem-pele.png" alt="foto-post4" class="info-cima-post">
                        <h1 id="texto-atras4" class="info-cima-post">Cuidados com a pele negra</h1>
                        <img id="icon-limpeza-branco4" src="Imagens/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco4"
                            class="info-cima-post4">
                        <aside class="legenda4">
                            <figure class="legenda4 relogio3">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H10</h3>
                            </figure>
                            <figure class="legenda4 estrela3">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post4" id="hover-post4">
                            <h3>esfoliante - água - hidratante</h3>
                        </aside>
                    </article>
                </section>
                <section class="postagens2">
                    <article class="post5" onmouseover="mostrarDivOculta5()" onmouseout="esconderDivOculta5()">
                        <img src="imagens/post-organizacao-rotina.png" alt="foto-post5" class="info-cima-post">
                        <h1 id="texto-atras5" class="info-cima-post">Organize sua rotina</h1>
                        <img id="icon-limpeza-branco5" src="Imagens/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco5"
                            class="info-cima-post5">
                        <aside class="legenda5">
                            <figure class="legenda5 relogio5">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>1H20</h3>
                            </figure>
                            <figure class="legenda5 estrela5">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>5.0</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post5" id="hover-post5">
                            <h3>essa dica não possui itens necessários</h3>
                        </aside>
                    </article>
                    <article class="post6" onmouseover="mostrarDivOculta6()" onmouseout="esconderDivOculta6()">
                        <img src="imagens/cachorro-bemestar.png" alt="foto-post6" class="info-cima-post">
                        <h1 id="texto-atras6" class="info-cima-post">Exames de rotina para o seu cãozinho</h1>
                        <img id="icon-limpeza-branco6" src="Imagens/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco6"
                            class="info-cima-post6">
                        <aside class="legenda6">
                            <figure class="legenda6 relogio6">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>1H20</h3>
                            </figure>
                            <figure class="legenda6 estrela6">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>5.0</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post6" id="hover-post6" style="background: #00cd8383;">
                            <h3>Essa dica não possui itens necessários</h3>
                        </aside>
                    </article>
                    <article class="post7" onmouseover="mostrarDivOculta7()" onmouseout="esconderDivOculta7()">
                        <img src="imagens/desculpas.png" alt="foto-post7" class="info-cima-post">
                        <h1 id="texto-atras7" class="info-cima-post">Pedido de desculpas criativo</h1>
                        <img id="icon-culinaria-branco7" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco7" class="info-cima-post7">
                        <aside class="legenda7">
                            <figure class="legenda7 relogio">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H45</h3>
                            </figure>
                            <figure class="legenda7 estrela">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                            <!--acho que o item abaixo deve ser removido desta página-->
                            <figure class="legenda7 partes">
                                <img src="imagens/2-body/porcao.svg" alt="partes">
                                <h3>36</h3>
                            </figure>
                             <!--acho que o item acima deve ser removido desta página-->
                        </aside>
                        <aside class="hover-post7" id="hover-post7" style="background: #00cd8383;">
                            <h3>papel - post-it - tesoura - cola - glitter</h3>
                        </aside>
                    </article>
                    <article class="post8" onmouseover="mostrarDivOculta8()" onmouseout="esconderDivOculta8()">
                        <img src="imagens/post-limpeza-dispensa.png" alt="foto-post8" class="info-cima-post">
                        <h1 id="texto-atras8" class="info-cima-post">A organização muda tudo na sua rotina! Entenda</h1>
                        <img id="icon-limpeza-branco8" src="Imagens/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco8"
                            class="info-cima-post8">
                        <aside class="legenda8">
                            <figure class="legenda8 relogio8">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H20</h3>
                            </figure>
                            <figure class="legenda8 estrela8">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>5.0</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post8" id="hover-post8" style="background: #00cd8383;">
                            <h3>multiuso - água - pano</h3>
                        </aside>
                    </article>
                </section>
                <section class="postagens3">
                    <article class="post9" onmouseover="mostrarDivOculta9()" onmouseout="esconderDivOculta9()">
                        <img src="imagens/academia.png" alt="foto-post9" class="info-cima-post">
                        <h1 id="texto-atras9" class="info-cima-post">Rotina de treinos leves</h1>
                        <img id="icon-limpeza-branco9" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco9" class="info-cima-post9">
                        <aside class="legenda9">
                            <figure class="legenda9 relogio9">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H45</h3>
                            </figure>
                            <figure class="legenda9 estrela9">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post9" id="hover-post9" style="background: #00cd8383;">
                            <h3>Essa dica não possui itens necessários</h3>
                        </aside>
                    </article>
                    <article class="post10" onmouseover="mostrarDivOculta10()" onmouseout="esconderDivOculta10()">
                        <img src="imagens/post-unhas.png" alt="foto-post10" class="info-cima-post">
                        <h1 id="texto-atras10" class="info-cima-post">Faça suas cuticulas sem dor</h1>
                        <img id="icon-bemestar-branco10" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco10" class="info-cima-post10">
                        <aside class="legenda10">
                            <figure class="legenda10 relogio10">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>0H45</h3>
                            </figure>
                            <figure class="legenda10 estrela10">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post10" id="hover-post10" style="background: #00cd8383;">
                            <h3>alicate de unha - tesoura de unha - hidratante de cuticula - algodão - papel alumínio
                            </h3>
                        </aside>
                    </article>
                    <article class="post11" onmouseover="mostrarDivOculta11()" onmouseout="esconderDivOculta11()">
                        <img src="imagens/poros.png" alt="foto-post11" class="info-cima-post">
                        <h1 id="texto-atras11" class="info-cima-post">Mascara anti poros caseira</h1>
                        <img id="icon-culinaria-branco11" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco11" class="info-cima-post11">
                        <aside class="legenda11">
                            <figure class="legenda11 relogio">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>1H20</h3>
                            </figure>
                            <figure class="legenda11 estrela">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>

                            <!--acho que o item abaixo deve ser removido desta página-->
                            <figure class="legenda11 partes">
                                <img src="imagens/2-body/porcao.svg" alt="partes">
                                <h3>8</h3>
                            <!--acho que o item acima deve ser removido desta página-->
                            </figure>
                        </aside>
                        <aside class="hover-post11" id="hover-post11" style="background: #00cd8383;">
                            <h3>Essa dica não possui itens necessários</h3>
                        </aside>
                    </article>
                    <article class="post12" onmouseover="mostrarDivOculta12()" onmouseout="esconderDivOculta12()">
                        <img src="imagens/post-barba.png" alt="foto-post12" class="info-cima-post">
                        <h1 id="texto-atras12" class="info-cima-post">Barba falhada nunca mais!</h1>
                        <img id="icon-bemestar-branco12" src="Imagens/2-body/icon-bemestar-branco.svg"
                            alt="icon-bem-estar-branco12" class="info-cima-post12">
                        <aside class="legenda12">
                            <figure class="legenda12 relogio12">
                                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                                <h3>1H20</h3>
                            </figure>
                            <figure class="legenda12 estrela12">
                                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                                <h3>4.9</h3>
                            </figure>
                        </aside>
                        <aside class="hover-post12" id="hover-post12" style="background: #00cd8383;">
                            <h3>barbeador - lâmina de barbear - gilete - espuma de barbear - pinça</h3>
                        </aside>
                    </article>
                </section>
            </section>

        </section>

        <section class="conteudo-mobile">

            <section class="mapbe">
                <a class="mapbemestar" href="./index.html">Voltar</a>
            </section>
            <section class="categobe">
                <img class="imgbe" src="./imagens/2-body/categobemestar.svg" alt="icon bem estar">
                <h1 class="titulobe">BEM-ESTAR</h1>
                <p class="pbe">Explore um mundo de sabores e técnicas culinárias com dicas e tutoriais detalhados.</p>
            </section>
            <nav class="filtrocu">
                <button class="fcutodas">TODAS</button>
                <button class="fcutodas">+ RECENTES</button>
                <button class="fcutodas">EM ALTA</button>
                <button class="fcutodas">+ RÁPIDAS</button>
                <button class="fcutodas">- INGREDIENTES</button>
                <button class="fcutodas">+ INGREDIENTES</button>
                <button class="fcutodas">INDIVIDUAL</button>
                <button class="fcutodas">+ PORÇÕES</button>
                <button class="fcutodas">DOCE</button>
                <button class="fcutodas">AGRIDOCE</button>
                <button class="fcutodas">SALGADO</button>
                <button class="fcutodas">CAFÉ DA MANHÃ</button>
                <button class="fcutodas">ALMOÇO</button>
                <button class="fcutodas">JANTAR</button>
                <button class="fcutodas">LANCHE</button>
            </nav>

            <section id="pinterest-style">

                <section id="primeira-fileira-posts">

                    <!-- 1 POST DISPENSA - FILEIRA 1 -->
                    <article id="base-post">
                        <section id="post">
                            <article id="post-dispensa-fileira1">
                                <img id="dispensa" src="./imagens/rotina-de-ex.png" alt="post">
                                <figure id="sombra"></figure>
                                <h2 id="descri-post">CRIANDO ROTINA<br>DE EXERCÍCIOS</h2>
                            </article>
                            <section id="post-baixo">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">0H40</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">5.0</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-dispensa-fileira1" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Agenda - Calendário - Pesos - Barra de porta - Corda</p>
                            <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="long-baixo">
                            <img id="icon-limpeza-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">CRIANDO ROTINA<br>DE EXERCÍCIOS</h2>
                        </article>
                    </section>
                    <!-- FINAL 1 POST DISPENSA - FILEIRA 1 -->

                    <!-- 2 PERGUNTA LAVAR ROUPA - FILEIRA 1 -->
                    <article id="base-post">
                        <section id="post-pergunta">
                            <section id="c">
                                <article id="post-perg">
                                    <div id="fundoperg"></div>
                                    <h2 id="text-pergunta">Como posso passar fio dental do jeito certo?</h2>
                                </article>
                                <section id="post-baixo-h">
                                    <img id="icon-post" src="./imagens/2-body/comentpergunta.svg" alt="avaliação">
                                    <h3 id="descri-icon">10</h3>
                                    <img id="icon-post" src="./imagens/2-body/respostapergunta.svg" alt="porção">
                                    <h3 id="descri-icon">2</h3>
                                </section>
                            </section>
                        </section>
                    </article>
                    <!-- FINAL 2 PERGUNTA LAVAR ROUPA - FILEIRA 1 -->

                    <!-- 3 POST BOLINHO DE CHUVA - FILEIRA 1 -->
                    <article id="base-post">
                        <section id="post-bolin-de-chuva">
                            <article id="post-bolin-fileira1">
                                <img id="bolin" src="./imagens/bolin.svg" alt="post">
                                <figure id="sombra-a"></figure>
                                <h2 id="descri-post-a">TERAPIA ATRAVÉS<br>DE MASSAGEM</h2>
                            </article>
                            <section id="post-baixo-a">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">1H00</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">5.0</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-bolin-fileira1" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Auxílio - Òleo de coco - Pedras de massagem - Velas</p>
                            <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="bolin-long-baixo">
                            <img id="icon-culinaria-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">TERAPIA ATRAVÉS<br>DE MASSAGEM</h2>
                        </article>
                    </section>
                    <!-- FINAL 3 POST BOLINHO DE CHUVA - FILEIRA 1 -->

                    <!-- 4 POST CACHOS - FILEIRA 1 -->
                    <article id="base-post">
                        <section id="post-cachos">
                            <article id="post-cachos-fileira1">
                                <img id="cachos" src="./imagens/mindfulness.png" alt="post">
                                <figure id="sombra-b"></figure>
                                <h2 id="descri-post-cachos-fileira1">PASSO-A-PASSO<br>ATRAINDO SORTE</h2>
                            </article>
                            <section id="post-baixo-f">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">0H20</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">2.4</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-cachos-fileira1" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Fé - Vontade - Local calmo</p>
                            <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="cachos-long-baixo">
                            <img id="icon-limpeza-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">PASSO-A-PASSO<br>ATRAINDO SORTE</h2>
                        </article>
                    </section>
                    <!-- FINAL 4 POST CACHOS - FILEIRA 1 -->

                    <!-- 5 POST PERGUNTA - FILEIRA 1 -->
                    <article id="base-post">
                        <section id="post">
                            <section id="c">
                                <article id="post-perg">
                                    <figure id="fundoperg"></figure>
                                    <h2 id="text-pergunta">Como faço SkinCare com ingredientes naturais?</h2>
                                </article>
                                <section id="post-baixo-h">
                                    <img id="icon-post" src="./imagens/2-body/comentpergunta.svg" alt="avaliação">
                                    <h3 id="descri-icon">20</h3>
                                    <img id="icon-post" src="./imagens/2-body/respostapergunta.svg" alt="porção">
                                    <h3 id="descri-icon">0</h3>
                                </section>
                            </section>
                        </section>
                    </article>
                    <!-- FINAL 5 POST PERGUNTA - FILEIRA 1 -->
                </section>

                <section id="segunda-fileira-posts">
                    <!-- 1 POST CACHOS - FILEIRA 2 -->
                    <article id="base-post">
                        <section id="post-cachos">
                            <article id="post-cachos-fileira2">
                                <img id="cachos" src="./imagens/tenia-de-respiração.png" alt="post">
                                <figure id="sombra-b"></figure>
                                <h2 id="descri-post-cachos-fileira2">TÉCNICA DE<br>RESPIRAÇÃO</h2>
                            </article>
                            <section id="post-baixo-f">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">0H05</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">5.0</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-cachos-fileira2" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Ambiente arrejado - Calma</p>
                            <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="cachos-long-baixo">
                            <img id="icon-limpeza-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">TÉCNICA DE<br>RESPIRAÇÃO</h2>
                        </article>
                    </section>
                    <!-- FINAL 1 POST CACHOS - FILEIRA 2 -->

                    <!-- 2 POST BOLO DE CENOURA - FILEIRA 2 -->
                    <article id="base-post">
                        <section id="post-bolo-de-cenoura">
                            <article id="post-bolo-de-cenoura-fileira2">
                                <img id="dispensa" src="./imagens/dormir-bem.png" alt="post">
                                <figure id="sombra"></figure>
                                <h2 id="descri-post-bolo-de-cenoura">UMA BOA NOITE<br>DE SONO</h2>
                            </article>
                            <section id="post-baixo-c">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">0H50</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">3.2</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-bolo-de-cenoura-fileira2" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Higiene pessoal - Lugar confortável - Óleo calmante</p>
                            <img id="icon-salvar-vazado" src="./imagens/salvar-post-vazado.png" alt="salvar">
                        </article>
                        <article id="bolo-de-cenoura-long-baixo">
                            <img id="icon-culinaria-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">UMA BOA NOITE<br>DE SONO</h2>
                        </article>
                    </section>
                    <!-- FINAL 2 POST BOLO DE CENOURA - FILEIRA 2 -->

                    <article id="base-post">
                        <section id="post">
                            <section id="c">
                                <article id="post-perg">
                                    <figure id="fundoperg"></figure>
                                    <h2 id="text-pergunta">Quero entender sobre paz espiritual, onde achar?</h2>
                                </article>
                                <section id="post-baixo-h">
                                    <img id="icon-post" src="./imagens/2-body/comentpergunta.svg" alt="avaliação">
                                    <h3 id="descri-icon">200</h3>
                                    <img id="icon-post" src="./imagens/2-body/respostapergunta.svg" alt="porção">
                                    <h3 id="descri-icon">19</h3>
                                </section>
                            </section>
                        </section>
                    </article>

                    <article id="base-post">
                        <section id="post-bolin-de-chuva">
                            <article id="post-bolin-fileira2">
                                <img id="bolin" src="./imagens/autocuidado-homens.png" alt="post">
                                <figure id="sombra-a"></figure>
                                <h2 id="descri-post-bolin-fileira2">AUTOCUIDADO<br>PARA HOMENS</h2>
                            </article>
                            <section id="post-baixo-a">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">0H40</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">5.0</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-bolin-fileira2" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Óleo hidratante - Cortador de unha - Creme calmante - Mascára para cravos
                            </p>
                            <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="bolin2-long-baixo">
                            <img id="icon-culinaria-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">AUTOCUIDADO<br>PARA HOMENS</h2>
                        </article>
                    </section>

                    <article id="base-post">
                        <section id="post">
                            <article id="post-dispensa-fileira2">
                                <img id="dispensa" src="./imagens/meditação-para-iniciantes.jpg" alt="post">
                                <figure id="sombra"></figure>
                                <h2 id="descri-post-dispensa-fileira2">MEDITAÇÃO<br>EM SUA ROTINA</h2>
                            </article>
                            <section id="post-baixo">
                                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                                <h3 id="descri-icon">0H20</h3>
                                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                                <h3 id="descri-icon">1.0</h3>
                                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                                <h3 id="descri-icon">~</h3>
                            </section>
                        </section>
                    </article>
                    <section id="longpress-post-dispensa-fileira2" style="background-color: #00cd8383;">
                        <article id="long-cima">
                            <p id="plongpress">Almofada de meditação - Fones de ouvido confortáveis - Links de
                                meditações guiadas - Incenso</p>
                            <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="long-baixo-dispensa-fileira2">
                            <img id="icon-limpeza-longpress" src="./imagens/2-body/icon-bemestar-branco.svg"
                                alt="post com categoria limpeza">
                            <h2 id="texto-longpress">MEDITAÇÃO<br>EM SUA ROTINA</h2>
                        </article>
                    </section>

                </section>
            </section>
        </section>
    </main>