  <main>
    <section class="conteudo-desktop">
      <br>
      <br>
      <section class="mapCU">
        <a class="mapculinaria" href="https://grupo4-tca.github.io/Como-que-faz/Home-Com-Login">
          Home ></a> <a class="mapculinaria2" href="https://grupo4-tca.github.io/Como-que-faz/Categoria-Culinária">
          Limpeza </a>
      </section>
      <section class="categocu">
        <img class="imgcu" src="./imagens/2-body/categolimpeza.svg" alt="icon limpeza">
        <h1 class="titulocu">LIMPEZA</h1>
        <p class="pcu">Explore um mundo de dicas de limpeza e aprenda técnicas de organização e muito mais.</p>
      </section>
      <section class="filtroantes">
        <nav class="filtrocu">
          <button class="fcutodas">TODAS</button>
          <button class="fcutodas">+ RECENTES</button>
          <button class="fcutodas">EM ALTA</button>
        </nav>
      </section>
      <br>
      <br>
      <br>
      <section class="postagens">
        <section class="postagens1">
          <article class="post1" onmouseover="mostrarDivOculta()" onmouseout="esconderDivOculta()" id="posts">
            <img src="imagens/limpavrido.png" alt="foto-post1" class="info-cima-post">
            <h1 id="texto-atras" class="info-cima-post">Misturinha limpa vidro</h1>
            <img id="icon-culinaria-branco" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco"
              class="info-cima-post">
            <aside class="legenda">
              <figure class="legenda relogio">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>1H00</h3>
              </figure>
              <figure class="legenda estrela">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post1" id="hover-post1" style="background-color: #027de183">
              <h3>agua sanitaria - creme dental - lustra movéis</h3>
            </aside>
          </article>
          <article class="post2" onmouseover="mostrarDivOculta2()" onmouseout="esconderDivOculta2()">
            <img src="imagens/kitlimpeza.png" alt="foto-post2" class="info-cima-post">
            <h1 id="texto-atras2" class="info-cima-post">Kit basico para limpar tudo!</h1>
            <img id="icon-culinaria-branco2" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco2"
              class="info-cima-post2">
            <aside class="legenda2">
              <figure class="legenda2 relogio">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H30</h3>
              </figure>
              <figure class="legenda2 estrela">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post2" id="hover-post2" style="background-color: #027de183 ;">
              <h3>balde - flanela - borrifador - Mister Musculo - luvas - esfregão</h3>
            </aside>
          </article>
          <article class="post3" onmouseover="mostrarDivOculta3()" onmouseout="esconderDivOculta3()">
            <img src="imagens/post-limpar-fogao.png" alt="foto-post3" class="info-cima-post">
            <h1 id="texto-atras3" class="info-cima-post">Limpe seu forno fácil</h1>
            <img id="icon-limpeza-branco3" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco3"
              class="info-cima-post3">
            <aside class="legenda3">
              <figure class="legenda3 relogio3">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H20</h3>
              </figure>
              <figure class="legenda3 estrela3">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post3" id="hover-post3">
              <h3>vinagre branco - água - bicarbonato de sódio - detergente neutro - Esponja - Papel toalha</h3>
            </aside>
          </article>
          <article class="post4" onmouseover="mostrarDivOculta4()" onmouseout="esconderDivOculta4()">
            <img src="imagens/chaobrilhante.png" alt="foto-post4" class="info-cima-post">
            <h1 id="texto-atras4" class="info-cima-post">Ilustra piso</h1>
            <img id="icon-limpeza-branco4" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco4"
              class="info-cima-post4">
            <aside class="legenda4">
              <figure class="legenda4 relogio3">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H10</h3>
              </figure>
              <figure class="legenda4 estrela3">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post4" id="hover-post4" style="background-color: #027de183 " ;>
              <h3>mop - desinfetante - limpa piso - extra brilho - agua quente</h3>
            </aside>
          </article>
        </section>
        <section class="postagens2">
          <article class="post5" onmouseover="mostrarDivOculta5()" onmouseout="esconderDivOculta5()">
            <img src="imagens/limpaespelho.png" alt="foto-post5" class="info-cima-post">
            <h1 id="texto-atras5" class="info-cima-post">Seu espelho um brinco</h1>
            <img id="icon-limpeza-branco5" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco5"
              class="info-cima-post5">
            <aside class="legenda5">
              <figure class="legenda5 relogio5">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>1H20</h3>
              </figure>
              <figure class="legenda5 estrela5">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>5.0</h3>
              </figure>
            </aside>
            <aside class="hover-post5" id="hover-post5" style="background-color: #027de183 ">
              <h3>borrifador - antibactericida - papel toalha</h3>
            </aside>
          </article>
          <article class="post6" onmouseover="mostrarDivOculta6()" onmouseout="esconderDivOculta6()">
            <img src="imagens/post-limpeza-pia.png" alt="foto-post6" class="info-cima-post">
            <h1 id="texto-atras6" class="info-cima-post">Limpar o ralo nunca foi tão fácil!</h1>
            <img id="icon-limpeza-branco6" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco6"
              class="info-cima-post6">
            <aside class="legenda6">
              <figure class="legenda6 relogio6">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>1H20</h3>
              </figure>
              <figure class="legenda6 estrela6">
                <img src="imagens2-body//estrela-cinza.svg" alt="avaliação">
                <h3>5.0</h3>
              </figure>
            </aside>
            <aside class="hover-post6" id="hover-post6">
              <h3>bicarbonato de sódio - vinagre - água</h3>
            </aside>
          </article>
          <article class="post7" onmouseover="mostrarDivOculta7()" onmouseout="esconderDivOculta7()">
            <img src="imagens/limpavaso.png" alt="foto-post7" class="info-cima-post">
            <h1 id="texto-atras7" class="info-cima-post">Banheiro livre de bactérias</h1>
            <img id="icon-culinaria-branco7" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco7"
              class="info-cima-post7">
            <aside class="legenda7">
              <figure class="legenda7 relogio">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H45</h3>
              </figure>
              <figure class="legenda7 estrela">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post7" id="hover-post7" style="background-color: #027de183">
              <h3>antibactericida - agua sanitaria - luvas - desinfetante - </h3>
            </aside>
          </article>
          <article class="post8" onmouseover="mostrarDivOculta8()" onmouseout="esconderDivOculta8()">
            <img src="imagens/post-limpeza-dispensa.png" alt="foto-post8" class="info-cima-post">
            <h1 id="texto-atras8" class="info-cima-post">Organize sua dispensa na rotina</h1>
            <img id="icon-limpeza-branco8" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco8"
              class="info-cima-post8">
            <aside class="legenda8">
              <figure class="legenda8 relogio8">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H20</h3>
              </figure>
              <figure class="legenda8 estrela8">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>5.0</h3>
              </figure>
            </aside>
            <aside class="hover-post8" id="hover-post8">
              <h3>multiuso - água - pano</h3>
            </aside>
          </article>
        </section>
        <section class="postagens3">
          <article class="post9" onmouseover="mostrarDivOculta9()" onmouseout="esconderDivOculta9()">
            <img src="imagens/post-lavar-roupa.png" alt="foto-post9" class="info-cima-post">
            <h1 id="texto-atras9" class="info-cima-post">Roupas mais cheirosas</h1>
            <img id="icon-limpeza-branco9" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco9"
              class="info-cima-post9">
            <aside class="legenda9">
              <figure class="legenda9 relogio9">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H45</h3>
              </figure>
              <figure class="legenda9 estrela9">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post9" id="hover-post9">
              <h3>roupas - sabão - amaciante - máquina de lavar - água fria ou água quente</h3>
            </aside>
          </article>
          <article class="post10" onmouseover="mostrarDivOculta10()" onmouseout="esconderDivOculta10()">
            <img src="imagens/poeira.png" alt="foto-post10" class="info-cima-post">
            <h1 id="texto-atras10" class="info-cima-post">Poeira nunca mais</h1>
            <img id="icon-bemestar-branco10" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco10"
              class="info-cima-post10">
            <aside class="legenda10">
              <figure class="legenda10 relogio10">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>0H45</h3>
              </figure>
              <figure class="legenda10 estrela10">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post10" id="hover-post10" style="background-color: #027de183">
              <h3> lenço de algodão - amaciante - desinfetante - agua quente</h3>
            </aside>
          </article>
          <article class="post11" onmouseover="mostrarDivOculta11()" onmouseout="esconderDivOculta11()">
            <img src="imagens/listalimpeza.png" alt="foto-post11" class="info-cima-post">
            <h1 id="texto-atras11" class="info-cima-post">Lista de limpeza diária</h1>
            <img id="icon-culinaria-branco11" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco11"
              class="info-cima-post11">
            <aside class="legenda11">
              <figure class="legenda11 relogio">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>1H20</h3>
              </figure>
              <figure class="legenda11 estrela">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post11" id="hover-post11" style="background-color: #027de183">
              <h3>papel - caneta - forca de vontade</h3>
            </aside>
          </article>
          <article class="post12" onmouseover="mostrarDivOculta12()" onmouseout="esconderDivOculta12()">
            <img src="imagens/colchao.png" alt="foto-post12" class="info-cima-post">
            <h1 id="texto-atras12" class="info-cima-post">Colchão novo com aspirador</h1>
            <img id="icon-bemestar-branco12" src="imagens/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco12"
              class="info-cima-post12">
            <aside class="legenda12">
              <figure class="legenda12 relogio12">
                <img src="imagens/2-body/relogio-cinza.svg" alt="tempo estimado">
                <h3>1H20</h3>
              </figure>
              <figure class="legenda12 estrela12">
                <img src="imagens/2-body/estrela-cinza.svg" alt="avaliação">
                <h3>4.9</h3>
              </figure>
            </aside>
            <aside class="hover-post12" id="hover-post12" style="background-color: #027de183">
              <h3>aspirador de pó - bom ar</h3>
            </aside>
          </article>
        </section>
      </section>
    </section>
    <section class="conteudo-mobile">
      <section class="mapli">
        <a class="maplimpeza" href="./Home-Com-Login.html">Voltar</a>
      </section>
      <section class="categoli">
        <img class="imgli" src="./imagens/2-body/categolimpeza.svg" alt="icon limpeza">
        <h1 class="tituloli">LIMPEZA</h1>
        <p class="pli">Explore um mundo de sabores e técnicas culinárias com dicas e tutoriais detalhados.</p>
      </section>
      <nav class="filtrocu">
        <button class="fcutodas">TODAS</button>
        <button class="fcutodas">+ RECENTES</button>
        <button class="fcutodas">EM ALTA</button>
        <button class="fcutodas">+ RÁPIDAS</button>
        <button class="fcutodas">- INGREDIENTES</button>
        <button class="fcutodas">+ INGREDIENTES</button>
        <button class="fcutodas">INDIVIDUAL</button>
        <button class="fcutodas">+ PORÇÕES</button>
        <button class="fcutodas">DOCE</button>
        <button class="fcutodas">AGRIDOCE</button>
        <button class="fcutodas">SALGADO</button>
        <button class="fcutodas">CAFÉ DA MANHÃ</button>
        <button class="fcutodas">ALMOÇO</button>
        <button class="fcutodas">JANTAR</button>
        <button class="fcutodas">LANCHE</button>
      </nav>
      <section id="pinterest-style">
        <section id="primeira-fileira-posts">
          <!-- 1 POST DISPENSA - FILEIRA 1 -->
          <article id="base-post">
            <section id="post">
              <article id="post-dispensa-fileira1">
                <!-- imagem -->
                <img id="dispensa" src="./imagens/dispensa.svg" alt="post">
                <figure id="sombra"></figure>
                <!-- titulo da postagem -->
                <h2 id="descri-post">ORGANIZE SUA <br>DISPENSA JÁ!</h2>
              </article>
              <section id="post-baixo">
                <!-- tempo, avaliação (porçoes nao precisa) -->
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">0H40</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">5.0</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-dispensa-fileira1" style="background-color: #027de183;">
            <article id="long-cima">
              <!-- mudar ingredientes -->
              <p id="plongpress">Etiquetas - organizadores - caneta gráfica - cestas - manual</p>
              <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
            </article>
            <article id="long-baixo">
              <!-- icone de limpeza -->
              <img id="icon-limpeza-longpress" src="./imagens/2-body/icon-limpeza-branco.svg" alt="post com categoria limpeza">
              <!-- titulo post longpress -->
              <h2 id="texto-longpress">ORGANIZE SUA <br>DISPENSA JÁ!</h2>
            </article>
          </section>
          <!-- FINAL 1 POST DISPENSA - FILEIRA 1 -->
          <!-- 2 PERGUNTA LAVAR ROUPA - FILEIRA 1 -->
          <article id="base-post">
            <section id="post-pergunta">
              <section id="c">
                <article id="post-perg">
                  <figure id="fundoperg"></figure>
                  <h2 id="text-pergunta">Eu queria saber como eu passo ropa?</h2>
                </article>
                <section id="post-baixo-h">
                  <img id="icon-post" src="./imagens/2-body/comentpergunta.svg" alt="avaliação">
                  <h3 id="descri-icon">20</h3>
                  <img id="icon-post" src="./imagens/2-body/respostapergunta.svg" alt="porção">
                  <h3 id="descri-icon">0</h3>
                </section>
              </section>
            </section>
          </article>
          <!-- FINAL 2 PERGUNTA LAVAR ROUPA - FILEIRA 1 -->
          <!-- 3 POST BOLINHO DE CHUVA - FILEIRA 1 -->
          <article id="base-post">
            <section id="post-bolin-de-chuva">
              <article id="post-bolin-fileira1">
                <img id="bolin" src="./imagens/Limpando-banheiro.png" alt="post">
                <figure id="sombra-a"></figure>
                <h2 id="descri-post-a">COMO LIMPAR<br>SEU BANHEIRO</h2>
              </article>
              <section id="post-baixo-a">
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">1H30</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">3.5</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-bolin-fileira1" style="background-color: #027de183;">
            <article id="long-cima">
              <p id="plongpress">Detergente neutro - Desinfetante - Água sanitária - Sabão líquido ou em pó -
                Limpa-vidros - Tira-limo - Limpador multiuso</p>
              <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
            </article>
            <article id="bolin-long-baixo">
              <img id="icon-culinaria-longpress" src="imagens/2-body/icon-limpeza-branco.svg" alt="post com categoria limpeza">
              <h2 id="texto-longpress">COMO LIMPAR<br>SEU BANHEIRO</h2>
            </article>
          </section>
          <!-- FINAL 3 POST BOLINHO DE CHUVA - FILEIRA 1 -->
          <!-- 4 POST CACHOS - FILEIRA 1 -->
          <article id="base-post">
            <section id="post-cachos">
              <article id="post-cachos-fileira1">
                <img id="cachos" src="./imagens/Lavando-sua-roupa.png" alt="post">
                <figure id="sombra-b"></figure>
                <h2 id="descri-post-cachos-fileira1">COMO LAVAR<br>SUA ROUPA</h2>
              </article>
              <section id="post-baixo-f">
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">0H50</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">4.8</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-cachos-fileira1" style="background-color: #027de183;">
            <article id="long-cima">
              <p id="plongpress">água morna - sabão neutro - ou então água morna e vinagre</p>
              <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
            </article>
            <article id="cachos-long-baixo">
              <img id="icon-limpeza-longpress" src="imagens/2-body/icon-limpeza-branco.svg" alt="post com categoria limpeza">
              <h2 id="texto-longpress">COMO LAVAR<br>SUA ROUPA</h2>
            </article>
          </section>
          <!-- FINAL 4 POST CACHOS - FILEIRA 1 -->
          <!-- 5 POST PERGUNTA - FILEIRA 1 -->
          <article id="base-post">
            <section id="post">
              <section id="c">
                <article id="post-perg">
                  <figure id="fundoperg"></figure>
                  <h2 id="text-pergunta">Como eu poderia lavar minhas panelas?</h2>
                </article>
                <section id="post-baixo-h">
                  <img id="icon-post" src="./imagens/2-body/comentpergunta.svg" alt="avaliação">
                  <h3 id="descri-icon">20</h3>
                  <img id="icon-post" src="./imagens/2-body/respostapergunta.svg" alt="porção">
                  <h3 id="descri-icon">~</h3>
                </section>
              </section>
            </section>
          </article>
          <!-- FINAL 5 POST PERGUNTA - FILEIRA 1 -->
        </section>
        <section id="segunda-fileira-posts">
          <!-- 1 POST CACHOS - FILEIRA 2 -->
          <article id="base-post">
            <section id="post-cachos">
              <article id="post-cachos-fileira2">
                <img id="cachos" src="./imagens/Mancha-de-roupa.png" alt="post">
                <figure id="sombra-b"></figure>
                <h2 id="descri-post-cachos-fileira2">COMO TIRAR <br>MANCHAS DA BLUSA </h2>
              </article>
              <section id="post-baixo-f">
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">0H15</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">0.3</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-cachos-fileira2" style="background-color: #027de183;">
            <article id="long-cima">
              <p id="plongpress">bicarbonato - vinagre</p>
              <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
            </article>
            <article id="cachos-long-baixo">
              <img id="icon-limpeza-longpress" src="imagens/2-body/icon-limpeza-branco.svg" alt="post com categoria limpeza">
              <h2 id="texto-longpress">COMO TIRAR <br>MANCHAS DA BLUSA </h2>
            </article>
          </section>
          <!-- FINAL 1 POST CACHOS - FILEIRA 2 -->
          <!-- 2 POST BOLO DE CENOURA - FILEIRA 2 -->
          <article id="base-post">
            <section id="post-bolo-de-cenoura">
              <article id="post-bolo-de-cenoura-fileira2">
                <img id="dispensa" src="./imagens/Limpando-geladeira.png" alt="post">
                <figure id="sombra"></figure>
                <h2 id="descri-post-bolo-de-cenoura">COMO LIMPAR<br>SUA GELADEIRA</h2>
              </article>
              <section id="post-baixo-c">
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">2H00</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">5.0</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-bolo-de-cenoura-fileira2" style="background-color: #027de183;">
            <article id="long-cima">
              <p id="plongpress">detergente - desengordurante - bicarbonato de sódio</p>
              <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
            </article>
            <article id="bolo-de-cenoura-long-baixo">
              <img id="icon-culinaria-longpress" src="./imagens/2-body/icon-limpeza-branco.svg"
                alt="post com categoria limpeza">
              <h2 id="texto-longpress">COMO LIMPAR<br>SUA GELADEIRA</h2>
            </article>
          </section>
          <!-- FINAL 2 POST BOLO DE CENOURA - FILEIRA 2 -->
          <article id="base-post">
            <section id="post">
              <section id="c">
                <article id="post-perg">
                  <figure id="fundoperg"></figure>
                  <h2 id="text-pergunta">Queria tanto aprender a lavar roupa sem maquina</h2>
                </article>
                <section id="post-baixo-h">
                  <img id="icon-post" src="./imagens/2-body/comentpergunta.svg" alt="avaliação">
                  <h3 id="descri-icon">20</h3>
                  <img id="icon-post" src="./imagens/2-body/respostapergunta.svg" alt="porção">
                  <h3 id="descri-icon">0</h3>
                </section>
              </section>
            </section>
          </article>
          <article id="base-post">
            <section id="post-bolin-de-chuva">
              <article id="post-bolin-fileira2">
                <img id="bolin" src="./imagens/Limpando-fogao.png" alt="post">
                <figure id="sombra-a"></figure>
                <h2 id="descri-post-bolin-fileira2">COMO LIMPAR<br>SEU FOGÃO</h2>
              </article>
              <section id="post-baixo-a">
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">1H30</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">4.5</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-bolin-fileira2" style="background-color: #027de183;">
            <article id="long-cima">
              <p id="plongpress">bicarbonato de sódio - vinagre de álcool</p>
              <img id="icon-salvar-vazado" src="./imagens/2-body/salvar-post-vazado.svg" alt="salvar">
            </article>
            <article id="bolin2-long-baixo">
              <img id="icon-culinaria-longpress" src="./imagens/2-body/icon-limpeza-branco.svg"
                alt="post com categoria limpeza">
              <h2 id="texto-longpress">COMO LIMPAR<br>SEU FOGÃO</h2>
            </article>
          </section>
          <article id="base-post">
            <section id="post">
              <article id="post-dispensa-fileira2">
                <img id="dispensa" src="./imagens/Trando-po.png" alt="post">
                <figure id="sombra"></figure>
                <h2 id="descri-post-dispensa-fileira2">TIRE O PÓ <br>DOS LUGARES!</h2>
              </article>
              <section id="post-baixo">
                <img id="icon-post" src="./imagens/2-body/tempo.svg" alt="tempo de execusão">
                <h3 id="descri-icon">1H10</h3>
                <img id="icon-post" src="./imagens/2-body/avalia.svg" alt="avaliação">
                <h3 id="descri-icon">2.5</h3>
                <img id="icon-post" src="./imagens/2-body/porcao.svg" alt="porção">
                <h3 id="descri-icon">~</h3>
              </section>
            </section>
          </article>
          <section id="longpress-post-dispensa-fileira2" style="background-color: #027de183;">
            <article id="long-cima">
              <p id="plongpress">Água - detergente neutro – Bicarbonato – Vinagre com água morna – Álcool</p>
              <img id="icon-salvar-vazado" src="./imagens/salvar-post-vazado.png" alt="salvar">
            </article>
            <article id="long-baixo-dispensa-fileira2">
              <img id="icon-limpeza-longpress" src="./imagens/icon-limpeza-branco.png" alt="post com categoria limpeza">
              <h2 id="texto-longpress">TIRE O PÓ <br>DOS LUGARES!</h2>
            </article>
          </section>
        </section>
      </section>
    </section>
  </main>