  <main>

    <section class="conteudo-desktop">
      <br>

      <section>
        <a class="mapa_do_site-link" href="/">
          Home</a> <a class="mapa_do_site-atual"> > Culinária </a>
      </section>

      <section class="cabecalho_categoria">
        <article class="categoria_textos">
          <img class="imagem_pagina_categoria" src="./imagens-svg/2-body/categoculinaria.svg" alt="icon culinaria">
          <article class="titulo-descricao-categoria">
            <h1 class="titulo_pagina_categoria Cateculinaria">CULINÁRIA</h1>
            <p class="descricao_pagina_categoria">Explore um mundo de sabores e técnicas culinárias com dicas e tutoriais detalhados.</p>
          </article>
        </article>

          <nav class="filtros_categoria_Culinaria">
            <a href="?filtro=recente" class="filtro_cate Filtro-recente">+RECENTES</a>
            <a href="?filtro=em-alta" class="filtro_cate Filtro-emAlta">EM ALTA</a>
            <a href="?filtro=rapidos" class="filtro_cate Filtro-rapidas">+RÁPIDAS</a>
          </nav>
      </section>
      
      <hr class="linha_separadora_categorias linha_culinaria">
      
      <section class="postagens_categoria">
          <%- include("../perguntas-dicas/base-postagens") %>
      </section>


    </section>

  </main>