<main>
    <header class="botoes-cancelar-publicar">
       <button class="cancelarpergunta" onclick="PaginaAnterior()">CANCELAR</button>
       <button class="publicarpergunta" onclick="PaginaAnterior()">PUBLICAR</button>
    </header>
    <select class="filtropergunta">
       <option>CULINÁRIA</option>
       <option>LIMPEZA</option>
       <option>BEM-ESTAR</option>
    </select>
    <form class="pergunta">
       <input  type="text" name="subcatego" placeholder="  Subcategorias (ex: #janta, #rapido,...)">
       <br>
       <input class="sub" type="text" name="subcatego" placeholder="  O que você deseja aprender?">
       <br>
    </form>
 </main>