   <main>
      <section class="conteudo-dispositivo-mobile">
         <article id="Login" class="tabcontent" style="display:block;">
            <figure class="background-gatin">
               <section class="login-mob">
                  <%- include("../cadastro-login/"+pagina.FormLogin) %>
                  <!-- TAB LINKS -->
                  <aside class="tab">
                     <button class="tablinks-login" onclick="openCity(event, 'Cadastro')">Criar Conta</button>
                  </aside>
               </section>
            </figure>
         </article>

         <article id="Cadastro" class="tabcontent">
            <section class="cadastro-mob">
               <%- include("../cadastro-login/"+pagina.FormCadastro) %>
               <!-- TAB LINKS -->
               <aside class="tab">
                  <button class="tablinks-cadastro" onclick="openCity(event, 'Login')">Voltar para o Login</button>
               </aside>
            </section>
         </article>
      </section>

      <section class="conteudo-dispositivo-desktop-login">
         
         <figure class="decoracao-frente">
            <img src="imagens/gatinho-laranja-decoracao.png" alt="">
            <figure class="circulo" id="cir1"></figure>
         </figure>

         <article class="login-cadastro">
            <section id="Login" class="tabcontent" style="display:block;">
               <figure class="background-gatin">
                  <section class="login-mob">
                     <%- include("../cadastro-login/"+pagina.FormLogin) %>
                  </section>
               </figure>
            </section>

            <section id="Cadastro" class="tabcontent">
               <article class="cadastro-mob">
                  <%- include("../cadastro-login/"+pagina.FormCadastro) %>
               </article>
            </section>
         </article>

         <figure class="decoracao-atrás">
            <figure class="circulo" id="cir2"></figure>
            <figure class="circulo" id="cir3"></figure>
         </figure>
      </section>
   </main>
