   <main>
      <section class="conteudo-dispositivo-mobile">
         <article id="Login" class="tabcontent" style="display:block;">
            <figure class="background-gatin">
               <section class="login-mob">
                  <%- include("../cadastro-login/"+pagina.FormLogin) %>
                  <!-- TAB LINKS -->
                  <aside class="tabc">
                     <button class="tablinks-login" onclick="openCity(event, 'Cadastro')">Criar Conta</button>
                  </aside>
               </section>
            </figure>
         </article>

         <article id="Cadastro" class="tabcontent">
            <section class="cadastro-mob">
               <%- include("../cadastro-login/"+pagina.FormCadastro) %>
               <!-- TAB LINKS -->
               <aside class="tab">
                  <button class="tablinks-cadastro" onclick="openCity(event, 'Login')">Voltar para o Login</button>
               </aside>
            </section>
         </article>
      </section>
   </main>
