
   <main>
      <section class="conteudo-dispositivo mobile">

         <section class="slider">
            <article class="slides">
               <input type="radio" name="radio-btn" id="radio1">
               <input type="radio" name="radio-btn" id="radio2">
               <input type="radio" name="radio-btn" id="radio3">

               <figure class="slide primeiro">
                  <img class="imagens-slide" src="imagens/imagem-slide1.png" alt="imagem-culinaria">
                  <img class="imagem-categoria" src="imagens/icon-culinaria-branco.png" alt="icon-culinaria">
                  <section class="textos-carrossel">
                     <h1 class="texto-slide1">ARROZ DE FORNO</h1>
                     <p class="itens-necessarios">óleo - arroz - água - presunto - queijo - ervilha - cenoura - salsa - queijo parmesão - bacon</p>
                  </section>
               </figure>

               <figure class="slide">
                  <img class="imagens-slide" src="imagens/imagem-slide2.png" alt="imagem-limpeza">
                  <img class="imagem-categoria" src="imagens/icon-limpeza-branco.png" alt="icon-culinaria">
                  <section class="textos-carrossel">
                     <h1 class="texto-slide2">COMO LIMPAR SEU FOGÃO</h1>
                     <p class="itens-necessarios">vinagre branco - água - bicarbonato de sódio - detergente neutro - Esponja - Papel toalha</p>
                  </section>
               </figure>

               <figure class="slide">
                  <img class="imagens-slide" src="imagens/imagem-slide3.png" alt="imagem-bem-estar">
                  <img class="imagem-categoria" src="imagens/icon-bemestar-branco.png" alt="icon-culinaria">
                  <section class="textos-carrossel">
                     <h1 class="texto-slide3">COMO DEFINIR SEUS CACHOS</h1>
                     <p class="itens-necessarios3">creme para pentear - mascara hidratante - manual</p>
                  </section>
               </figure>

            </article>
         </section>

         <nav class="manual-navigation">
            <label for="radio1" class="manual-btn manual-btn1"></label>
            <label for="radio2" class="manual-btn manual-btn2"></label>
            <label for="radio3" class="manual-btn manual-btn3"></label>
         </nav>

         <nav class="recente-emalta-rapidas">
            <a href="/?pagina=1&categoria=todas&filtro=recente" class="button Recente Filtro-recente">+RECENTE</a>
            <a href="/?pagina=1&categoria=todas&filtro=em-alta" class="button EmAlta Filtro-emAlta">EM ALTA</a>
            <a href="/?pagina=1&categoria=todas&filtro=rapidos" class="button Rapidas Filtro-rapidas">+RÁPIDAS</a>
         </nav>

         <section class="conteudo-recente-emalta-rapidas">
            <%- include("../perguntas-dicas/base-postagens") %>
      </section>

      </section>


      <section class="conteudo-dispositivo desktop">
        <% if(usuario_logado && usuario_logado.autenticado){
             if(login == 1){%>
            <script>
               notify("Login efetuado com sucesso",
               "Olá <%= usuario_logado.autenticado %>", "success", "center");

               console.log("notificacao");
            </script>
            <% } %>
         <% } %>

         <section class="slider-D">
            <article class="slides-D">
               <input type="radio" name="radio-btn-D" id="radio1D">
               <input type="radio" name="radio-btn-D" id="radio2D">
               <input type="radio" name="radio-btn-D" id="radio3D">
               <figure class="slideD primeiro-D">
                  <section class="quadrado-categoria-culinaria"></section>
                  <section class="textos-carrossel">
                     <h1 class="titulo-carrossel">ARROZ DE FORNO</h1>
                     <p class="itens-necessarios">óleo - arroz - água - presunto - queijo - ervilha - cenoura - salsa
                        - queijo parmesão - bacon</p>
                     <button class="ver-dica"
                        onclick="window.location.href='https://grupo4-tca.github.io/Como-que-faz/Dica'">VER
                        DICA</button>
                  </section>
                  <img class="imagens-slide" src="imagens/carrossel-home-desktop.png" alt="imagem-culinaria">
                  <img class="imagem-categoriaD" src="imagens/icon-culinaria-branco.png" alt="icon-culinaria">
               </figure>
               <figure class="slideD">
                  <section class="quadrado-categoria-limpeza"></section>
                  <section class="textos-carrossel">
                     <h1 class="titulo-carrossel">COMO LIMPAR SEU FOGÃO</h1>
                     <p class="itens-necessarios">vinagre branco - água - bicarbonato de sódio - detergente
                        neutro - esponja - papel toalha</p>
                     <button class="ver-dica">VER DICA</button>
                  </section>
                  <img class="imagens-slide" src="imagens/carrossel-home-desktop-limpeza.png" alt="imagem-limpeza">
                  <img class="imagem-categoriaD" src="imagens/icon-limpeza-branco.png" alt="icon-culinaria">
                  <section class="textos-carrossel">
                  </section>
               </figure>
               <figure class="slideD">
                  <section class="quadrado-categoria-bemestar"></section>
                  <section class="textos-carrossel">
                     <h1 class="titulo-carrossel">COMO DEFINIR SEUS CACHOS</h1>
                     <p class="itens-necessarios">creme de pentear - mascara hidratante - manual</p>
                     <button class="ver-dica">VER DICA</button>
                  </section>
                  <img class="imagens-slide" src="imagens/carrossel-home-desktop-bemestar.png" alt="imagem-bem-estar">
                  <img class="imagem-categoriaD" src="imagens/icon-bemestar-branco.png" alt="icon-culinaria">
                  <section class="textos-carrossel">
                  </section>
               </figure>
            </article>
         </section>

         <nav class="manual-navigation-D">
            <label for="radio1D" class="manual-btnD manual-btnD1-D"></label>
            <label for="radio2D" class="manual-btnD manual-btnD2-D"></label>
            <label for="radio3D" class="manual-btnD manual-btnD3-D"></label>
         </nav>

         <nav class="recente-emalta-rapidas-Dkt">
            <a href="/?pagina=1&categoria=todas&filtro=recente" class="button Recente-Dkt Filtro-recente" id="Filtro-recente">+RECENTE</a>
            <a href="/?pagina=1&categoria=todas&filtro=em-alta" class="button EmAlta-Dkt Filtro-emAlta" id="Filtro-emAlta">EM ALTA</a>
            <a href="/?pagina=1&categoria=todas&filtro=rapidos" class="button Rapidas-Dkt Filtro-rapidas" id="Filtro-rapidas">+RÁPIDAS</a>
         </nav>

         <section class="conteudo-recente-emalta-rapidas-Dkt">
               <%- include("../perguntas-dicas/base-postagens") %>
         </section>

      </section>

   </main>

   
   <script src="../js/script-Home.js"></script>