   <main>
      <section class="CRIAR-dispositivo-mobile">
         <div class="floating-smoke">
            <div class="floating">
               <div class="floating-main">
                  <i class="material-icons">add</i>
               </div>
               <div class="float-opt opt-text">
                  <a href="https://grupo4-tca.github.io/Como-que-faz/Criar-Dica">
                     <img src="imagens/editar_icon.svg" alt="criar uma dica">
                  </a>
               </div>
               <div class="float-opt opt-media">
                  <a href="https://grupo4-tca.github.io/Como-que-faz/Criar-Pergunta">
                     <img src="imagens/feedback_icon.svg" alt="criar uma dica">
                  </a>
               </div>
            </div>
         </div>
      </section>
      <section class="CRIAR-dispositivo-desktop">
         <div class="floating-smoke">
            <div class="floating">
               <div class="floating-main">
                  <i class="material-icons">add</i>
               </div>
               <div class="float-opt opt-text" id="open-modal">
                  <img src="imagens/editar_icon.svg" alt="criar uma dica">
               </div>
               <div class="float-opt opt-media" id="open-pergunta">
                  <img src="imagens/feedback_icon.svg" alt="criar uma pergunta">
               </div>
            </div>
         </div>
         <!-- POP-UP CRIAR POSTAGEM -->
         <div id="fade-atras-cp" class="hidden">
            <div id="modal-criar-post" class="hidden">
               <div class="modal-header">
                  <img src="./imagens/gato-preenchido-roxo.png" alt="icone gato criar dica" id="gato-criar-post">
                  <h2 id="criar-post-titulo">CRIAR DICA</h2>
                  <div id="close-modal-criar-post">X</div>
               </div>
               <div class="modal-body">
                  <div id="criar-post-etapas">
                     <div class="linha-baixo">
                        <div class="linha-progresso" id="progresso"></div>
                     </div>
                     <div class="lista-tarefas">
                        <h2 id="bolinhas-atras">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                           . . . . .
                           . . . . .
                        </h2>
                        <button class="tarefa ativo" id="detalhes">
                           <div id="numero-do-elemento" class="detalhes-numero">1</div>
                           Detalhes
                        </button>
                        <button class="tarefa" id="elementos">
                           <div id="numero-do-elemento" class="elementos-numero">2</div>
                           Elementos
                        </button>
                        <button class="tarefa" id="midias">
                           <div id="numero-do-elemento" class="midias-numero">3</div>
                           Mídias
                        </button>
                     </div>
                     <div id="agrupamento-conteudo">
                        <div class="conteudo conteudo1" id="conteudoTarefa1">
                           <h2 id="titulo-detalhes">DETALHES</h2>
                           <input type="text" id="input-titulo-da-postagem" placeholder="TÍTULO DA POSTAGEM">
                           <section id="select-tempo-resultado-inline">
                              <div class="guarda-select">
                                 <input class="dialogoselect" id="dialogoselect" type="text" name="categoria"
                                    onfocus="dropdowncate(0)" onblur="dropdowncate(1)"
                                    placeholder="CATEGORIA DA POSTAGEM" readonly="readonly" />
                                 <div class="dropDown-categoria" id="dropdown">
                                    <div class="listDropDown-categoria">
                                       <div value="culinaria-categoria" class="item-select-detalhes texto"
                                          id="item-select-detalhes-1" onmousedown="category(1)">CULINÁRIA
                                       </div>
                                       <div class="item-select-detalhes texto" id="item-select-detalhes-2"
                                          onmousedown="categor(2)">
                                          LIMPEZA
                                       </div>
                                       <div class="item-select-detalhes texto" id="item-select-detalhes-3"
                                          onmousedown="categor(3)">
                                          BEM-ESTAR
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div id="tempo-detalhes">
                                 <img id="imagem-tempo-detalhes" src="./imagens/tempo-cor-cinza.svg"
                                    alt="tempo de execução">
                                 <input type="number" id="horas-tempo-detalhes" placeholder="00" min="0" max="100">H
                                 <input type="number" id="horas-tempo-detalhes" placeholder="00" min="0" max="60">MIN
                              </div>
                              <div id="tempo-detalhes-porcoes">
                                 <img id="imagem-tempo-detalhes-porcoes" src="./imagens/porçoes-cinza-culinaria.png"
                                    alt="tempo de execução">
                                 <input type="number" id="horas-tempo-detalhes" placeholder="00" min="0">PORÇÕES
                              </div>
                           </section>
                           <section id="descricao-subcategorias">
                              <div id="descricao-detalhes-total">
                                 <h3 id="titulo-descricao-detalhes">DESCRIÇÃO</h3>
                                 <textarea name="" id="descricao-detalhes" cols="30" rows="10"></textarea>
                              </div>
                              <div id="subcategoria-detalhes-total">
                                 <h3 id="titulo-subcategoria-detalhes">SUBCATEGORIAS</h3>
                                 <div class="input-container">
                                    <input type="text" id="input-text-subcategoria">
                                    <img src="./imagens/adicionar-etiqueta.svg" id="icon" onclick="adicionarMensagem()"
                                       alt="adicionar uma Subcategoria">
                                 </div>
                                 <div id="messageList" class="message-list">
                                 </div>
                              </div>
                           </section>
                        </div>
                        <div class="conteudo conteudo2" id="conteudoTarefa2">
                           <div id="esqueleto-elementos">
                              <h2 id="titulo-elementos">ELEMENTOS</h2>
                              <section id="clonados-ou-nao">
                                 <h2 id="titulo-ingredientes-elementos">INGREDIENTES</h2>
                                 <div id="ingredientes-elementos">
                                    <section id="sem-a-linha-rosa">
                                       <img id="botao-de-add-ingrediente" src="./imagens/adicionar-ingrediente.svg"
                                          onclick="duplicarDiv()">
                                       <img id="botao-de-tirar-ingrediente" src="./imagens/tirar-ingrediente.svg"
                                          alt="excluir ingrediente" onclick="apagarDiv(this)">
                                       <h4 id="nome-do-ingrediente">Nome do ingrediente</h4>
                                       <input type="text" id="input-nome-do-ingrediente" placeholder="FARINHA DE TRIGO">
                                       <div id="coiso-pra-deixar-certo">
                                          <div id="quantidade-elementos">
                                             <h4 id="nome-do-ingrediente">Quantidade/Peso</h4>
                                             <input type="text" id="input-quantidade-do-ingrediente" placeholder="01">
                                          </div>
                                          <div id="guardar-medidas-elementos">
                                             <h4 id="nome-do-ingrediente">Medida</h4>
                                             <select name="medidas-elementos" id="medidas-elementos">
                                                <div class="dropDown-medidas">
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Xícara
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Colher de sopa
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Colher de chá
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Colher de café
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Colher de sobremesa
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Copo americano
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Gramas (gr)
                                                   </option>
                                                   <option value="item-de-modo-de-preparo" class="item-medidas">
                                                      Mililitros (ml)
                                                   </option>
                                                </div>
                                             </select>
                                          </div>
                                       </div>
                                    </section>
                                    <div id="linha-rosa-ingredientes">
                                       <h2 id="numero-do-ingrediente">1</h2>
                                    </div>
                                 </div>
                              </section>
                              <div id="tudo-dos-clones">
                                 <section id="linhas-roxa-conteudo">
                                    <div id="titulo-texto-modo">
                                       <h2 id="modo-de-preparo-titulo">MODO DE PREPARO</h2>
                                       <h4 id="passo-a-passo-modo">Passo a passo</h4>
                                    </div>
                                    <div id="botoes-de-tirar-colocar">
                                       <img id="botao-de-add-modo" src="./imagens/adicionar-ingrediente.svg"
                                          onclick="duplicarDivModo()">
                                    </div>
                                    <div id="modo-de-preparo">
                                       <span id="arruma-numero-simbolo">
                                          <input type="text" id="numero-do-modo-de-preparo" placeholder="1"
                                             disabled="disabled">
                                          <h2 id="simbolo-do-numero">º</h2>
                                       </span>
                                       <input type="text" id="input-modo-de-preparo"
                                          placeholder="Misture todos os ingredientes...">
                                       <button id="apagar-modo-de-preparo" onclick="apagarDivModo(this)">X</button>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                        <div class="conteudo conteudo3" id="conteudoTarefa3">
                           <h2 id="titulo-elementos">MÍDIAS</h2>
                           <input type="file" id="files" accept="image/*" multiple style="display: none;">
                           <div id="esqueleto-midias">
                              <h1 id="adicione-midias">ADICIONE IMAGENS E VÍDEOS À SUA POSTAGEM!</h1>
                              <div id="retangulo-adicionar-midia">
                                 <img src="./imagens/mais-rosa.svg" alt="adicionar mídia" id="mais-adicionar-midia">
                              </div>
                              <div class="midia-adicionada-retangulo" id="midia-adicionada-retangulo"></div>
                           </div>
                           <div id="fundo-midias"></div>
                           <div id="result"></div>
                        </div>
                     </div>
                     <div id="botoes-criar-post">
                        <button id="btnVoltar" class="Voltar">VOLTAR</button>
                        <button id="btnAvancar" class="Avancar">PRÓXIMA ETAPA...</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- FINAL POP-UP CRIAR POSTAGEM -->
         <!-- POP-UP PERGUNTA -->
         <div id="fade-pergunta" class="hide">
            <div id="modal-pergunta" class="hide">
               <div class="modal-header-pergunta">
                  <img src="./imagens/gato-preenchido-roxo.png" alt="criar post titulo" id="gato-criar-post">
                  <h2 id="criar-post-titulo">CRIAR PERGUNTA</h2>
                  <div class="fechar-pergunta" id="close-modal-pergunta">X</div>
               </div>
               <div class="modal-body-pergunta">
                  <!-- ADIIONAR AQUI O ONTEUDO DO PERGUNTAR -->
                  <section class="alinhamento-da-pergunta">
                     <!-- //teste dropdown -->
                     <div class="guarda-select-perguntar">
                        <input class="dialogoselect-perguntar-categoria" id="dialogoselect-perguntar-categoria"
                           type="text" name="categoria" onfocus="dropdownpergunta(0)" onblur="dropdownpergunta(1)"
                           placeholder="CATEGORIA DA POSTAGEM" readonly="readonly">
                        <div class="dropdown-perguntar-categoria">
                           <div class="listdropdown-perguntar-categoria">
                              <div value="categoria-culinaria" class="item-perguntar-categoria"
                                 id="item-perguntar-categoria-1" onmousedown="perguntar(1)">CULINÁRIA</div>
                              <div value="categoria-limpeza" class="item-perguntar-categoria"
                                 id="item-perguntar-categoria-2" onmousedown="perguntar(2)">LIMPEZA</div>
                              <div value="categoria-bemestar" class="item-perguntar-categoria"
                                 id="item-perguntar-categoria-3" onmousedown="perguntar(3)">BEM-ESTAR</div>
                           </div>
                        </div>
                     </div>
                     <!-- //teste dropdown -->
                     <div class="duvida1">
                        <input type="text" class="duvida" placeholder="Subcategorias(ex: #janta, #rápido,...)"></input>
                     </div>
                     <div class="aprender-pergunta">
                        <textarea class="aprender" placeholder="Qual sua dúvida?"></textarea>
                     </div>
                     <div class="judas">
                        <button class="cancelar" id="close-modal-pergunta">Cancelar</button>
                        <button class="publicar" id="close-modal-pergunta">Publicar</button>
                     </div>
                  </section>
               </div>
            </div>
         </div>
         <!-- FINAL POP-UP PERGUNTA -->
      </section>

      <section class="conteudo-dispositivo mobile">
         <article id="editar-perfil-popup-mob" style="display: none;">
            <figure class="cima-editar">
               <h1 onclick="SairEditarPerfilMob()" class="xis-sair">X</h1>
               <button onclick="SairEditarPerfilMob()" class="salvar">SALVAR</button>
            </figure>
            <img class="banner-editar" src="./imagens/gato-esticado.svg" alt="foto do banner no perfil">
            <img id="camera1" class="editar-foto-camera" src="./imagens-svg/2-body/icon-camera-rosa.svg" alt="icon-camera-rosa">
            <figure class="foto-fundo-editar">
               <img class="fundo-foto-editar" src="./imagens/fundo-foto-perfil.svg" alt="foto de perfil">
               <img class="foto-editar-perfil" src="./imagens-svg/2-body/imagem-foto-de-perfil-fofa.svg" alt="">
            </figure>
            <img id="camera2" class="editar-foto-camera" src="./imagens-svg/2-body/icon-camera-rosa.svg" alt="icon-camera-rosa">
            <h3 id="tit1" class="tit-editar">NOME DE USUÁRIO</h3>
            <input class="tex-editar" type="text" name="user" placeholder="Sofizinha">
            <h3 class="tit-editar">BIOGRAFIA</h3>
            <input class="tex-editar" type="text" name="user" placeholder="Dicas caseiras fáceis de fazer">
            <figure class="tit-duas">
               <h3 class="tit-editar1">NOME DO SITE</h3>
               <h3 class="tit-editar1">URL DO SITE</h3>
            </figure>
            <figure class="tex-duas">
               <input id="tex-duas1" class="tex-editar" type="text" name="user" placeholder="Site">
               <input id="tex-duas2" class="tex-editar" type="text" name="user" placeholder="UserDicas.com.br">
            </figure>
            <h3 class="tit-editar">REDES CONECTADAS</h3>

            <section class="redes-editar">
               <figure class="rede-editar">
                  <img src="./imagens-svg/2-body/tiktok-roxo-escuro.svg" alt="tiktok">
               </figure>
               <figure class="rede-editar">
                  <img src="./imagens-svg/2-body/instagram-roxo-escuro.svg" alt="instagram">
               </figure>
               <figure class="rede-editar">
                  <img src="./imagens-svg/2-body/twitter-roxo-escuro.svg" alt="twitter">
               </figure>
            </section>
         </article>

         <figure id="fundo-editar-perfil-mob" style="display: none;">
         </figure>

         <article class="perfil-cima">
            <img class="gato-esticado" src="./imagens/gato-esticado.svg" alt="foto do banner no perfil">
            <figure class="foto-editar">
               <img class="imagem-perfil-mob" src="./imagens-svg/2-body/foto-perfil.svg" alt="foto de perfil">
               <button class="editar-perfil-mob" onclick="EditarPerfilMob()">Editar Perfil</button>
            </figure>

            <h1 class="User1234">Sofizinha</h1>
            <h2 class="Nome1234">Sofia Albuquerque Lima</h2>

            <section id="descrição-perfil">
               <h5 class="dicas-caseiras">Dicas caseiras faceis de fazer!</h5>
               <figure class="descricao-pf">
                  <img id="icon-link" src="./imagens-svg/2-body/icon-de-link.svg" alt="icone de link">
                  <span class="site"
                  style="margin-left: 2px; color: #cb218c; font-weight: 500; text-decoration: underline; font-size: 14px;">Site</span>
                  | https://userdicas.com.br<br>
               </figure>
               <figure class="redes-sociais-perfil">
                  <img class="rede" src="imagens-svg/2-body/tiktok-rosa.svg" alt="tiktok">
                  <img class="rede" src="imagens-svg/2-body/twitter-rosa.svg" alt="twitter">
                  <img class="rede" src="imagens-svg/2-body/instagram-rosa.svg" alt="instagram">
               </figure>
            </section>

            <section class="segui-mob">
               <figure id="inf-perfil-1">
                  <h3 id="segui">100</h3>
                  <h3 id="vis-seguindo">SEGUIDORES</h3>
               </figure>
               <figure id="inf-perfil-2">
                  <h3 id="segui">200</h3>
                  <h3 id="vis-seguindo">SEGUINDO</h3>
               </figure>
               <figure id="inf-perfil-3">
                  <h3 id="segui">3</h3>
                  <h3 id="vis-seguindo">POSTAGENS</h3>
               </figure>
            </section>

            <section class="postagens-rascunhos-interacoes">
               <button class="postagens" onclick="VisiPostagens()">POSTAGENS</button>
               <button class="rascunhos" onclick="VisiRascunhos()">RASCUNHOS</button>
            </section>
         </article>

         <article class="conteudo-postagens-rascunhos-interacoes">
            <section class="Conteudo-postagens" id="Conteudo-postagens">
               <article class="pinterest-style-class" id="pinterest-style" style="height: 200vw;">
                  <section id="primeira-fileira-posts">
                     <!-- 1 POST DISPENSA - FILEIRA 1 -->
                     <article id="base-post">
                        <section id="post">
                           <article id="post-dispensa-fileira1">
                              <img id="dispensa" src="./imagens/dispensa.svg" alt="post">
                              <figure id="sombra"></figure>
                              <h2 id="descri-post">ORGANIZE SUA <br>DISPENSA JÁ!</h2>
                           </article>
                           <section id="post-baixo">
                              <img id="icon-post" src="./imagens-svg/2-body/tempo.svg" alt="tempo estimado">
                              <h3 id="descri-icon">0H40</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/avalia.svg" alt="avaliação">
                              <h3 id="descri-icon">5.0</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/porcao.svg" alt="porção">
                              <h3 id="descri-icon">~</h3>
                           </section>
                        </section>
                     </article>
                     <section id="longpress-post-dispensa-fileira1">
                        <article id="long-cima">
                           <p id="plongpress">Etiquetas - organizadores - caneta gráfica - cestas - manual</p>
                           <img id="icon-salvar-vazado" src="./imagens-svg/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="long-baixo">
                           <img id="icon-limpeza-longpress" src="./imagens-svg/2-body/icon-limpeza-branco.svg"
                              alt="post com categoria limpeza">
                           <h2 id="texto-longpress">ORGANIZE SUA <br>DISPENSA JÁ!</h2>
                        </article>
                     </section>
                     <!-- FINAL 1 POST DISPENSA - FILEIRA 1 -->
                     <!-- 2 PERGUNTA LAVAR ROUPA - FILEIRA 1 -->
                     <article id="base-post">
                        <section id="post-pergunta">
                           <section id="c">
                              <article id="post-perg">
                                 <figure id="fundoperg"></figure>
                                 <h2 id="text-pergunta">Amo pão de alho, como posso preparar um?</h2>
                              </article>
                              <section id="post-baixo-h">
                                 <img id="icon-post" src="./imagens-svg/2-body/comentpergunta.svg" alt="avaliação">
                                 <h3 id="descri-icon">20</h3>
                                 <img id="icon-post" src="./imagens-svg/2-body/respostapergunta.svg" alt="porção">
                                 <h3 id="descri-icon">0</h3>
                              </section>
                           </section>
                        </section>
                     </article>
                     <!-- FINAL 2 PERGUNTA LAVAR ROUPA - FILEIRA 1 -->
                     <!-- 3 POST BOLINHO DE CHUVA - FILEIRA 1 -->
                     <article id="base-post">
                        <section id="post-bolin-de-chuva">
                           <article id="post-bolin-fileira1">
                              <img id="bolin" src="./imagens/bolin.svg" alt="post">
                              <figure id="sombra-a"></figure>
                              <h2 id="descri-post-a">BOLINHO DE<br>CHUVA DA VOVÓ</h2>
                           </article>
                           <section id="post-baixo-a">
                              <img id="icon-post" src="./imagens-svg/2-body/tempo.svg" alt="tempo estimado">
                              <h3 id="descri-icon">0H30</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/avalia.svg" alt="avaliação">
                              <h3 id="descri-icon">4.5</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/porcao.svg" alt="porção">
                              <h3 id="descri-icon">8</h3>
                           </section>
                        </section>
                     </article>
                     <section id="longpress-post-bolin-fileira1">
                        <article id="long-cima">
                           <p id="plongpress">Farinha de trigo - Açúcar - Extrato de baunilha - Fermento em pó - Canela
                              em pó - óleo - Ovo</p>
                           <img id="icon-salvar-vazado" src="./imagens-svg/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="bolin-long-baixo">
                           <img id="icon-culinaria-longpress" src="./imagens-svg/2-body/icon-culinaria-branco.svg"
                              alt="post com categoria limpeza">
                           <h2 id="texto-longpress">BOLINHO DE <br>CHUVA DA VOVÓ</h2>
                        </article>
                     </section>
                     <!-- FINAL 3 POST BOLINHO DE CHUVA - FILEIRA 1 -->
                  </section>
                  <section id="segunda-fileira-posts">
                     <!-- 1 POST CACHOS - FILEIRA 2 -->
                     <article id="base-post">
                        <section id="post-cachos">
                           <article id="post-cachos-fileira2">
                              <img id="cachos" src="./imagens/cachos.svg" alt="post">
                              <figure id="sombra-b"></figure>
                              <h2 id="descri-post-cachos-fileira2">COMO DEFINIR <br>SEUS CACHOS?</h2>
                           </article>
                           <section id="post-baixo-f">
                              <img id="icon-post" src="./imagens-svg/2-body/tempo.svg" alt="tempo estimado">
                              <h3 id="descri-icon">0H50</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/avalia.svg" alt="avaliação">
                              <h3 id="descri-icon">2.4</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/porcao.svg" alt="porção">
                              <h3 id="descri-icon">1</h3>
                           </section>
                        </section>
                     </article>
                     <section id="longpress-post-cachos-fileira2">
                        <article id="long-cima">
                           <p id="plongpress">Creme para pentear modelador - Mascára recuperadora - Shampoo -
                              Condicionador hidratante</p>
                           <img id="icon-salvar-vazado" src="./imagens-svg/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="cachos-long-baixo">
                           <img id="icon-limpeza-longpress" src="./imagens-svg/2-body/icon-bemestar-branco.svg"
                              alt="post com categoria limpeza">
                           <h2 id="texto-longpress">COMO DEFINIR <br>SEUS CACHOS?</h2>
                        </article>
                     </section>
                     <!-- FINAL 1 POST CACHOS - FILEIRA 2 -->
                     <!-- 2 POST BOLO DE CENOURA - FILEIRA 2 -->
                     <article id="base-post">
                        <section id="post-bolo-de-cenoura">
                           <article id="post-bolo-de-cenoura-fileira2">
                              <img id="dispensa" src="./imagens/bolo.svg" alt="post">
                              <figure id="sombra"></figure>
                              <h2 id="descri-post-bolo-de-cenoura">BOLO DE CENOURA<br>CALDA PERFEITA</h2>
                           </article>
                           <section id="post-baixo-c">
                              <img id="icon-post" src="./imagens-svg/2-body/tempo.svg" alt="tempo estimado">
                              <h3 id="descri-icon">0H40</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/avalia.svg" alt="avaliação">
                              <h3 id="descri-icon">5.0</h3>
                              <img id="icon-post" src="./imagens-svg/2-body/porcao.svg" alt="porção">
                              <h3 id="descri-icon">9</h3>
                           </section>
                        </section>
                     </article>
                     <section id="longpress-post-bolo-de-cenoura-fileira2">
                        <article id="long-cima">
                           <p id="plongpress">Ovo - Manteiga - Açúcar - Óleo - Farinha de trigo - Fermento em pó -
                              Cenoura média ralada</p>
                           <img id="icon-salvar-vazado" src="./imagens-svg/2-body/salvar-post-vazado.svg" alt="salvar">
                        </article>
                        <article id="bolo-de-cenoura-long-baixo">
                           <img id="icon-culinaria-longpress" src="./imagens-svg/2-body/icon-culinaria-branco.svg"
                              alt="post com categoria limpeza">
                           <h2 id="texto-longpress">BOLO DE CENOURA<br>CALDA PERFEITA</h2>
                        </article>
                     </section>
                     <!-- FINAL 2 POST BOLO DE CENOURA - FILEIRA 2 -->
                     <!-- 3 PERGUNTA - FILEIRA 2 -->
                     <article id="base-post">
                        <section id="post">
                           <section id="c">
                              <article id="post-perg">
                                 <figure id="fundoperg"></figure>
                                 <h2 id="text-pergunta">Queria tanto aprender a lavar roupa sem maquina</h2>
                              </article>
                              <section id="post-baixo-h">
                                 <img id="icon-post" src="./imagens-svg/2-body/comentpergunta.svg" alt="avaliação">
                                 <h3 id="descri-icon">20</h3>
                                 <img id="icon-post" src="./imagens-svg/2-body/respostapergunta.svg" alt="porção">
                                 <h3 id="descri-icon">0</h3>
                              </section>
                           </section>
                        </section>
                     </article>
                     <!-- 3 FINAL PERGUNTA - FILEIRA 2-->
                  </section>
               </article>
            </section>

            <section class="Conteudo-rascunhos" id="Conteudo-rascunhos" style="display: none;">
               <figure class="sem-rescunhos">
                  <img src="imagens-svg/2-body/gato-nuvem-sem-conteudo.svg" alt="nada encontrado">
                  <h3>Sem rascunhos por enquanto...</h3>
                  <h2>Comece por aqui</h2>
               </figure>
            </section>
         </article>
      </section>

      <section class="conteudo-dispositivo desktop">
         <article id="editar-perfil-popup" style="display: none;">
            <h1 onclick="SairEditarPerfil()" class="xis-sair">X</h1>
            <img class="banner-editar" src="./imagens/gato-esticado.svg" alt="foto do banner no perfil">
            <img id="camera1" class="editar-foto-camera" src="./imagens-svg/2-body/icon-camera-rosa.svg" alt="icon-camera-rosa">
            <img class="fundo-foto-editar" src="./imagens/fundo-foto-perfil.svg" alt="foto de perfil">
            <img class="foto-editar" src="./imagens/foto-perfil.svg" alt="">
            <img id="camera2" class="editar-foto-camera" src="./imagens-svg/2-body/icon-camera-rosa.svg" alt="icon-camera-rosa">
            <h3 id="tit1" class="tit-editar">NOME DE USUÁRIO</h3>
            <input class="tex-editar" type="text" name="user" placeholder="Sofizinha">
            <h3 class="tit-editar">BIOGRAFIA</h3>
            <input class="tex-editar" type="text" name="user" placeholder="Dicas caseiras fáceis de fazer">
            <figure class="tit-duas">
               <h3 class="tit-editar">NOME DO SITE</h3>
               <h3 class="tit-editar">URL DO SITE</h3>
            </figure>
            <figure class="tex-duas">
               <input id="tex-duas1" class="tex-editar" type="text" name="user" placeholder="Site">
               <input id="tex-duas2" class="tex-editar" type="text" name="user" placeholder="UserDicas.com.br">
            </figure>
            <h3 class="tit-editar">REDES CONECTADAS</h3>
            <section class="redes-editar">
               <figure class="rede-editar">
                  <img src="./imagens-svg/2-body/tiktok-roxo-escuro.svg" alt="tiktok">
               </figure>
               <figure class="rede-editar">
                  <img src="./imagens-svg/2-body/instagram-roxo-escuro.svg" alt="instagram">
               </figure>
               <figure class="rede-editar">
                  <img src="./imagens-svg/2-body/twitter-roxo-escuro.svg" alt="twitter">
               </figure>
            </section>
            <button onclick="SairEditarPerfil()" class="salvar">SALVAR</button>
         </article>

         <figure id="fundo-editar-perfil" style="display: none;">
         </figure>
         
         <article id="Perfil" class="tabcontent active">
            <section class="perfil-cima">
               <figure class="mapa-do-site">
                  <p class="mapa-1">Home</p>
                  <p class="seta-1"> > </p>
                  <p class="mapa-1">Meu Perfil</p>
                  <p class="seta"> > </p>
                  <p class="mapa-2">Meu Perfil</p>
               </figure>
               <img class="gato-esticado" src="./imagens/gato-esticado.svg" alt="foto do banner no perfil">
               <img class="fundo-foto-perfil" src="./imagens/fundo-foto-perfil.svg" alt="foto de perfil">
               <img class="foto-perfil" src="./imagens/foto-perfil.svg" alt=""> <button class="editar-perfil"
                  onclick="EditarPerfil()">Editar Perfil</button>

               <figure class="nome-user">
                  <h1 class="User1234">Sofizinha | </h1>
                  <h2 class="Nome1234"> Sofia Albuquerque Lima</h2>
               </figure>
               <h5 class="dicas-caseiras">Dicas caseiras faceis de fazer!</h5>

               <figure class="descricao-pf"><img class="icon-link" src="./imagens-svg/2-body/icon-de-link.svg" alt="icone de link">
                  <span class="site"
                     style="color: #cb218c; font-weight: bold; text-decoration: underline;">Site</span> |
                  https://userdicas.com.br<br>
               </figure>
               <img class="tiktok-rosa" src="./imagens-svg/2-body/tiktok-rosa.svg" alt="tiktok">
               <img class="twitter-rosa" src="./imagens-svg/2-body/twitter-rosa.svg" alt="twitter">
               <img class="instagram-rosa" src="./imagens-svg/2-body/instagram-rosa.svg" alt="instagram">
               <figure class="vis-seguidores">100 seguidores</figure>
               <figure class="vis-seguindo">200 seguindo</figure>
               <figure class="vis-postagens">3 postagens</figure>
            </section>

            <section class="perfil-baixo">
               <section class="tab-perfil">
                  <button class="tablinks-perfil active" onclick="opiniao(event, 'Postagens')">Postagens</button>
                  <button class="tablinks-perfil" onclick="opiniao(event, 'Rascunhos')">Rascunhos</button>
               </section>

               <section id="Postagens" class="tabcontent-perfil">
                  <article class="postagens-esqueleto">
                     <section class="filtro">
                        <button class="botao-filtro active" onclick="selecionarFiltro(this)">Todos</button>
                        <button class="botao-filtro" onclick="selecionarFiltro(this)">Recentes</button>
                        <button class="botao-filtro" onclick="selecionarFiltro(this)">Em alta</button>
                        <button class="botao-filtro" onclick="selecionarFiltro(this)">+Rápidas</button>
                        <button class="botao-filtro" onclick="selecionarFiltro(this)">Culinária</button>
                        <button class="botao-filtro" onclick="selecionarFiltro(this)">Limpeza</button>
                        <button class="botao-filtro" onclick="selecionarFiltro(this)">Bem Estar</button>
                     </section>

                     <section class="postagens">
                        <section class="postagens1" style="margin-left: 65px; margin-top: 0%">
                           <article class="post3" onmouseover="mostrarDivOculta3()" onmouseout="esconderDivOculta3()">
                              <img src="imagens/post-limpar-fogao.png" alt="foto-post3" class="info-cima-post">
                              <h1 id="texto-atras3" class="info-cima-post">Limpe seu forno fácil</h1>
                              <img id="icon-limpeza-branco3" src="imagens-svg/2-body/icon-limpeza-branco.svg" alt="icon-limpeza-branco3"
                                 class="info-cima-post3">
                              <aside class="legenda3">
                                 <figure class="legenda3 relogio3">
                                    <img src="imagens-svg/2-body/relogio-cinza.svg" alt="tempo estimaddo">
                                    <h3>0H20</h3>
                                 </figure>
                                 <figure class="legenda3 estrela3">
                                    <img src="imagens-svg/2-body/estrela-cinza.svg" alt="avaliação">
                                    <h3>4.9</h3>
                                 </figure>
                              </aside>
                              <aside class="hover-post3" id="hover-post3">
                                 <section class="salvar-post3" id="salvar-post3">
                                    <img id="favorito-vaz3" src="imagens-svg/2-body/salvar-post-vazado.svg"
                                       alt="bandeira-favoritos-vazado">
                                    <img id="favorito-pre3" src="imagens-svg/2-body/salvar-post-preenchido.svg"
                                       alt="bandeira-favoritos-preenchido">
                                 </section>
                                 <h3>vinagre branco - água - bicarbonato de sódio - detergente neutro - Esponja -
                                    Papel toalha</h3>
                              </aside>
                           </article>

                           <article class="post4" onmouseover="mostrarDivOculta4()" onmouseout="esconderDivOculta4()">
                              <img src="imagens/post-imagem-pele.png" alt="foto-post4" class="info-cima-post">
                              <h1 id="texto-atras4" class="info-cima-post">Cuidados com a pele negra</h1>
                              <img id="icon-limpeza-branco4" src="imagens-svg/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco4"
                                 class="info-cima-post4">
                              <aside class="legenda4">
                                 <figure class="legenda4 relogio3">
                                    <img src="imagens-svg/2-body/relogio-cinza.svg" alt="tempo estimado">
                                    <h3>0H10</h3>
                                 </figure>
                                 <figure class="legenda4 estrela3">
                                    <img src="imagens-svg/2-body/estrela-cinza.svg" alt="avaliação">
                                    <h3>4.9</h3>
                                 </figure>
                              </aside>
                              <aside class="hover-post4" id="hover-post4">
                                 <section class="salvar-post4" id="salvar-post4">
                                    <img id="favorito-vaz4" src="imagens-svg/2-body/salvar-post-vazado.svg"
                                       alt="bandeira-favoritos-vazado">
                                    <img id="favorito-pre4" src="imagens-svg/2-body/salvar-post-preenchido.svg"
                                       alt="bandeira-favoritos-preenchido">
                                 </section>
                                 <h3>esfoliante - água - hidratante</h3>
                              </aside>
                           </article>
                        </section>

                        <section class="postagens2" style="margin-left: 4%; margin-top: 3.4%">
                           <article class="post5" onmouseover="mostrarDivOculta5()" onmouseout="esconderDivOculta5()">
                              <img src="imagens/post-organizacao-rotina.png" alt="foto-post5" class="info-cima-post">
                              <h1 id="texto-atras5" class="info-cima-post">Organize sua rotina</h1>
                              <img id="icon-limpeza-branco5" src="imagens-svg/2-body/icon-bemestar-branco.svg" alt="icon-bem-estar-branco5"
                              class="info-cima-post5">
                              <aside class="legenda5">
                                 <figure class="legenda5 relogio5">
                                    <img src="imagens-svg/2-body/relogio-cinza.svg" alt="tempo estimado">
                                    <h3>1H20</h3>
                                 </figure>
                                 <figure class="legenda5 estrela5">
                                    <img src="imagens-svg/2-body/estrela-cinza.svg" alt="avaliação">
                                    <h3>5.0</h3>
                                 </figure>
                              </aside>
                              <aside class="hover-post5" id="hover-post5">
                                 <section class="salvar-post5" id="salvar-post5">
                                    <img id="favorito-vaz5" src="imagens-svg/2-body/salvar-post-vazado.svg"
                                       alt="bandeira-favoritos-vazado">
                                    <img id="favorito-pre5" src="imagens-svg/2-body/salvar-post-preenchido.svg"
                                       alt="bandeira-favoritos-preenchido">
                                 </section>
                                 <h3>essa dica não possui itens necessários</h3>
                              </aside>
                           </article>
                        </section>
                     </section>
                  </article>
               </section>

               <section id="Rascunhos" class="tabcontent-perfil">
                  <article class="rascunhos-esqueleto">
                     <figure class="pontilhado-em-volta"></figure>
                     <img class="gato-sem-rascunhos" src="./imagens-svg/2-body/gato-nuvem-sem-conteudo.svg" alt="sem rascunhos">
                     <h2 class="sem-rascunhos">Sem rascunhos por enquanto...</h2>
                     <a href="https://grupo4-tca.github.io/Como-que-faz/Criar-Dica">
                        <h2 class="Comece-por-aqui">Comece por aqui</h2>
                     </a>
                  </article>
               </section>
               
            </section>
         </article>
      </section>

      <script src="./js/base-post-mb.js"></script>
   </main>