<main>
    <section id="Notificacoes" class="tabcontent">

      <aside class="mapa-do-sitefav">
        <a class="url-site-perfil-a" href="/">
          <p class="mapa-1">Home</p>
        </a>
        <p class="seta-1"> > </p>
        <a class="url-site-perfil-a" href="/perfil">
          <p class="mapa-1">Meu Perfil</p>
        </a>
        <p class="seta"> > </p>
        <p class="mapa-2">Meus Favoritos</p>
      </aside>

      <aside class="feed-not">
        <figure class="headernot">
          <img src="imagens-svg/2-body/favoritos.svg" alt="Icon Favoritos">
          <h3>FAVORITOS</h3>
        </figure>
      </aside>

      <section class="conteudo-fav">
        <article class="postagens-favoritas">
          <% if(total_postagens> 0) { %>
            <%- include("../perguntas-dicas/base-postagens") %>
              <% }else{ %>
                <figure class="aviso-sem-postagens">
                  <img class="gato-sem-rascunhos" src="/imagens-svg/2-body/gato-nuvem-sem-conteudo.svg"
                    alt="sem rascunhos">
                  <span class="gato-sem-rascunhos-aviso-texto">Nenhum favorito nesse perfil!</span>
                </figure>
                <% }%>
        </article>
      </section>
    </section>

  <script src="./js/base-post-mb.js"></script>
</main>