<main>
    <section class="conteudo-dispositivo-mobile"></section>
    <section class="conteudo-dispositivo-desktop">
        <section id="Notificacoes" class="tabcontent">
            <aside class="mapa-do-sitefav">
                <p class="mapa-1">Home</p>
                <p class="seta-1"> > </p>
                <p class="mapa-1">Meu Perfil</p>
                <p class="seta"> > </p>
                <p class="mapa-2">Meus Favoritos</p>
            </aside>
            <aside class="feed-not">
                <figure class="headernot">
                    <img src="imagens-svg/2-body/sino-roxoclaro.svg" alt="Icone Notificações">
                    <h3>Notificações</h3>
                </figure>
            </aside>
            <nav class="filtro-not">
                <fieldset class="radio-container">
                    <input type="radio" id="radio1" name="radio-group">
                    <label for="radio1">Mais Recente</label>
                </fieldset>
                <fieldset class="radio-container">
                    <input type="radio" id="radio2" name="radio-group">
                    <label for="radio2">Marcações</label>
                </fieldset>
                <fieldset class="radio-container">
                    <input type="radio" id="radio3" name="radio-group">
                    <label for="radio3">Respostas</label>
                </fieldset>
                <fieldset class="radio-container">
                    <input type="radio" id="radio4" name="radio-group">
                    <label for="radio4">Comentários</label>
                </fieldset>
            </nav>
            <section class="notificacoes-do-usuario">
            </section>
        </section>
    </section>
</main>