<main>
    <section class="mapa-do-site-pagamento">
        <a class="mapa_do_site-link" href="/">Home</a>
        <p class="seta-mapa">></p>
        <a class="mapa_do_site-link2" href="/bigodes-de-ouro">Bigodes de ouro</a>
        <a class="mapa_do_site-atual"> > Pagamento </a>
    </section>

    <section class="sections-pagamento-grupo">
        <section class="section-pagamento">
            <figure class="titulo-section-pagamento">
                <img class="imagem-titulo-pagamento" src="./imagens-svg/2-body/gato-com-bigode-cinza.svg" alt="">
                <h1 class="h1-titulo-pagamento">Produtos</h1>
            </figure>
            <article class="conteudo-section-pagamento">
                Bigodes de Ouro: Plano Semanal
            </article>
            <article class="valorTotal-produtos-pagamento">
                <p class="p-valorTotal">Valor Total:</p>
                <p class="p-valorTotal">R$ 69,69</p>
            </article>
        </section>
        <section class="section-pagamento">
            <figure class="titulo-section-pagamento">
                <img class="imagem-titulo-pagamento" src="./imagens-svg/2-body/dados-cadastrais-cinza.svg" alt="">
                <h1 class="h1-titulo-pagamento">Dados cadastrais</h1>
            </figure>
            <article class="conteudo-section-pagamento">
                <figure class="dadosCadastrais-pagamento">
                    <button class="button-dadosCadastrais">Editar dados</button>
                    <h3 class="h3-dadosCadastrais">Nome:</h3>
                    <p class="p-dadosCadastrais">Sofia Albuquerque Lima</p>
                    
                    <h3 class="h3-dadosCadastrais">E-mail:</h3>
                    <p class="p-dadosCadastrais">sofialindinhafofinha@gmail.com</p>
                </figure>
            </article>
        </section>
        <section class="section-pagamento">
            <figure class="titulo-section-pagamento">
                <img class="imagem-titulo-pagamento" src="./imagens-svg/2-body/cartao-cinza.svg" alt="">
                <h1 class="h1-titulo-pagamento">Método de pagamento</h1>
            </figure>
            <article class="conteudo-section-pagamento">
                <input type="radio">
                <input type="radio">
                <input type="radio">
            </article>
        </section>
    </section>
</main>