<main>
    <section class="conteudo-desktop">
        <section class="container_patinhas">

            <section class="conteudo_patinhas">
                <section>
                    <a class="mapa_do_site-link_patinhas" href="/"> Home</a>
                    <a class="mapa_do_site-atual"> > Patinhas: ''</a>
                </section>
                <section class="cabecalho_patinhas">
                    <article class="patinhas_textos">
                        <article class="titulo-descricao-patinhas">
                            <h1 class="titulo_pagina_patinhas">Patinhas: ""</h1>
                            <p class="descricao_pagina_patinhas">Consulte aqui seus resultados sobre
                            </p>
                        </article>
                    </article>
                </section>
                <hr class="linha_separadora_patinhas">
                <section class="postagens_patinhas">
                    <%- include("../perguntas-dicas/base-postagens", { postagens: postagens }) %>
                </section>
            </section>
        </section>
    </section>
</main>