<main class="main-premium">
    <section class="Conteudodesk">
    <section class="Secao-Banner-principal">

        <article class="Article-Banner">
            <img src="imagens/bigodes-de-ouro-completo.png" alt="" class="Banner-bigodes-inteiro">
            <h1 class="Banner-titulo-premium">Acesso Premium</h1>
            <hr class="Banner-linha-rosa">

            <p class="Banner-descricao-premium">Transforme sua experiência na nossa plataforma adquirindo seus Bigodes de Ouro! Aproveite a navegação sem anúncios, dicas ilimitadas por dia e diversos benefícios exclusivos. Não perca tempo e torne-se um verdadeiro mestre com seus Bigodes de Ouro.</p>
            <button class="Banner-botao-beneficios" onclick="scrollToSection()">Veja beneíficios do premium</button>
            <div class="Banner-borda-botao"></div>
        </article>

        <figure class="Figure-Banner">
            <img src="imagens/banner-premium.png" alt="" class="Banner-imagem-principal">
        </figure>
    </section>
    
    <section class="Secao-Beneficios-Premium" id="target-section">

        <section class="figure-artigo-beneficios">
            <figure class="figure-titulo-beneficios">
                <img src="imagens/estrelinha-amarela-premium-beneficios.png" alt="" class="estrelinha-titulo">
                <h1 class="titulo-beneficios">BENEFÍCIOS DO<br>BIGODES DE OURO</h1>
            </figure>
            
            <article class="artigo-beneficios">
                <p class="texto-beneficios">Você terá acesso ilimitado a dicas todos os dias. Sim, é isso mesmo! Enquanto os usuários comuns só podem ver 5 dicas por dia, imagine quantas manhas e truques você pode aprender, desde como dobrar uma camiseta em três segundos até a receita secreta da avó para o bolo perfeito. </p>
                <br>
                <p class="texto-beneficios">Além disso, ao assinar o Bigodes de Ouro, os anúncios chatos desaparecem, deixando sua navegação livre e limpa. E se você é um criador de conteúdo, vai adorar saber que suas dicas ganharão destaque especial, aumentando sua visibilidade na plataforma. E tem mais: nossos parceiros oferecem conteúdos exclusivos e cupons de desconto que só os membros Bigodes de Ouro podem acessar. </p>
                <br>
                <p class="texto-beneficios">Com o Bigodes de Ouro, você transforma sua experiência no Como que faz? em algo muito mais divertido e vantajoso. Então, bora se juntar à turma dos bigodes de ouro e aproveitar todos esses benefícios? Afinal, quem tem bigode é rei, pelo menos na nossa plataforma!.</p>
            </article>
        </section>

        <section class="quadro-beneficios">

            <table class="tabela-beneficios">
                     
                <tr class="cabeçalho-tabela-beneficios">
                    <th></th>
                    <th class="cabeçalho_beneficios">BENEFÍCIOS</th>
                    <th class="cabeçalho_free">FREE</th>
                    <th class="cabeçalho_premium">PREMIUM</th>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha radius_top">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Dicas ilimitadas por dia</p></td>

                    <td class="coluna-beneficios-free cinza_escuro">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium radius_top roxo_escuro">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Acesso livre de anúncios</p></td>

                    <td class="coluna-beneficios-free">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Perfil Verificado + selo</p></td>

                    <td class="coluna-beneficios-free cinza_escuro">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium roxo_escuro">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Conteúdo exclusivo dos bigodes</p></td>

                    <td class="coluna-beneficios-free">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha radius_bottom">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Destaque das dicas no site</p></td>

                    <td class="coluna-beneficios-free cinza_escuro">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium radius_bottom roxo_escuro">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>
            </table>

            <article>
                <div class="borda1-quadro"></div>
                <div class="borda2-quadro"></div>
            </article>
        </section>

        <img class="pontilhado-beneficios" src="https://files.axshare.com/gsc/PL5M9V/2a/8a/72/2a8a72e9c71846db9dad8b8067ad09ba/images/premium_bigodes_de_ouro/u85.svg?pageId=b0112eef-eef0-4118-b003-3de2e0145139">
    </section>

    <section class="Secao-Planos-Premium">
        <section class="blocos_planos">
            <article class="plano">
                <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="imagem_bigodes_de_ouro_moedinha">
                <h3 class="blocos_planos_subtitulo um">BIGODES DE OURO</h3>
                <h2 class="blocos_planos_titulo_plano um">PLANO SEMANAL</h2>

                <p class="blocos_planos_descricao">Por apenas 6,99 por semana, você terá acesso sem anúncios, dicas e patinhas ilimitadas e muito mais! Experimente por uma semana e veja como é fácil se tornar um mestre das dicas.
                </p>

                <span class="blocos_planos_observacao">7 dias por apenas:</span>
                <button class="blocos_planos_botao um">R$ 6,99</button>
                <span class="economiza_span">Menos de 1 real por dia!</span>
            </article>

            <article class="plano">
                <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="imagem_bigodes_de_ouro_moedinha">
                <h3 class="blocos_planos_subtitulo dois">BIGODES DE OURO</h3>
                <h2 class="blocos_planos_titulo_plano dois">PLANO MENSAL</h2>

                <p class="blocos_planos_descricao">Desbloqueie todo o potencial da plataforma por apenas R$6,99 por semana. Com a assinatura mensal, você terá acesso sem anúncios, dicas e patinhas ilimitadas e muito mais! Invista no seu conhecimento e aprenda muito com o plano mensal.
                </p>

                <span class="blocos_planos_observacao">30 dias por apenas:</span>
                <button class="blocos_planos_botao dois">R$ 27,99</button>
            </article>

            <article class="plano">
                <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="imagem_bigodes_de_ouro_moedinha">
                <h3 class="blocos_planos_subtitulo tres">BIGODES DE OURO</h3>
                <h2 class="blocos_planos_titulo_plano tres">PLANO SEMESTRAL</h2>

                <p class="blocos_planos_descricao">Para quem quer o máximo de benefícios, temos o plano trimestral por R$3,50 a semana. Economize enquanto desfruta de todos os recursos premium, incluindo conteúdos exclusivos. Três meses de ouro para você!</p>

                <span class="blocos_planos_observacao">6 meses por apenas:</span>
                <button class="blocos_planos_botao tres">R$ 83,00</button>
                <span class="economiza_span">50% de desconto!</span>
            </article>
        </section>

        <section class="blocos_meios_de_pagamento">
            <article class="meios_de_pagamento">
                <p>métodos de pagamento*</p>
            </article>
        </section>
    </section>
</section>

<section class="Conteudomobil">
    <section class="Secao-Banner-principal">

        <article class="Article-Banner">
            <img src="imagens/bigodes-de-ouro-completo.png" alt="" class="Banner-bigodes-inteiro">
            <h1 class="Banner-titulo-premium">Acesso Premium</h1>
            <hr class="Banner-linha-rosa">

            <p class="Banner-descricao-premium">Transforme sua experiência na nossa plataforma adquirindo seus Bigodes de Ouro! Aproveite a navegação sem anúncios, dicas ilimitadas por dia e diversos benefícios exclusivos. Não perca tempo e torne-se um verdadeiro mestre com seus Bigodes de Ouro.</p>
            <button class="Banner-botao-beneficios" onclick="scrollToSection()">Veja beneíficios do premium</button>
            <div class="Banner-borda-botao"></div>
        </article>

        <figure class="Figure-Banner">
            <img src="imagens/banner-premium.png" alt="" class="Banner-imagem-principal">
        </figure>
    </section>

    <section class="Secao-Beneficios-Premium" id="target-section">

        <section class="figure-artigo-beneficios">
            <figure class="figure-titulo-beneficios">
                <img src="imagens/estrelinha-amarela-premium-beneficios.png" alt="" class="estrelinha-titulo">
                <h1 class="titulo-beneficios">BENEFÍCIOS DO<br>BIGODES DE OURO</h1>
            </figure>
            
            <article class="artigo-beneficios">
                <p class="texto-beneficios">Você terá acesso ilimitado a dicas todos os dias. Sim, é isso mesmo! Enquanto os usuários comuns só podem ver 5 dicas por dia, imagine quantas manhas e truques você pode aprender, desde como dobrar uma camiseta em três segundos até a receita secreta da avó para o bolo perfeito. </p>
                <br>
                <p class="texto-beneficios">Além disso, ao assinar o Bigodes de Ouro, os anúncios chatos desaparecem, deixando sua navegação livre e limpa. E se você é um criador de conteúdo, vai adorar saber que suas dicas ganharão destaque especial, aumentando sua visibilidade na plataforma. E tem mais: nossos parceiros oferecem conteúdos exclusivos e cupons de desconto que só os membros Bigodes de Ouro podem acessar. </p>
                <br>
                <p class="texto-beneficios">Com o Bigodes de Ouro, você transforma sua experiência no Como que faz? em algo muito mais divertido e vantajoso. Então, bora se juntar à turma dos bigodes de ouro e aproveitar todos esses benefícios? Afinal, quem tem bigode é rei, pelo menos na nossa plataforma!.</p>
            </article>
        </section>

        <section class="quadro-beneficios">

            <table class="tabela-beneficios">
                     
                <tr class="cabeçalho-tabela-beneficios">
                    <th></th>
                    <th class="cabeçalho_beneficios">BENEFÍCIOS</th>
                    <th class="cabeçalho_free">FREE</th>
                    <th class="cabeçalho_premium">PREMIUM</th>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha radius_top">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Dicas ilimitadas por dia</p></td>

                    <td class="coluna-beneficios-free cinza_escuro">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium radius_top roxo_escuro">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Acesso livre de anúncios</p></td>

                    <td class="coluna-beneficios-free">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Perfil Verificado + selo</p></td>

                    <td class="coluna-beneficios-free cinza_escuro">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium roxo_escuro">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Conteúdo exclusivo dos bigodes</p></td>

                    <td class="coluna-beneficios-free">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha radius_bottom">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-texto">                        
                        <p>Destaque das dicas no site</p></td>

                    <td class="coluna-beneficios-free cinza_escuro">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium radius_bottom roxo_escuro">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                </tr>
            </table>

            <article>
                <div class="borda1-quadro"></div>
                <div class="borda2-quadro"></div>
            </article>
        </section>
    </section>

    <section class="Secao-Planos-Premium">
        <section class="blocos_planos">
            
            <article class="plano">
                <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="imagem_bigodes_de_ouro_moedinha">
                <h3 class="blocos_planos_subtitulo tres">BIGODES DE OURO</h3>
                <h2 class="blocos_planos_titulo_plano tres">PLANO SEMESTRAL</h2>

                <p class="blocos_planos_descricao">Para quem quer o máximo de benefícios, temos o plano trimestral por R$3,50 a semana. Economize enquanto desfruta de todos os recursos premium, incluindo conteúdos exclusivos. Três meses de ouro para você!</p>

                <span class="blocos_planos_observacao">6 meses por apenas:</span>
                <button class="blocos_planos_botao tres">R$ 83,00</button>
                <span class="economiza_span">50% de desconto!</span>
            </article>


            <article class="plano">
                <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="imagem_bigodes_de_ouro_moedinha">
                <h3 class="blocos_planos_subtitulo dois">BIGODES DE OURO</h3>
                <h2 class="blocos_planos_titulo_plano dois">PLANO MENSAL</h2>

                <p class="blocos_planos_descricao">Desbloqueie todo o potencial da plataforma por apenas R$6,99 por semana. Com a assinatura mensal, você terá acesso sem anúncios, dicas e patinhas ilimitadas e muito mais! Invista no seu conhecimento e aprenda muito com o plano mensal.
                </p>

                <span class="blocos_planos_observacao">30 dias por apenas:</span>
                <button class="blocos_planos_botao dois">R$ 27,99</button>
            </article>

            <article class="plano">
                <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="imagem_bigodes_de_ouro_moedinha">
                <h3 class="blocos_planos_subtitulo um">BIGODES DE OURO</h3>
                <h2 class="blocos_planos_titulo_plano um">PLANO SEMANAL</h2>

                <p class="blocos_planos_descricao">Por apenas 6,99 por semana, você terá acesso sem anúncios, dicas e patinhas ilimitadas e muito mais! Experimente por uma semana e veja como é fácil se tornar um mestre das dicas.
                </p>

                <span class="blocos_planos_observacao">7 dias por apenas:</span>
                <button class="blocos_planos_botao um">R$ 6,99</button>
                <span class="economiza_span">Menos de 1 real por dia!</span>
            </article>
        </section>

        
    </section>
    <section class="blocos_meios_de_pagamento">
            <article class="meios_de_pagamento">
                <p>métodos de pagamento*</p>
            </article>
        </section>
    
</section>
</main>

<script>
    function scrollToSection() {
            const section = document.getElementById('target-section');
            section.scrollIntoView({ behavior: 'smooth', block: 'start' });
    }
</script>