<main class="main-premium">
    <section class="Secao-Banner-principal">

        <article class="Article-Banner">
            <img src="imagens/bigodes-de-ouro-completo.png" alt="" class="Banner-bigodes-inteiro">
            <h1 class="Banner-titulo-premium">Acesso Premium</h1>
            <hr class="Banner-linha-rosa">

            <p class="Banner-descricao-premium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <button class="Banner-botao-beneficios">Veja beneíficios do premium</button>
            <div class="Banner-borda-botao"></div>
        </article>

        <figure class="Figure-Banner">
            <img src="imagens/banner-premium.png" alt="" class="Banner-imagem-principal">
        </figure>
    </section>
    
    <section class="Secao-Beneficios-Premium">

        <section class="figure-artigo-beneficios">
            <figure class="figure-titulo-beneficios">
                <img src="imagens/estrelinha-amarela-premium-beneficios.png" alt="" class="estrelinha-titulo">
                <h1 class="titulo-beneficios">BENEFÍCIOS DO<br>BIGODES DE OURO</h1>
            </figure>
            
            <article class="artigo-beneficios">
                <p class="texto-beneficios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                <br>
                <p class="texto-beneficios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                <br>
                <p class="texto-beneficios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            </article>
        </section>

        <section class="quadro-beneficios">

            <table class="tabela-beneficios">
                     
                <tr class="cabeçalho-tabela-beneficios">
                    <th>BENEFÍCIOS</th>
                    <th>FREE</th>
                    <th>PREMIUM</th>
                </tr>

                <tr class="linhas-tabela-beneficios"> 
                    <td class="coluna-beneficios-estrelinha">
                        <img src="imagens/estrelinha-branca-premium-beneficios.png" alt=""></td>

                    <td class="coluna-beneficios-beneficio">                        
                        <p>Dicas ilimitadas por dia</p></td>

                    <td class="coluna-beneficios-free">
                        <p>-</p></td>

                    <td class="coluna-beneficios-premium">
                        <img src="imagens/certinho-quadro-premium.png" alt=""></td>
                        
                </tr>
            </table>

                <!-- <figure class="estrelinhas-quadro-ben">
                    <img src="imagens/estrelinha-branca-premium-beneficios.png" alt="" class="estrelinha-lista">
                    <img src="imagens/estrelinha-branca-premium-beneficios.png" alt="" class="estrelinha-lista">
                    <img src="imagens/estrelinha-branca-premium-beneficios.png" alt="" class="estrelinha-lista">
                    <img src="imagens/estrelinha-branca-premium-beneficios.png" alt="" class="estrelinha-lista">
                    <img src="imagens/estrelinha-branca-premium-beneficios.png" alt="" class="estrelinha-lista">
                </figure>
                
                <article class="lista-beneficios-texto">
                        <p>Dicas ilimitadas por dia</p>
                        <p>Acesso livre de anúncios</p>
                        <p>Perfil Verificado + selo</p>
                        <p>Conteúdo exclusivo dos bigodes</p>
                        <p>Destaque das dicas no site</p>
                </article>
                
                <article class="beneficios-free">
                        <p>-</p>
                        <p>-</p>
                        <p>-</p>
                        <p>-</p>
                        <p>-</p>
                </article>

                <article class="beneficios-premium">
                    <img src="imagens/certinho-quadro-premium.png" alt="" class="certinho-lista linha1">
                    <img src="imagens/certinho-quadro-premium.png" alt="" class="certinho-lista linha2">
                    <img src="imagens/certinho-quadro-premium.png" alt="" class="certinho-lista linha3">
                    <img src="imagens/certinho-quadro-premium.png" alt="" class="certinho-lista linha4">
                    <img src="imagens/certinho-quadro-premium.png" alt="" class="certinho-lista linha5">
                </article> -->
                
                <figure class="borda1-quadro"></figure>
                <figure class="borda2-quadro"></figure>
            </article>
    </section>

    <section class="Secao-Planos-Premium">
        
    </section>
</main>