<main class="main-premium">
    <section class="Secao-Banner-principal">
        <article class="Article-Banner">
            <img src="imagens/bigodes-de-ouro-completo.png" alt="" class="Banner-bigodes-inteiro">
            <h1 class="Banner-titulo-premium">Acesso Premium</h1>
            <hr class="Banner-linha-rosa">

            <p class="Banner-descricao-premium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <button class="Banner-botao-beneficios">Veja beneíficios do premium</button>
            <hr class="Banner-borda-botao">
        </article>

        <figure class="Figure-Banner">
            <img src="imagens/banner-premium.png" alt="" class="Banner-imagem-principal">
        </figure>
    </section>
    
    <section class="Secao-Beneficios-Premium">
        <figure class="figure-titulo-beneficios">
            <img src="imagens/estrelinha-amarela-premium-beneficios.png" alt="" class="estrelinha-titulo">
            <h1 class="titulo-beneficios">BENEFÍCIOS DO<br>BIGODES DE OURO</h1>
            
            <p class="texto-beneficios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <br>
            <p class="texto-beneficios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
            <br>
            <p class="texto-beneficios">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </figure>


    </section>

    <section class="Secao-Planos-Premium">
        
    </section>
</main>