<main>
    <div class="popupsair-borda">
        <div class="popupsair">
            <img class="logosair" src="./imagens/logo completa.png" alt="logo">
            <h1 class="sairdaconta">Sair da conta?</h1>
            <p class="sair">Olá, <%= usuario_logado %>! Você está saindo da sua conta. Esperamos vê-lo novamente em breve!</p>
            <a href="/sair-da-conta"><button class="sair">Sair</button></a> 
            <br></br>
            <button class="cancelarsair" onclick="PaginaAnterior()">Cancelar</button>
        </div>
    </div>
</main>