<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens-svg/5-adm/favcon-adm.svg" type="image/x-icon" />
   
   <link rel="stylesheet" href="../css/style-adm-paginas.css">

   <title>Admin | Premium</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <article class="link-pg-premium">
         Link para a página
         <img class="visualizar-pg-premium" src="/imagens-svg/visualizar-icon-roxo.svg" alt="">
      </article>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="/imagens-svg/5-adm/iconRoxoPagina-premium.svg" alt="" class="imagem-pagina-premium">
            <h1 class="titulo-pagina">PÁGINA | ACESSO PREMIUM</h1>
            <hr class="linha-pagina">
         </section>
      
         <section class="conteudo-pagina">
            
            <section id="adm-tab-buttons">
               <button class="adm-tab-btn-premium active-btn-premium" content-id="adm-imagens-premium">
                  Imagens
               </button>

               <button class="adm-tab-btn-premium" content-id="adm-textos-premium">
                  Textos
               </button>

               <button class="adm-tab-btn-premium" content-id="adm-planos-premium">
                  Planos
               </button>

               <button class="adm-tab-btn-premium" content-id="adm-beneficios-premium">
                  Benefícios
               </button>
            </section>

            <!-- conteudo tabs ------------------------------------------------------------------------------ -->
            <section class="adm-tab-contents-premium">
               <article class="adm-content-premium show" id="adm-imagens-premium">
                  <section class="lado-esquerdo-conteudo-img">
                  <section class="primeira-img-premium">
                     <figure class="container-textos-img-premium">
                     <h1 class="titulo-img-premium">Imagem principal do acesso Premium</h1>
                     <p class="texto-explicativo-img-premium">Encontrado em <strong>primeiro plano</strong> na página promocional
                      do site, está imagem representa aquela que aparecerá como "Imagem Principal", ou seja, o 
                      ícone deve estar completo: <strong>Ícone e Tipografia.</strong></p>
                      <p class="texto-recomendativo-de-tamanho">Tamanho Recomendado: 850px x 520px</p>
                     </figure>
                      <img src="/imagens/bigodes-de-ouro-completo.png" alt="" class="primeira-img-exposta">
                  </section>

                  <section class="segunda-img-premium">
                     <figure class="container-textos-img-premium">
                     <h1 class="titulo-img-premium">Ícone minimizado do Acesso Premium</h1>
                     <p class="texto-explicativo-img-premium">Encontrado na <strong>página promocional</strong> do site, especificadamente nos planos, 
                     está imagem representa aquela que aparecerá como "Ícone Principal", ou seja, o ícone não deve estar completo: <strong>apenas Ícone.</strong></p>
                      <p class="texto-recomendativo-de-tamanho">Tamanho Recomendado: 850px x 520px</p>
                     </figure>
                      <img src="/imagens-svg/bigodes-de-ouro-moeda.svg" alt="" class="primeira-img-exposta">
                  </section>
                  </section>

                  <section class="terceira-img-premium">
                     <h1 class="titulo-terceira-img-premium">Banner Promocional do Acesso Premium</h1>
                     <p class="texto-explicativo-terceira-img-premium">Encontrado em primeiro plano na <strong>página promocional</strong> do site, em formato de 
                     banner estático. Esta imagem representa aquela que aparecerá como "Banner Principal", ou seja, a imagem deve estar 
                     composta com nossa identidade visual e com comunicação direta.</p>
                      <p class="texto-recomendativo-de-tamanho">Tamanho Recomendado: 850px x 520px</p>
                      <img src="/imagens/banner-premium.png" alt="" class="terceira-img-exposta">
                  </section>

                  <section class="footer-edicao-img">
                     <img src="/imagens-svg/5-adm/icon-editar-branco.svg" alt="" class="icon-editar-img">
                     <button class="btn-editar-img"> Fazer Alterações</button>
                  </section>
               </article>

               <article class="adm-content-premium" id="adm-textos-premium">
                  <section class="primeiro-texto-acesso-premium">
                     <h1 class="titulo-primeiro-texto-AP">Descrição Principal do Acesso Premium</h1>
                     <p class="descricao-primeiro-texto-AP">Encontrado em primeiro plano na <strong>página promocional</strong> 
                     do site, este texto representa aquele que aparecerá como "Descrição Principal", ou seja, o 
                     texto deve ter um breve resumo sobre os benefícios do Premium.</p>
                     <textarea name="" id="" class="primeiro-texto-exposto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                     Accusantium assumenda asperiores atque autem libero ratione enim quidem, hic minus saepe deleniti qui eaque repellat 
                     ipsum impedit deserunt animi debitis harum?</textarea>
                  </section>

                  <section class="segundo-texto-acesso-premium">
                     <h1 class="titulo-primeiro-texto-AP">Descrição dos Benefícios do Acesso Premium</h1>
                     <p class="descricao-primeiro-texto-AP">Encontrado em segunda seção na <strong>página promocional</strong> 
                     do site. Este texto representa uma descrição detalhada dos benefícios do acesso premium, ou seja, o texto deve ser bem 
                     explicativo com o objetivo de informar os usuários..</p>
                     <textarea name="" id="" class="primeiro-texto-exposto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.?</textarea>
                  </section>

                  <section class="footer-edicao-img">
                     <img src="/imagens-svg/5-adm/icon-editar-branco.svg" alt="" class="icon-editar-img">
                     <button class="btn-editar-img"> Fazer Alterações</button>
                  </section>
               </article>

               <article class="adm-content-premium" id="adm-planos-premium">
                  ccccc
               </article>

               <article class="adm-content-premium" id="adm-beneficios-premium">
                  ddddd
               </article>
            </section>

         </section>
      </section>
   </main>
</body>

</html>