<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens/favcon-adm.png" type="image/x-icon" />
   
   <link rel="stylesheet" href="../css/style-adm-paginas.css">

   <title>Admin | Postagens</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="/imagens-svg/5-adm/iconRoxoPagina-postagens.svg" alt="" class="imagem-pagina">
            <h1 class="titulo-pagina">POSTAGENS & PERGUNTAS</h1>
            <hr class="linha-pagina">
         </section>
   
         <section class="conteudo-pagina">
            <!-- tabela Denúncias - Inicio -->
               <section id="menu-filtros-denuncias" class="grid-menu-filtros-postagem">
                  <figure id="titulo-id-postagem" class="linha-1-titulos">ID</figure>
                  <figure id="titulo-conteudo-postagem" class="linha-1-titulos">Conteúdo</figure>
                  <figure id="titulo-titulo-postagem" class="linha-1-titulos">Título</figure>
                  <figure id="titulo-autor-postagem" class="linha-1-titulos">Autor</figure>
                  <figure id="titulo-categoria-postagem" class="linha-1-titulos">Categoria</figure>
                  
                  <article id="pesquisar-postagem" class="linha-1-titulos">
                     <img class="icone-pesquisa" src="/imagens-svg/5-adm/pesquisa-cinza.svg" alt="">
                     <input class="pesquisa-input" type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquisar ID ou perfil..."> <!-- pesquisa (search) na tabala - onkeyup é quando um user digita -->
                  </article>

                  <select id="filtro-conteudo-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">123...</option>
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">123...</option>
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">123...</option>
                  </select>

                  <select id="filtro-motivo-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-motivo-denuncia" class="opcao-denuncia-filtro">Pergunta</option>
                     <option value="" id="opcao-motivo-denuncia" class="opcao-denuncia-filtro">Postagem</option>
                  </select>

                  <select id="filtro-categoria-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-categoria-denuncia" class="opcao-denuncia-filtro">A-Z</option>
                  </select>

                  <select id="filtro-autor-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-autor-denuncia" class="opcao-denuncia-filtro">A-Z</option>
                  </select>

                  <select id="filtro-status-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-status-denuncia" class="opcao-denuncia-filtro">Culinaria</option>
                     <option value="" id="opcao-status-denuncia" class="opcao-denuncia-filtro">Limpeza</option>
                     <option value="" id="opcao-status-denuncia" class="opcao-denuncia-filtro">Bem-estar</option>
                  </select>
               </section>

               <section class="fundo-tabela-postagens">
                  <table class="tabela-postagens" id="myTable">
                     
                     <tr class="cabeçalho-tabela-postagens">
                        <th style="width: 8vh; padding-left: 3vh;" class="titulo-tabela">ID</th>
                        <th style="width: 15vh;" class="titulo-tabela">Conteúdo</th>
                        <th style="width: 30vh;" class="titulo-tabela">Título do Conteúdo</th>
                        <th style="width: 15vh;" class="titulo-tabela">Categoria</th>
                        <th style="width: 23vh;" class="titulo-tabela">Autor</th>
                        <th style="width: 4vh;" class="titulo-tabela"></th>
                        <th style="width: 4vh;" class="titulo-tabela"></th>
                        <th style="width: 4vh;" class="titulo-tabela"></th>
                     </tr>

                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha-postagens Coluna-id">#10.049</td>
                        <td class="linha-postagens">
                           <p class="Coluna-conteudo-postagens">Postagem</p>
                        </td>
                        <td class="linha-postagens Coluna-titulo">Receita de Lancheira Saudável para Crianças</td>
                        <td class="linha-postagens Coluna-categoria">Cúlinária</td>
                        <td class="linha-postagens Coluna-autor" data-autor="true">User</td>
                        <td class="linha-postagens"> <img class="icon-rosa-linha visualizar-icon-postagem" src="/imagens-svg/visualizar-icon-rosa.svg" alt=""></td>
                        <td class="linha-postagens"> <img class="icon-rosa-linha bloquear-icon-postagem" src="/imagens-svg/bloquear-icon-rosa.svg" alt=""></td>
                        <td class="linha-postagens"> <img class="icon-rosa-linha excluir-icon-postagem" src="/imagens-svg/excluir-icon-rosa.svg" alt=""></td>
                     </tr>

                  </table>
               </section>
            <!-- tabela Denúncias - Fim -->
         </section>

      </section>
   </main>
</body>

</html>