<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens/favcon-adm.png" type="image/x-icon" />
   
   <link rel="stylesheet" href="../css/style-adm-paginas.css">

   <title>Admin | Postagens</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="imagens/iconRoxoPagina-postagens.png" alt="" class="imagem-pagina">
            <h1 class="titulo-pagina">POSTAGENS & PERGUNTAS</h1>
            <hr class="linha-pagina">
         </section>
   
         <section class="conteudo-pagina">
            <section id="menu-filtros-denuncias" class="grid-menu-filtros-denuncias">
               <figure id="titulo-conteudo-denuncia" class="linha-1-titulos">Conteúdo</figure>
               <figure id="titulo-motivo-denuncia" class="linha-1-titulos">Motivo da Denúncia</figure>
               <figure id="titulo-categoria-denuncia" class="linha-1-titulos">Categoria</figure>
               <figure id="titulo-autor-denuncia" class="linha-1-titulos">Autor</figure>
               <figure id="titulo-status-denuncia" class="linha-1-titulos">Status</figure>
               
               <article id="pesquisar" class="linha-1-titulos">
                  <img class="icone-pesquisa" src="/imagens/pesquisa-cinza.png" alt="">
                  <input class="pesquisa-input" type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquisar ID ou perfil..."> <!-- pesquisa (search) na tabala - onkeyup é quando um user digita -->
               </article>

               <select id="filtro-conteudo-denuncia" class="linha-2-filtros">
                  <option value="" id="opcao-conteudo-denuncia">Comentário</option>
                  <option value="" id="opcao-conteudo-denuncia">Postagem</option>
                  <option value="" id="opcao-conteudo-denuncia">Perfil</option>
                  <option value="" id="opcao-conteudo-denuncia">Pergunta</option>
               </select>

               <select id="filtro-motivo-denuncia" class="linha-2-filtros">
                  <option value="" id="opcao-motivo-denuncia">Conteúdo Inadequado</option>
                  <option value="" id="opcao-motivo-denuncia">Spam</option>
                  <option value="" id="opcao-motivo-denuncia">Violações dos termos de uso</option>
               </select>

               <select id="filtro-categoria-denuncia" class="linha-2-filtros">
                  <option value="" id="opcao-categoria-denuncia">Bem-Estar</option>
                  <option value="" id="opcao-categoria-denuncia">Culinária</option>
                  <option value="" id="opcao-categoria-denuncia">Limpeza</option>
               </select>

               <select id="filtro-autor-denuncia" class="linha-2-filtros">
                  <option value="" id="opcao-autor-denuncia">A-Z</option>
               </select>

               <select id="filtro-status-denuncia" class="linha-2-filtros">
                  <option value="" id="opcao-status-denuncia">Não Analisada</option>
                  <option value="" id="opcao-status-denuncia">Analisada</option>
                  <option value="" id="opcao-status-denuncia">Analisada e Avaliada</option>
               </select>
            </section>

         </section>
      </section>
   </main>
</body>

</html>