<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens/favcon-adm.png" type="image/x-icon" />
   
   <link rel="stylesheet" href="/css/style-adm-paginas.css">
   <link rel="stylesheet" href="/css/style-adm-denuncias.css">

   <title>Admin | Denúncias</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="/imagens-svg/5-adm/iconRoxoPagina-denuncias.svg" alt="" class="imagem-pagina">
            <h1 class="titulo-pagina">DENÚNCIAS</h1>
            <hr class="linha-pagina">
         </section>
   
         <section class="conteudo-pagina">
            <!-- tabela Denúncias - Inicio -->
               <section id="menu-filtros-denuncias" class="grid-menu-filtros-denuncias">
                  <figure id="titulo-conteudo-denuncia" class="linha-1-titulos">Conteúdo</figure>
                  <figure id="titulo-motivo-denuncia" class="linha-1-titulos">Motivo da Denúncia</figure>
                  <figure id="titulo-categoria-denuncia" class="linha-1-titulos">Categoria</figure>
                  <figure id="titulo-autor-denuncia" class="linha-1-titulos">Autor</figure>
                  <figure id="titulo-status-denuncia" class="linha-1-titulos">Status</figure>
                  
                  <article id="pesquisar" class="linha-1-titulos">
                     <img class="icone-pesquisa" src="/imagens-svg/5-adm/pesquisa-cinza.svg" alt="">
                     <input class="pesquisa-input" type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquisar ID ou perfil..."> <!-- pesquisa (search) na tabala - onkeyup é quando um user digita -->
                  </article>

                  <select id="filtro-conteudo-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">Comentário</option>
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">Postagem</option>
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">Perfil</option>
                     <option value="" id="opcao-conteudo-denuncia" class="opcao-denuncia-filtro">Pergunta</option>
                  </select>

                  <select id="filtro-motivo-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-motivo-denuncia" class="opcao-denuncia-filtro">Violações dos termos de uso</option>
                     <option value="" id="opcao-motivo-denuncia" class="opcao-denuncia-filtro">Conteúdo Inadequado</option>
                     <option value="" id="opcao-motivo-denuncia" class="opcao-denuncia-filtro">Spam</option>
                  </select>

                  <select id="filtro-categoria-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-categoria-denuncia" class="opcao-denuncia-filtro">Bem-Estar</option>
                     <option value="" id="opcao-categoria-denuncia" class="opcao-denuncia-filtro">Culinária</option>
                     <option value="" id="opcao-categoria-denuncia" class="opcao-denuncia-filtro">Limpeza</option>
                  </select>

                  <select id="filtro-autor-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-autor-denuncia" class="opcao-denuncia-filtro">A-Z</option>
                  </select>

                  <select id="filtro-status-denuncia" class="linha-2-filtros">
                     <option value="" id="opcao-status-denuncia" class="opcao-denuncia-filtro">Analisada e Avaliada</option>
                     <option value="" id="opcao-status-denuncia" class="opcao-denuncia-filtro">Não Analisada</option>
                     <option value="" id="opcao-status-denuncia" class="opcao-denuncia-filtro">Analisada</option>
                  </select>
               </section>

               <section class="fundo-tabela">
                  <table class="tabela" id="myTable">
                     
                     <tr class="cabeçalho-tabela">
                        <th style="width: 11.17vh;" class="titulo-tabela"></th>
                        <th style="width: 19.01vh;" class="titulo-tabela">Conteúdo</th>
                        <th style="width: 24.39vh;" class="titulo-tabela">Motivo da Denúncia</th>
                        <th style="width: 15.91vh;" class="titulo-tabela">Categoria</th>
                        <th style="width: 23.25vh;" class="titulo-tabela">Autor da Denúncia</th>
                        <th style="width: 31.11vh;" class="titulo-tabela">Status</th>
                     </tr>

                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha"> <img class="ver-detalhes-denuncia" onclick="clickMenu()" src="/imagens-svg/add-rosa.svg" alt=""></td>
                        <td class="linha">
                           <p class="Coluna-conteudo">Perfil</p>
                        </td>
                        <td class="linha Coluna-motivo">Conteúdo Inadequado</td>
                        <td class="linha Coluna-categoria">Cúlinária</td>
                        <td class="linha Coluna-autor" data-autor="true">User</td>
                        <td class="linha">
                           <p class="Coluna-status analisadaAvaliada">Analisada e Avaliada</p>
                        </td>
                     </tr>

                     <tr class="linhas" id="asideDetalhes" style="display: ;" >
                        <td colspan="6" style="border: none;">
                           <aside class="asideDetalhes">
                              <article class="linha-detalhe-denuncia">
                                 <section class="conteudo-detalhe-denuncia">
                                    <section class="grid-info-usuario">
                                       <h1 class="titulo-detalhamento-denuncia">ID da denúncia</h1>
                                       <h1 class="titulo-detalhamento-denuncia">Usuário Denunciado</h1>
                                       <h1 class="titulo-detalhamento-denuncia">Detalhamento</h1>

                                       <figure class="info-detalhe-denuncia">#10.020</figure>
                                       <figure class="info-detalhe-denuncia"><img src="/imagens-svg/foto-perfil-autor.svg" alt="" class="foto-usu-detalhe-denuncia">Perfil</figure>
                                       <figure class="info-detalhe-denuncia">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</figure>
                                    </section>

                                    <section class="grid-btn-detalhes-denuncia">
                                       <a class="link-btn-detalhes-denuncia" href="http://">
                                          <section class="btn-detalhes-denuncia">
                                             <img src="/imagens-svg/" alt="" class="img-btn-detalhes-denuncia">
                                             <h1 class="txt-btn-detalhes-denuncia">Visualizar conteúdo denunciado</h1>
                                          </section>
                                       </a>
   
                                       <a class="link-btn-detalhes-denuncia" href="http://">
                                          <section class="btn-detalhes-denuncia">
                                             <img src="/imagens-svg/" alt="" class="img-btn-detalhes-denuncia">
                                             <h1 class="txt-btn-detalhes-denuncia">Suspender Usuário Denúnciado</h1>
                                          </section>
                                       </a>
                                       
                                       <a class="link-btn-detalhes-denuncia" href="http://">
                                          <section class="btn-detalhes-denuncia">
                                             <img src="/imagens-svg/" alt="" class="img-btn-detalhes-denuncia">
                                             <h1 class="txt-btn-detalhes-denuncia">Descartar Denúncia</h1>
                                          </section>
                                       </a>
                                    </section>
                                 </section>
                              </article>
                           </aside>
                        </td>
                     </tr>

                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha"> <img class="ver-detalhes-denuncia" src="/imagens-svg/add-rosa.svg" alt=""></td>
                        <td class="linha">
                           <p class="Coluna-conteudo">Pergunta</p>
                        </td>
                        <td class="linha Coluna-motivo">Spam</td>
                        <td class="linha Coluna-categoria">Limpeza</td>
                        <td class="linha Coluna-autor" data-autor="true">User2</td>
                        <td class="linha">
                           <p class="Coluna-status naoAnalisada">Não Analisada</p>
                        </td>
                     </tr>
                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha"> <img class="ver-detalhes-denuncia" src="/imagens-svg/add-rosa.svg" alt=""></td>
                        <td class="linha">
                           <p class="Coluna-conteudo">Postagem</p>
                        </td>
                        <td class="linha Coluna-motivo">Violações dos termos de uso</td>
                        <td class="linha Coluna-categoria">Bem-Estar</td>
                        <td class="linha Coluna-autor" data-autor="true">User3</td>
                        <td class="linha">
                           <p class="Coluna-status analisada">Analisada</p>
                        </td>
                     </tr>
                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha"> <img class="ver-detalhes-denuncia" src="/imagens-svg/add-rosa.svg" alt=""></td>
                        <td class="linha">
                           <p class="Coluna-conteudo">Comentário</p>
                        </td>
                        <td class="linha Coluna-motivo">Violações dos termos de uso</td>
                        <td class="linha Coluna-categoria">Limpeza</td>
                        <td class="linha Coluna-autor" data-autor="true">User4</td>
                        <td class="linha">
                           <p class="Coluna-status naoAnalisada">Não Analisada</p>
                        </td>
                     </tr>
                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha"> <img class="ver-detalhes-denuncia" src="/imagens-svg/add-rosa.svg" alt=""></td>
                        <td class="linha">
                           <p class="Coluna-conteudo">Comentário</p>
                        </td>
                        <td class="linha Coluna-motivo">Violações dos termos de uso</td>
                        <td class="linha Coluna-categoria">Limpeza</td>
                        <td class="linha Coluna-autor" data-autor="true">User4</td>
                        <td class="linha">
                           <p class="Coluna-status naoAnalisada">Não Analisada</p>
                        </td>
                     </tr>
                     <tr class="linhas"> <!-- Conteudo da tabela -->
                        <td class="linha"> <img class="ver-detalhes-denuncia" src="/imagens-svg/add-rosa.svg" alt=""></td>
                        <td class="linha">
                           <p class="Coluna-conteudo">Comentário</p>
                        </td>
                        <td class="linha Coluna-motivo">Violações dos termos de uso</td>
                        <td class="linha Coluna-categoria">Limpeza</td>
                        <td class="linha Coluna-autor" data-autor="true">User4</td>
                        <td class="linha">
                           <p class="Coluna-status naoAnalisada">Não Analisada</p>
                        </td>
                     </tr>
                  </table>
               </section>
            <!-- tabela Denúncias - Fim -->
         </section>

      </section>
   </main>
   <script src="/js/adm/script-adm-tabelas.js"></script>
</body>

</html>