<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens-svg/5-adm/favcon-adm.svg" type="image/x-icon" />
   
   <link rel="stylesheet" href="../css/style-adm-paginas.css">

   <title>Admin | Premium</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <article class="link-pg-premium">
         Link para a página
         <img class="visualizar-pg-premium" src="/imagens-svg/visualizar-icon-roxo.svg" alt="">
      </article>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="/imagens-svg/5-adm/iconRoxoPagina-premium.svg" alt="" class="imagem-pagina-premium">
            <h1 class="titulo-pagina">PÁGINA | ACESSO PREMIUM</h1>
            <hr class="linha-pagina">
         </section>
      
         <section class="conteudo-pagina">
            
            <section id="adm-tab-buttons">
               <button class="adm-tab-btn-premium" content-id="imagens">
                  Imagens
               </button>

               <button class="adm-tab-btn-premium" content-id="textos">
                  Textos
               </button>

               <button class="adm-tab-btn-premium" content-id="planos">
                  Planos
               </button>

               <button class="adm-tab-btn-premium" content-id="beneficios">
                  Benefícios
               </button>
            </section>

            <!-- conteudo tabs ------------------------------------------------------------------------------ -->
            <section class="adm-tab-contents-premium">
               <article class="adm-content-premium show" id="adm-imagens-premium">
                  aaaa
               </article>

               <article class="adm-content-premium" id="adm-textos-premium">
                  bbbb
               </article>

               <article class="adm-content-premium" id="adm-planos-premium">
                  ccccc
               </article>

               <article class="adm-content-premium" id="adm-beneficios-premium">
                  ddddd
               </article>
            </section>

         </section>
      </section>
   </main>
</body>

</html>