<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens-svg/5-adm/favcon-adm.svg" type="image/x-icon" />
   
   <link rel="stylesheet" href="/css/adm/style-adm-paginas.css">
   <link rel="stylesheet" href="/css/adm/style-adm-banners.css">

   <title>Admin | Banners</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="/imagens-svg/5-adm/iconRoxoPagina-banners.svg" alt="" class="imagem-pagina-banners">
            <h1 class="titulo-pagina">MARKETING & BANNERS</h1>
            <hr class="linha-pagina">
         </section>
   
         <section class="conteudo-pagina">
            <section id="adm-tab-buttons">
               <button class="adm-tab-btn-premium active-btn-premium" content-id="adm-imagens-premium">
                  1º Banner
               </button>

               <button class="adm-tab-btn-premium" content-id="adm-textos-premium">
                  2º Banner
               </button>

               <button class="adm-tab-btn-premium" content-id="adm-planos-premium">
                  3º Banner
               </button>

               <button class="adm-tab-btn-premium" content-id="adm-beneficios-premium">
                  4º Banner
               </button>
            </section>

            <section class="adm-tab-contents-premium">
               <article class="adm-content-premium show" id="adm-imagens-premium">
                  <section class="banner-promocional-adm">
                     <h1 class="titulo-banner-promocional">Primeiro Banner</h1>

                     <select name="" id="" class="dropdown-banner-promocional">
                        <option value="" class="opcao-dropdown-banners">Postagem mais curtida Culinária</option>
                        <option value="" class="opcao-dropdown-banners">Postagem mais curtida Limpeza</option>
                        <option value="" class="opcao-dropdown-banners">Postagem mais curtida Bem-estar</option>
                        <option value="personalizado" class="opcao-dropdown-banners">Personalizado</option>
                        <option value="" class="opcao-dropdown-banners">Nenhum</option>
                     </select>

                     <section class="custom-section">
                        <h1 class="titulo-personalizado-banner"></h1>
                     </section>
                  </section>


               </article>

               <article class="adm-content-premium" id="adm-textos-premium">
                  s
               </article>
               
               <article class="adm-content-premium" id="adm-planos-premium">
                  d
               </article>

               <article class="adm-content-premium" id="adm-beneficios-premium">
                  f
               </article>
            </section>
         </section>
      </section>
   </main>
</body>

</html>