   <main>
      <section class="titulo-linha-pagina">
         <h1 class="titulo-pagina">DASHBOARD ADMINISTRATIVO</h1>
         <hr class="linha-pagina">
      </section>

      <section class="conteudo-pagina">
         <article class="bloco bloco-denuncias">
            <h2 class="titulo-bloco">Denúncias | Análises e avaliação</h2>
            <img src="imagens/iconRoxoClaro-denuncias.png" alt="" class="icon-denuncias-roxo-claro">
            <canvas id="Grafico_Denuncias" style="height: 20vh;width: 55vh;"></canvas>
         </article>

         <article class="bloco bloco-Postagens-Perguntas">
            <h2 class="titulo-bloco">Postagens & Perguntas | Publicações de Categorias</h2>
            <canvas id="Grafico_Postagens" style="height: 24vh;width: 65vh; margin-top: 3vh; margin-bottom: 1vh;"></canvas>
         </article>

         <article class="bloco bloco-Marketing-Banners">
            <h2 class="titulo-bloco">Marketing & Banners | Banners em tempo real</h2>

            <article class="banners">
               <figure class="banner1 banner">
                  <figure class="filtro-roxo-fotoBanner">
                     <img class="editar-banner" src="imagens/icone-editar-lapizinho-branco.png" alt="">
                     <figure class="roxo"></figure>
                     <img class="postagem-banner" src="imagens/carrossel-home-desktop-bemestar.png" alt="">
                  </figure>
                  <h3 class="titulo-banner">Como definir seus cachos</h3>

                  <img class="curtidas-banner-imagem" src="imagens/coracao-cinza-vazio.png" alt="">
                  <p class="curtidas-banner">108 curtidas</p>
                  <br>
               </figure>

               <figure class="banner2 banner">                  
                  <figure class="filtro-roxo-fotoBanner">
                     <img class="editar-banner" src="imagens/icone-editar-lapizinho-branco.png" alt="">
                     <figure class="roxo"></figure>
                     <img class="postagem-banner" src="imagens/carrossel-home-desktop-limpeza.png" alt="">
                  </figure>
                  <h3 class="titulo-banner">Como limpar seu fogão</h3>
                  
                  <img class="curtidas-banner-imagem" src="imagens/coracao-cinza-vazio.png" alt="">
                  <p class="curtidas-banner">108 curtidas</p>
                  <br>
                  <span class="span-banners"><img src="imagens/iconBranco-denuncias.png" alt=""> 21 Denúncias!</span>
               </figure>

               <figure class="banner3 banner">
                  <figure class="filtro-roxo-fotoBanner">
                     <img class="editar-banner" src="imagens/icone-editar-lapizinho-branco.png" alt="">
                     <figure class="roxo"></figure>
                     <img class="postagem-banner" src="imagens/carrossel-home-desktop.png" alt="">
                  </figure>
                  <h3 class="titulo-banner">Arroz de Forno</h3>
                  
                  <img class="curtidas-banner-imagem" src="imagens/coracao-cinza-vazio.png" alt="">
                  <p class="curtidas-banner">108 curtidas</p>
                  <br>
               </figure>
            </article>

            <a class="botao-criar-banner" href="">
               <buttom>
                  <img src="imagens/maizinho-roxo-claro.png" alt="">
               </buttom>
            </a>

         </article>

         <article class="bloco bloco-Premium">
            <h2 class="titulo-bloco">Acesso Premium</h2>
            <img class="gatoroxobloco" src="imagens/iconRoxo-premium.png" alt="">
            <canvas id="Grafico_AcessoPremium" style="height: 30vh;width: 29.5vh; transform: translate(0, -3vh);"></canvas>
         </article>

         <article class="bloco bloco-Premium-Cadastros-Acessos">
            <h2 class="titulo-bloco">Acesso Premium | Cadastros e Acessos</h2>
            <canvas id="Grafico_CadastrosAcessos" style="margin-top: 5vh; margin-bottom: 2vh; height: 25vh;width: 90vh;"></canvas>
         </article>
         
      </section>

   </main>