.grid-menu-filtros-denuncias{
    display: grid;
    grid-template-columns: 12.3% 22% 10% 7% 18% 30%;
    grid-template-rows: 27% 47%;
    grid-column-gap: 1%;
}

.linha-1-titulos{
    display: inline;
    margin-left: 10%;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6vh;
    letter-spacing: 0.1vh;
}

.linha-2-filtros{
    display: inline;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    color: #333333;
    letter-spacing: 0.06vh;
    border: none;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6vh;
    text-align: left;
    line-height: normal;
    appearance: none;
    background: url(/imagens/seta-para-baixo.svg) 96% / 15% no-repeat #d2d2d2;
    background-size: 0.8vw;

    &:focus{
        outline: 0;
    }
}

#pesquisar{
    margin-left: 9.4vh;
}

.icone-pesquisa{
    width: 2.2vh;
    position: absolute;
    margin: 1.8vh 0 0 2.8vh;
}
.pesquisa-input{
    height: 6vh;
    width: 25.5vh;
    border-radius: 40px;
    padding-left: 7vh;
    font-size: 2vh;
    font-family: "Fira Sans", sans-serif;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11372549019607843);
}
.pesquisa-input::placeholder {
    color: #a3a3a3; /* Cor desejada para o placeholder */
  }
  
.fundo-tabela{
    width: 140vh;
    height: 59.4vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5vh;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09019607843137255);
    padding-top: 2.6vh;
    padding-left: 4.5vh;
    padding-right: 4vh;
    padding-bottom: 2vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabela{
    border-collapse: collapse;
    width: 137vh;
    padding-top: 20vh;
}

.cabeçalho-tabela{
    background-color: #EEE3FC;
    border: 2.6px solid #9d5fefea;
}

.titulo-tabela{
    height: 8vh;
    font-family: Fira Sans;
    font-size: 1.9vh;
    color: #333333;
    text-align: left;
    padding-right: 2vh;
}

.linha{
    padding-bottom: 3vh;
    padding-top: 3vh;
    border-bottom: 1px solid #33333364;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
}

/* Classes das celulas dinâmicas - Inicio */
/* Coluna Conteúdo - Inicio */
.ver-detalhes-denuncia{
    margin-left: 2.4vh;
    border: 0.2vh solid #CB218C;
    border-radius: 0.7vh;
    padding: 1vh 1.4vh 1vh 1.4vh;
    cursor: pointer;
}

.Coluna-conteudo{
    display: inline-block;
    max-width: 13vh;
    height: 2.3vh;
    text-align: center;
    color: #5800AA;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.8vh;
    font-weight: 700;
    background-color: #F1F1F1 ;
    border-radius: 5px;
    padding: 1vh 2vh 1vh 2vh;
}
/* Coluna Conteúdo - Fim */

/* Coluna Status - inicio */
.Coluna-status{
    display: inline-block;
    height: 2.3vh;
    text-align: center;
    color: white;
    font-family:  "Fira Sans Bold", "Fira Sans", sans-serif;
    font-size: 1.7vh;
    font-weight: 700;
    border-radius: 5px;
    padding: 1vh 2vh 1vh 2vh;
}

.analisadaAvaliada{
    background-color: #5800AA;
}

.naoAnalisada{
    background-color: #CB218C;
}

.analisada{
    background-color: #F0C75C;
}
/* Coluna Status - Fim */
/* Classes das celulas dinâmicas - Fim */

.asideDetalhes{
    border-bottom: 1px solid #33333364;
    padding-bottom: 3vh;
}

.linha-detalhe-denuncia{
    height: 20vh;
    width: 135vh;
    padding: 2vh;
    background-color: #ececec;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}

.conteudo-detalhe-denuncia{
    height: 15vh;
    border-left: #CB218C solid 0.4vh;
    padding: 2vh;
}

.grid-info-usuario{
    display: grid;
    grid: auto-flow / 18vh 23vh 80vh;
}

.titulo-detalhamento-denuncia{
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6vh;
    margin-bottom: 1vh;
    color: #cb218c;
    line-height: normal;
    letter-spacing: 0.5px;
}

.info-detalhe-denuncia{
    display: flex;
    align-items: center;
    margin-bottom: 3.5vh;
}

.foto-usu-detalhe-denuncia{
    margin-right: 1vh;
}

.grid-btn-detalhes-denuncia{
    display: grid;
    grid-template-columns: 25vh 25vh 25vh;
    gap: 2vh;
}

.link-btn-detalhes-denuncia{
    text-decoration: none;
}

.btn-detalhes-denuncia{
    display: flex;
    width: max-content;
    padding: 0vh 1vh 0vh 1vh;
    height: 4vh;
    border: #cb218c solid 0.3vh;
    border-radius: 0.5vh;
    justify-content: center;
    align-items: center;
}

.txt-btn-detalhes-denuncia{
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 1.4vh;
    color: #cb218c;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.5px;
}