@font-face{
    font-family: Heavitas;
    src: url("../fonts/Heavitas.ttf");
  }
  @font-face{
    font-family: Fira Sans Bold;
    src: url("../fonts/fira-sans.bold.ttf");
  }
  @font-face{
    font-family: Fira Sans;
    src: url("../fonts/fira-sans.regular.ttf");
  }

main{
    background-color: #EAEAEA;
    padding: 3.3vh 0vh 5vh 22.5vh;
}

.titulo-pagina{
    font-size: 4.7vh;
    font-family: Heavitas;
    color: #5800AA;
    margin-bottom: 3vh;
}
.linha-pagina{
    border: #5800AA 0.05vh solid;
    width: 143vh;
    margin-bottom: 3vh;
}
.conteudo-pagina{
    width: 143vh;
}
.bloco{
    background-color: white;
    border-radius: 10px;
    padding: 4vh 4vh 1vh 4vh;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09019607843137255);
}
.titulo-bloco{
    color: #9E5FEF;
    font-size: 2.5vh;
	font-family: Fira Sans;
    margin-bottom: 0vh;
}
.bloco-Premium h2{
    text-align: center;
}
.bloco-denuncias{
    width: 58vh;
    margin: 0vh 3vh 3vh 0vh;
    display: inline-grid;
    padding-bottom: 5.7vh;
}
.bloco-Postagens-Perguntas{
    display: inline-grid;
    width: 65.5vh;  
}
.bloco-Marketing-Banners{
    width: 94vh;
    margin: 0vh 3vh 3vh 0vh;
    display: inline-grid;
}
.bloco-Premium{
    width: 29.5vh;
    display: inline-grid;
    height: 43.2vh;
}
.bloco-Premium-Cadastros-Acessos{
    width: 95vh;
}
.gatoroxobloco{
    width: 4vh;
    transform: translate(12.8vh, 11.2vh);
    display: block;
}
.icon-denuncias-roxo-claro{
    transform: translate(10vh, 11.5vh);
    width: 3.5vh;
}

/* Marketing & Banners | Banners em tempo real */

.banners{
    height: 28vh;
}
.banner1, .banner2, .banner3{
    display: inline-block;
    height: 28vh;
    width: 30vh;
    vertical-align: top;
    border-radius: 5px;
    margin-right: 1vh;
    cursor: pointer;
}
.editar-banner{
    position: absolute;
    z-index: 2;
    margin: 1.5vh 0vh 0vh 25.5vh;
    width: 3.5vh;
    opacity: 0%;
    transition: 0.1s;
}
.filtro-roxo-fotoBanner{
    position: relative;
    z-index: 1;
}
.roxo{
    transition: 0.1s;
    position: absolute;
    background-color: #9E5FEF;
    width: 30vh; 
    height: 16vh; 
    border-radius: 5px;
    opacity: 0%;
}


/* interações hover - Inicio */
.banner:hover .roxo{
    opacity: 50%;
}
.banner:hover .editar-banner{
    opacity: 100%;
}
.banner{
    background-color: transparent;
}
.banner:hover{
    background-color: rgba(0, 0, 0, 0.04);
}
.banner:hover .titulo-banner{
    color: #2c2c2c;
}
/* interações hover - Fim */


.postagem-banner{
    width: 30vh; 
    height: 16vh; 
    object-fit: cover;
    border-radius: 5px;
    display: flex;
}
.titulo-banner{
    margin-top: 1vh;
    font-family: Fira Sans;
    font-size: 2vh;
    font-weight: 700;
    color: #5e5e5e;
}
.curtidas-banner-imagem{
    margin-top: 1vh;
    display: inline-block;
    width: 2.5vh;
}
.curtidas-banner{
    transform: translate(0, -0.5vh);
    display: inline-block;
    font-family: Fira Sans;
    font-size: 1.8vh;
    font-weight: 700;
    margin-left: 0.6vh;
    color: #919191;
}


/* Span de alerta de denunca - Inicio */
.span-banners{
    display: inline-block;
    margin-top: 1vh;
    color: white;
    padding-top: 0.7vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-bottom: 0.5vh;
    border-radius: 5px;
    background-color: #cb214a;
    font-family: Fira Sans;
    font-size: 1.8vh;
    font-weight: 700;
}
.span-banners img{
    width: 2vh;
    margin-right: 0.6vh;
}
/* Span de alerta de denunca - Fim */


.botao-criar-banner{
    width: 93vh;
    height: 4vh;
    border-radius: 5px;
    background-color: #F5ECFF;
    border: 1px solid #9E5FEF;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.botao-criar-banner img{
    width: 2vh;
    margin-top: 1vh;
    margin-left: 45vh;
}