.grid-menu-filtros-denuncias{
    display: grid;
    grid-template-columns: 12.3% 22% 10% 7% 18% 95%;
    grid-template-rows: 27% 47%;
    grid-column-gap: 1%;
}

.linha-1-titulos{
    display: inline;
    margin-left: 10%;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.6vh;
    letter-spacing: 0.1vh;
}

.linha-2-filtros{
    display: inline;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    color: #333333;
    letter-spacing: 0.1vh;
    border: none;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8vh;
    text-align: left;
    line-height: normal;
    appearance: none;
    background: url(/imagens/seta-para-baixo.svg) 96% / 15% no-repeat #d2d2d2;
    background-size: 1vw;

    &:focus{
        outline: 0;
    }
}

.opcao-denuncia-filtro{
     
}

.icone-pesquisa{
    width: 2.2vh;
    position: absolute;
    margin: 1.8vh 0 0 2.8vh;
}
.pesquisa-input{
    height: 6vh;
    width: 25.5vh;
    border-radius: 40px;
    padding-left: 7vh;
    font-size: 2vh;
    font-family: "Fira Sans", sans-serif;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.11372549019607843);
}
.pesquisa-input::placeholder {
    color: #a3a3a3; /* Cor desejada para o placeholder */
  }
  
.fundo-tabela{
    width: 145vh;
    height: 59.4vh;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5vh;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09019607843137255);
    padding-top: 2.6vh;
    padding-left: 4.5vh;
    padding-right: 4vh;
    padding-bottom: 2vh;
    overflow: auto;
}

.tabela{
    border-collapse: collapse;
    width: 145vh;
}

.cabeçalho-tabela{
    background-color: #EEE3FC;
    border: 2.6px solid #9d5fefea;
}

.titulo-tabela{
    height: 8vh;
    font-family: Fira Sans;
    font-size: 1.9vh;
    color: #333333;
    text-align: left;
    padding-right: 2vh;
}

.linha{
    padding-bottom: 3vh;
    padding-top: 3vh;
    border-bottom: 1px solid #33333364;
}

/* Classes das celulas dinâmicas - Inicio */
/* Coluna Conteúdo - Inicio */
.classe-padrao{
    color: #333333;
    font-family: Fira Sans;
    font-size: 1.7vh;
}

.ver-detalhes-denuncia{
    margin-left: 2.4vh;
    border: 0.2vh solid #CB218C;
    border-radius: 0.7vh;
    padding: 1vh 1.4vh 1vh 1.4vh;
}

.p-conteudo{
    position: absolute;
    z-index: 1;
    transform: translate(1.5vh,-2vh);
    height: 2vh;
}
.Conteudo{
    color: #5800AA;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.8vh;
    font-weight: 700;
}
.figure-conteudo{
    background-color: #F1F1F1 ;
    position: absolute;
    border-radius: 5px;
    z-index: 0;
    transform: translate(0,-3vh);
    height: 4vh;
}

.figure-perfil{
    width: 7.5vh;
}
.p-perfil{
    width: 4.5vh;
}
.figure-pergunta{
    width: 10vh;
}
.p-pergunta{
    width: 7vh;
}
.figure-postagem{
    width: 11vh;
}
.p-postagem{
    width: 8vh;
}
.figure-comentario{
    width: 12vh;
}
.p-comentario{
    width: 9vh;
}
/* Coluna Conteúdo - Fim */

/* Coluna Status - inicio */

.Status{
    color: white;
    font-family:  "Fira Sans Bold", "Fira Sans", sans-serif;
    font-size: 1.7vh;
    font-weight: 700;
}
.figure-status{
    height: 4vh;
    position: absolute;
    border-radius: 5px;
    z-index: 0;
    transform: translate(0,-3vh);
}
.p-status{
    height: 2vh;
    position: absolute;
    z-index: 1;
    transform: translate(3vh,-2vh);
}

.figure-analisadaAvaliada{
    width: 23vh;
    background-color: #5800AA;
}
.p-analisadaAvaliada{
    width: 16vh;
}
.figure-naoAnalisada{
    width: 18vh;
    background-color: #CB218C;
}
.p-naoAnalisada{
    width: 12vh;
}
.figure-analisada{
    width: 14vh;
    background-color: #F0C75C;
}
.p-analisada{
    width: 8vh;
}
/* Coluna Status - Fim */
/* Classes das celulas dinâmicas - Fim */