.link-pg-premium{
    position: absolute;
    width:24vh;
    border: 1px solid #9e5fef;
    border-radius: 7px;
    color: #9e5fef;
    letter-spacing: 0.5px;
    font-family: "Fira Sans", sans-serif;
    text-decoration: underline;
    font-size: 1.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4vh;
    margin-left: 120vh;
    gap: 1vh;
}

.adm-content-premium{
    display: none;
}

.adm-content-premium.show{
    display: flex;
    margin-top: 3vh;
}

.adm-tab-btn-premium{
    width: 23vh;
    height: 5vh;
    margin-left: 0.2vh;
    margin-right: 1.5vh;
    font-size: 2vh;
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;;
    letter-spacing: 0.5px;
    border-radius: 0.5vh;
    border: 0.4vh solid #797979;
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color .4s ease;

    &:hover{
    color: #9e5fef;
    border: 0.4vh solid #9e5fef;
    background-color: #eee3fc;
    }
}

.adm-tab-btn-premium.active-btn-premium{
    color: #9e5fef;
    border: 0.4vh solid #9e5fef;
    background-color: #eee3fc;
}

/* conteudo das tabs ----------------------------------------------------------------------------------------------------*/

/* tab imagens */
#adm-imagens-premium{
    justify-content: space-between;
    width: 149vh;
    flex-wrap: wrap;
}

.lado-esquerdo-conteudo-img{
    flex: 1 1 30%; 
}

/* ----------------------------------------------------------------------------------------------- */

.primeira-img-premium{
    display: flex;
    justify-content: space-between;
    width: 64vh;
    height: 19vh;
    background-color: rgb(255, 255, 255);
    padding: 5vh 5vh 5vh 5vh;
    border-top-left-radius: 1vh;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

.titulo-img-premium{
    width: 34vh;
    height: 5vh;
    padding: 0.7vh 0.7vh 0.7vh 1vh;
    border-top-right-radius: 2vh;
    background-color: #9e5fef;
    font-size: 2vh;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #f2f2f2;
}

strong{
    color: #000;
}

.texto-explicativo-img-premium{
    width: 37vh;
    font-family: "Arial Normal", "Arial", sans-serif;
    font-size: 1.5vh;
    color: #333333;
    text-align: left;
    line-height: normal;
    margin-top: 2vh;
}

.texto-recomendativo-de-tamanho{
  font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #000;
  text-align: left;
  line-height: normal;
  margin-top: 2vh;
}

.primeira-img-exposta{
    width: 20vh;
    height: 7vh;
    padding: 5vh 2vh 5vh 2vh;
    border: 0.4vh solid #cccc;
    border-radius: 0.5vh;
}

/* ----------------------------------------------------------------------------------------------- */

.segunda-img-premium{
    width: 64vh;
    height: 20.4vh;
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vh 5vh 5vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

/* ----------------------------------------------------------------------------------------------- */

.terceira-img-premium{
    flex: 1 1 30%; 
    width: 104vh;
    height: 49.3vh;
    padding: 5vh 5vh 5vh 5vh;
    border-top-right-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

.titulo-terceira-img-premium{
    width: 60vh;
    height: 3vh;
    padding: 0.7vh 0.7vh 0.7vh 1vh;
    border-top-right-radius: 2vh;
    background-color: #9e5fef;
    font-size: 2vh;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #f2f2f2;
}

.texto-explicativo-terceira-img-premium{
    width: 64vh;
    font-family: "Arial Normal", "Arial", sans-serif;
    font-size: 1.5vh;
    color: #333333;
    text-align: left;
    line-height: normal;
    margin-top: 2vh;
}

.terceira-img-exposta{
    width: 31vh;
    height: 20vh;
    padding: 2vh 15vh 2vh 15vh;
    margin-top: 6vh;
    border: 0.4vh solid #cccc;
    border-radius: 0.5vh;
}

/* ----------------------------------------------------------------------------------------------- */

.footer-edicao-img{
    order: 1;
    flex: 1 1 100%;
    width: 149vh;
    height: 7vh;
    padding-top: 2vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
}

.btn-editar-img{
    width: 26vh;
    height: 5vh;
    padding: 1vh 4vh 1vh 1vh;
    margin-left: 119vh;
    background-image: linear-gradient(90deg, #6e00c4 0%, #cb218c 200%);
    font-family: "Fira Sans Bold", "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 1.7vh;
    color: rgba(255, 255, 255, 0.99);
    text-align: right;
    line-height: normal;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 0.7vh;
}

.icon-editar-img{
    width: 3vh;
    height: 2.5vh;
    position: absolute;
    margin-top: 1vh;
    margin-left: 122vh;
}

/* tab textos ------------------------------------------------------------------------------------------------------------ */
#adm-textos-premium{
    justify-content: space-between;
    width: 149vh;
    flex-wrap: wrap;
}

.primeiro-texto-acesso-premium{
    flex: 1 1 30%; 
    width: 62vh;
    height: 44vh;
    padding: 5vh 5vh 5vh 5vh;
    border-top-left-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
}

.titulo-primeiro-texto-AP{
    width: 60vh;
    height: 3vh;
    padding: 1vh 0.7vh 0.7vh 1vh;
    border-top-right-radius: 2vh;
    background-color: #9e5fef;
    font-size: 2vh;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #f2f2f2;
}

.descricao-primeiro-texto-AP{
    width: 64vh;
    font-family: "Arial Normal", "Arial", sans-serif;
    font-size: 1.5vh;
    color: #333333;
    text-align: left;
    line-height: normal;
    margin-top: 2vh;
}

.primeiro-texto-exposto{
    width: 61.3vh;
    height: 30vh;
    padding: 1vh 1vh 1vh 1vh;
    margin-top: 2vh;
    border: 0.4vh solid #cccc;
    border-radius: 1vh;
    opacity: 0.68;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-size: 1.5vh;
    font-family: "Arial", sans-serif;
    color: #333333;

    &:focus{
        outline: #6e00c4;
    }
}

/* -------------------------------------------------------------------------------------------------------- */
.segundo-texto-acesso-premium{
    flex: 1 1 30%; 
    width: 62vh;
    height: 44vh;
    padding: 5vh 5vh 5vh 5vh;
    border-top-right-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

/* tab planos ----------------------------------------------------------------------------------------- */
.planos-container-acesso-premium{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 149vh;
}

.adm-plano-semanal{
    width: 40vh;
    height: 40vh;
    padding: 5vh 5vh 5vh 5vh;
    border-top-left-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

.adm-titulo-plano-semanal{
    width: 35vh;
    height: 4vh;
    padding: 1vh 0.7vh 0.7vh 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2vh;
    background-color: #9e5fef;
    font-size: 2vh;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #f2f2f2;
}

.adm-titulo-descricao-plano-semanal{
    font-size: 1.7vh;
    font-family: "Arial Bold", "Arial Normal", "Arial", sans-serif;
    font-weight: 700;
    color: #9e5fef;
    margin-top: 2vh;
}

.adm-descricao-plano-semanal{
    font-size: 1.7vh;
    font-family: "Arial Normal", "Arial", sans-serif;
    color: #333333;
    margin-top: 2vh;
}

strong-roxo{
    color: #9e5fef;
}

.adm-titulo-valor-plano-semanal{
    font-size: 1.7vh;
    font-family: "Arial Normal", "Arial", sans-serif;
    color: #333333;
    margin-top: 2vh;
}

.adm-titulo-quantidade-plano-semanal{
    font-size: 1.7vh;
    font-family: "Arial Normal", "Arial", sans-serif;
    color: #333333;
    margin-top: 2vh;
}

/* ----------------------------------------------------------------------------------------------------- */
.adm-plano-mensal{
    width: 40.1vh;
    height: 40vh;
    padding: 5vh 5vh 5vh 5vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

/* ----------------------------------------------------------------------------------------------------- */
.adm-plano-semestral {
    width: 40vh;
    height: 40vh;
    padding: 5vh 5vh 5vh 5vh;
    border-top-right-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.09);
}

/* ----------------------------------------------------------------------------------------------------- */
.footer-edicao-plano{
    grid-column: span 3;
    width: 150vh;
    height: 7vh;
    padding-top: 2vh;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
}

