@media only screen and (min-width: 480px) {
    .Secao-Banner-principal{
        padding: 13vh 0vh 20vh 20vh;
    }
    .Banner-bigodes-inteiro{
        width: 55vh;
    }
    .Banner-titulo-premium{
        font-size: 2vh;
        width: 15vh;
        font-family: Fira Sans;
        font-weight: 400;
        transform: translate(25vh, -3vh);
    }
    .Banner-linha-rosa{
        border: solid #CB218C 1px;
        width: 60vh;
        margin-bottom: 4vh;
    }
    .Banner-descricao-premium{
        font-size: 1.8vh;
        font-family: Fira Sans;
        font-weight: 300;
        width: 60vh;
        margin-bottom: 4vh;
    }
    .Banner-botao-beneficios{
        width: 40vh;
        height: 7vh;
        background: linear-gradient(-90deg, rgba(159, 85, 255, 1) -111.00000000000001%, rgba(77, 22, 187, 1) 121%);
        color: white;
        border-radius: 13px;
        font-size: 2vh;
        font-family: Fira Sans;
        font-weight: 600;
        transform: translate(1.5vh, -1vh);
        border: none;
        position: absolute;
        z-index: 2;
    }
    .Banner-borda-botao{
        background: transparent;
        border: 2px solid #FFD662;
        width: 40vh;
        height: 7vh;
        border-radius: 13px;
        display: inline-flex;
        position: absolute;
        z-index: -1;
    }
    .Banner-imagem-principal{
        width: 65vh;
    }
    .Figure-Banner{
        position: absolute;
        right: 20vh;
        top: 28vh;
    }

    .Secao-Beneficios-Premium{
        background: linear-gradient(270deg, rgba(159, 85, 255, 1) -88%, rgba(77, 22, 187, 1) 100%);
        padding: 10vh 0vh 5vh 20vh;
    }
    .figure-artigo-beneficios{
        width: 75vh;
        display: inline-block;
    }
    .figure-titulo-beneficios{
        width: 55vh;
        display: inline-flex;
    }
    .estrelinha-titulo{
        width: 5vh; 
        height: 5vh;
        margin-top: 2.5vh;
        display: inline-flex;
    }
    .titulo-beneficios{
        font-size: 4vh;
        color: #FFD662;
        font-weight: 400;
        display: inline-flex;
        margin-left: 5vh;
        width: 45vh;
        margin-bottom: 3vh;
    }
    .texto-beneficios{
        font-family: Fira Sans;
        font-size: 1.7vh;
        color: white;
        width: 60vh;
        margin-top: 0.5vh;
        margin-left: 10vh;
    }

    /* quadro benefícios */
    .quadro-beneficios{
        width: 65vh;
        display: inline-block;
        margin-left: 12vh;
    }
    .cabeçalho-tabela-beneficios th{
        font-size: 2.2vh;
        font-weight: 400;
        color: #FFD662;
        margin-left: 2vh;
    }
    .linhas-tabela-beneficios{
        height: 5vh;
    }
    .coluna-beneficios-estrelinha{
        background-color: #5f25d1;
        padding-top: 3.5vh;
        padding-bottom: 3.5vh;
        padding-left: 2vh;
    }
    .coluna-beneficios-estrelinha img{
        height: 3vh;
    }
    .coluna-beneficios-texto{
        background-color: #5f25d1;
    }
    .coluna-beneficios-texto p{
        font-family: Fira Sans;
    }
    .coluna-beneficios-free{
        background-color: white;
    }
    .coluna-beneficios-free p{
        color: #333333;
    }
    .coluna-beneficios-premium{
        background-color: #F5F0FF;  
    }
    .coluna-beneficios-premium img{
        width: 3vh;
    }
}