    <header>
      <section class="conteudo-dispositivo mobile">

      </section>

      <section class="conteudo-dispositivo desktop">

      <section class="Menu-Adminitrativo-Desktop">
         <article class="menu-fundo-roxo">
            <figure class="iconAdm-Divisor">
               <img src="imagens/Adm-icon-inteiro.png" alt="" class="Imagem-PaginaIncial">
               <img src="imagens/icone-adm-minimizado.png" alt="" class="ImagemMinimizada-PaginaIncial">
               <hr class="divisor-menuAdm">
            </figure>

            <article class="opcoes-menu">
               <a href="/administrativa" class="opcao a-pagina-inicial">
                  <img src="imagens/iconRoxo-paginaInicial.png" alt="" class="ImagemRoxo um PaginaIncial">
                  
                  <img src="imagens/iconBranco-paginaInicial.png" alt="" class="ImagemBrancoUM PaginaIncial">
                  <h3 class="titulo-opcoes-MenuADm text1">Página Inicial</h3>
               </a>

               <a href="/adm-denuncias" class="opcao a-denuncias">
                  <img src="imagens/iconRoxo-denuncias.png" alt="" class="ImagemRoxo dois denuncias">
                  
                  <img src="imagens/iconBranco-denuncias.png" alt="" class="ImagemBrancoDOIS denuncias">
                  <h3 class="titulo-opcoes-MenuADm text2">Denúncias</h3>
               </a>

               <a href="/adm-postagens" class="opcao a-postagens-perguntas">
                  <img src="imagens/iconRoxo-postagens.png" alt="" class="ImagemRoxo tres postagens">
                  
                  <img src="imagens/iconBranco-postagens.png" alt="" class="ImagemBrancoTRES postagens">
                  <h3 class="titulo-opcoes-MenuADm text3">Postagens &<br>Perguntas</h3>
               </a>

               <a href="/adm-usuarios" class="opcao a-usuarios">
                  <img src="imagens/iconRoxo-usuarios.png" alt="" class="ImagemRoxo quatro usuarios">
                  
                  <img src="imagens/iconBranco-usuarios.png" alt="" class="ImagemBrancoQUATRO usuarios">
                  <h3 class="titulo-opcoes-MenuADm text4">Usuários</h3>
               </a>

               <a href="/adm-premium" class="opcao a-acesso-premium">
                  <img src="imagens/iconRoxo-premium.png" alt="" class="ImagemRoxo cinco premium">
                  
                  <img src="imagens/iconBranco-premium.png" alt="" class="ImagemBrancoCINCO premium">
                  <h3 class="titulo-opcoes-MenuADm text5">Acesso Premium</h3>
               </a>

               <a href="/adm-banners" class="opcao a-marketing-banners">
                  <img src="imagens/iconRoxo-banners.png" alt="" class="ImagemRoxo seis banners">
                  
                  <img src="imagens/iconBranco-banners.png" alt="" class="ImagemBrancoSEIS banners">
                  <h3 class="titulo-opcoes-MenuADm text6">Marketing &<br>Banners</h3>
               </a>
            </article>

            <article class="perfil-sair">
               <figure class="perfil-administrador">
                  <img src="imagens/perfil-adm.png" alt="" class="Icon-Perfil-Adm">
                  <p class="perfilmADM bemvindo">Seja bem vindo!</p>
                  <span class="perfilmADM Admin">Admin: Lais Miharu<br>Amano</span>
               </figure>

               <figure class="sair-da-conta">
                  <img src="imagens/sair-adm.png" alt="" class="icone-sair">
                  <a href="/adm-login" class="link-sair">
                     <p>sair da conta</p>
                  </a>
               </figure>
            </article>
         </article>

         <article class="minimizar-menu-adm">
            <img src="imagens/minimizar-menu.png" alt="" class="flecha-minimizar">
         </article>
      </section>

      </section>
    </header>
   <script src="../js/script-menu-adm.js"></script>