<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/style-home-mob.css">
   <link rel="stylesheet" href="../css/base-post-mb.css">
   <link rel="stylesheet" href="../css/style-header.css">
   <link rel="stylesheet" href="../css/style-base-post-desk.css">
   <link rel="stylesheet" href="../css/style-footer.css">
   <script src="../js/script-header.js"></script>
   <script src="../js/script-Home-SemLogin.js"></script>
   <script src="../js/script-base-post-desk.js"></script>
   <link rel="shortcut icon" href="imagens/favicon.png" type="image/x-icon" />
   <title>Como que Faz | Página Inicial</title>
</head>

<body>
      
   <%- include("../partial/"+pagina.menu-administrativo) %>
   <main>
      <%- include("../partial/"+pagina.conteudo) %>
   </main>

</body>

</html>