<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">


   <link rel="stylesheet" href="/css/adm/style-menu-administrativo.css">
   <link rel="stylesheet" href="/css/adm/style-adm-dashboard.css">
   <link rel="stylesheet" href="/css/adm/style-adm-denuncias.css">
   <link rel="stylesheet" href="/css/adm/style-adm-paginas.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

   <link rel="shortcut icon" href="imagens/favcon-adm.png" type="image/x-icon" />
   <title>Admin | Como Que Faz</title>

</head>

<body>
   <header>
      <%- include("../partial/"+pagina.cabecalho) %>
   </header>
      
   <main>
      <%- include("../partial/"+pagina.conteudo) %>
   </main>

   <script src="/js/adm/script-adm-graficos.js"></script>
   <script src="/js/adm/script-adm-menu.js"></script>
   <script src="/js/adm/script-adm-tabelas.js"></script>
</body>

</html>