<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/css/style-Pagina-Inicial.css">
   <link rel="stylesheet" href="/css/style-Rodape.css">
   <link rel="stylesheet" href="/css/style-Cabecalho.css">
   <link rel="stylesheet" href="/css/style-Base-Post.css">
   <link rel="stylesheet" href="/css/style-Login.css">
   <link rel="stylesheet" href="/css/style-Premium.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" >
   <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   
   <link rel="shortcut icon" href="imagens/favicon.png" type="image/x-icon" />
   <title>Como que Faz | Página Inicial</title>
</head>

<body>
   <header>
      <%- include("../partial/"+pagina.cabecalho) %>
   </header>

   <main>
      <%- include("../partial/paginas/"+pagina.conteudo) %>
   </main>

   <footer>
      <%- include("../partial/"+pagina.rodape) %>
   </footer>

   <script src="../js/script-header.js"></script>
   <script src="../js/script-template.js"></script>
</body>

</html>