<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="stylesheet" href="/css/style-Cabecalho.css">
   <link rel="stylesheet" href="/css/style-Rodape.css">
   <link rel="stylesheet" href="/css/criar_conteudo/criar-post-desk-pop-up.css">
   <link rel="stylesheet" href="/css/criar_conteudo/modal-perguntar.css">
   <link rel="stylesheet" href="/css/paginas/style-Pagina-Inicial.css">
   <link rel="stylesheet" href="/css/paginas/style-Base-Post.css">
   <link rel="stylesheet" href="/css/paginas/style-Login.css">
   <link rel="stylesheet" href="/css/paginas/style-Premium.css">
   <link rel="stylesheet" href="/css/paginas/style-sair-da-conta.css">
   <link rel="stylesheet" href="/css/paginas/style-perfil.css">
   <link rel="stylesheet" href="/css/paginas/style-base-post-desk.css">
   <link rel="stylesheet" href="/css/paginas/style-favoritos-desktop.css">
   <link rel="stylesheet" href="/css/paginas/style-categoria.css">
   <link rel="stylesheet" href="/css/style-dica.css">
   <link rel="stylesheet" href="/css/style-pergunta.css">
  

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css">
   <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
   <script src="../js/script-login.js"></script>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   
   <link rel="shortcut icon" href="imagens/favicon.png" type="image/x-icon" />

   <title>Como que Faz?</title>
   
</head>

<body>
   <header>
      <%- include("../partial/cabecalhos/"+pagina.cabecalho) %>
   </header>

   <main>
      <%- include("../partial/paginas/"+pagina.conteudo) %>

      <% if (usuario_logado && usuario_logado.autenticado) { %>
         <%- include("../partial/popup_criacao_conteudo") %>
      <%}%>
   </main>

   <footer>
      <%- include("../partial/"+pagina.rodape) %>
   </footer>

   <script src="../js/script-header.js"></script>
   <script src="../js/script-template.js"></script>
  

   <script src="../js/script-base-post-desk.js"></script>
   <script src="../js/script-Home.js"></script>
   <script src="../js/script-pag-categoria.js"></script>
   <script src="../js/script-perfil.js"></script>

   <script src="../js/script-login.js"></script>
   <script src="../js/criar_conteudo/script-criar-post-mb.js"></script>
   <script src="../js/criar_conteudo/script-botao-criar.js"></script>
   <script src="../js/criar_conteudo/criar-post-desk-pop-up.js"></script>
   <script src="../js/criar_conteudo/criar-pergunta.js"></script>
   <script src="../js/criar_conteudo/script-postagem.js"></script>

</body>

</html>