<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens/favcon-adm.png" type="image/x-icon" />
   
   <link rel="stylesheet" href="../css/style-adm-paginas.css">

   <title>Admin | Banners</title>
</head>

<body>

   <main>
      <section class="conteudo-dispositivo mobile">
      </section>

      <section class="conteudo-dispositivo desktop">
         <section class="titulo-linha-pagina">
            <img src="imagens/iconRoxoPagina-banners.png" alt="" class="imagem-pagina-banners">
            <h1 class="titulo-pagina">MARKETING & BANNERS</h1>
            <hr class="linha-pagina">
         </section>
   
         <section class="conteudo-pagina">
            
         </section>
      </section>
   </main>
</body>

</html>