<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="imagens/favcon-adm.png" type="image/x-icon" />

   <link rel="stylesheet" href="../css/style-adm-dashboard.css">

   <title>Admin | Como Que Faz</title>
</head>

<body>

   <main>
      <section class="titulo-linha-pagina">
         <h1 class="titulo-pagina">DASHBOARD ADMINISTRATIVO</h1>
         <hr class="linha-pagina">
      </section>

      <section class="conteudo-pagina">
         <article class="bloco bloco-denuncias">
            <h2 class="titulo-bloco">Denúncias | Análises e avaliação</h2>
            <canvas id="Grafico_Denuncias" style="width:100%;max-width:55vh"></canvas>
         </article>

         <article class="bloco bloco-Postagens-Perguntas">
            <h2 class="titulo-bloco">Postagens & Perguntas | Publicações de Categorias</h2>
         </article>

         <article class="bloco bloco-Marketing-Banners">
            <h2 class="titulo-bloco">Marketing & Banners | Banners em tempo real</h2>
         </article>

         <article class="bloco bloco-Premium">
            <h2 class="titulo-bloco">Acesso Premium</h2>
         </article>

         <article class="bloco bloco-Premium-Cadastros-Acessos">
            <h2 class="titulo-bloco">Acesso Premium | Cadastros e Acessos</h2>
         </article>
         
      </section>

   </main>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
   <script src="../js/script-home-graficos.js"></script>
</body>

</html>