    <header>
      <section class="conteudo-dispositivo mobile">

      </section>

      <section class="conteudo-dispositivo desktop">

      <section class="Menu-Adminitrativo-Desktop">
         <article class="menu-fundo-roxo">
            <figure class="iconAdm-Divisor">
               <a href="/adm"><img src="/imagens-svg/5-adm/Adm-icon-inteiro.png" alt="" class="Imagem-PaginaIncial"></a>
               <a href="/adm"><img src="/imagens-svg/5-adm/icone-adm-minimizado.png" alt="" class="ImagemMinimizada-PaginaIncial"></a>
               <hr class="divisor-menuAdm">
            </figure>

            <article class="opcoes-menu">
               <a href="/adm" class="opcao a-pagina-inicial">
                  <img src="/imagens-svg/5-adm/iconRoxo-paginaInicial.svg" alt="" class="ImagemRoxo um PaginaIncial">
                  
                  <img src="/imagens-svg/5-adm/iconBranco-paginaInicial.svg" alt="" class="ImagemBrancoUM PaginaIncial">
                  <h3 class="titulo-opcoes-MenuADm text1">Página Inicial</h3>
               </a>

               <a href="/adm/denuncias" class="opcao a-denuncias">
                  <img src="/imagens-svg/5-adm/iconRoxo-denuncias.svg" alt="" class="ImagemRoxo dois denuncias">
                  
                  <img src="/imagens-svg/5-adm/iconBranco-denuncias.svg" alt="" class="ImagemBrancoDOIS denuncias">
                  <h3 class="titulo-opcoes-MenuADm text2">Denúncias</h3>
               </a>

               <a href="/adm/postagens-perguntas" class="opcao a-postagens-perguntas">
                  <img src="/imagens-svg/5-adm/iconRoxo-postagens.svg" alt="" class="ImagemRoxo tres postagens">
                  
                  <img src="/imagens-svg/5-adm/iconBranco-postagens.svg" alt="" class="ImagemBrancoTRES postagens">
                  <h3 class="titulo-opcoes-MenuADm text3">Postagens &<br>Perguntas</h3>
               </a>

               <a href="/adm/usuarios" class="opcao a-usuarios">
                  <img src="/imagens-svg/5-adm/iconRoxo-usuarios.svg" alt="" class="ImagemRoxo quatro usuarios">
                  
                  <img src="/imagens-svg/5-adm/iconBranco-usuarios.svg" alt="" class="ImagemBrancoQUATRO usuarios">
                  <h3 class="titulo-opcoes-MenuADm text4">Usuários</h3>
               </a>

               <a href="/adm/acesso-premium" class="opcao a-acesso-premium">
                  <img src="/imagens-svg/5-adm/iconRoxo-premium.svg" alt="" class="ImagemRoxo cinco premium">
                  
                  <img src="/imagens-svg/5-adm/iconBranco-premium.svg" alt="" class="ImagemBrancoCINCO premium">
                  <h3 class="titulo-opcoes-MenuADm text5">Acesso Premium</h3>
               </a>

               <a href="/adm/marketing-banners" class="opcao a-marketing-banners">
                  <img src="/imagens-svg/5-adm/iconRoxo-banners.svg" alt="" class="ImagemRoxo seis banners">
                  
                  <img src="/imagens-svg/5-adm/iconBranco-banners.svg" alt="" class="ImagemBrancoSEIS banners">
                  <h3 class="titulo-opcoes-MenuADm text6">Marketing &<br>Banners</h3>
               </a>
            </article>

            <article class="perfil-sair">
               <figure class="perfil-administrador">
                  <img src="/imagens-svg/5-adm/perfil-adm.svg" alt="" class="Icon-Perfil-Adm">
                  <p class="perfilmADM bemvindo">Seja bem vindo!</p>
                  <span class="perfilmADM Admin">Admin: <%= usuario_logado.autenticado %></span>
               </figure>

               <figure class="sair-da-conta">
                  <a href="/">
                  <img src="/imagens-svg/5-adm/sair-adm.svg" alt="" class="icone-sair">
                  </a>
                  <a href="/" class="link-sair">
                     <p>Voltar ao site</p>
                  </a>
               </figure>
            </article>
         </article>

         <article class="minimizar-menu-adm">
            <img src="/imagens-svg/5-adm/minimizar-menu.svg" alt="" class="flecha-minimizar">
         </article>
      </section>

      </section>
    </header>
    